.products-small,
.products-big,
.products-medium {
  margin: 0 -20px 0 0;
}
.products-small ul,
.products-big ul,
.products-medium ul {
  width: 100%;
  overflow: hidden;
}
.products-small li,
.products-big li,
.products-medium li {
  float: left;
  padding: 20px 20px 0 75px;
  width: 145px;
  position: relative;
  font-size: 12px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.products-small li img,
.products-big li img,
.products-medium li img {
  position: absolute;
  left: 0;
  top: 20px;
  border: 1px solid #ccc;
}
.products-small li h3,
.products-big li h3,
.products-medium li h3 {
  margin: 0;
}
.products-small li h3 a,
.products-big li h3 a,
.products-medium li h3 a {
  text-decoration: none;
}
.products-small li h3 a:hover,
.products-big li h3 a:hover,
.products-medium li h3 a:hover {
  text-decoration: underline;
}
.products-small li p,
.products-big li p,
.products-medium li p {
  margin: 7px 0 0;
}
.products-big h2 {
  margin-bottom: 10px;
}
.products-big li {
  padding-left: 0;
  padding-top: 10px;
  width: 220px;
}
.products-big li img {
  display: block;
  margin: 0 0 10px;
  position: relative;
  top: 0;
  left: 0;
}
.products-medium li {
  padding-left: 0;
  width: 340px;
}
.products-medium li img {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin: 10px 20px 0 0;
}
.products-medium li h3 img {
  margin-top: 0;
}
.products-medium li.big h3 {
  font-size: 16px;
}
.products-medium li.big p {
  margin: 10px 0 0;
}
