.yui3-pagebottombar {
	left: 30px;
	right: 30px;
	bottom: 30px;
	position: fixed;
}
	.yui3-pagebottombar div#cancel,
	.yui3-pagebottombar div#more {
		float: left;
		margin-right: 10px;
	}
	.yui3-pagebottombar div#save {
		float: right;
	}

	.yui3-pagebottombar div#cancel button,
	.yui3-pagebottombar div#save button {
		width: 110px;
	}
	.yui3-pagebottombar div#more p {
		padding: 0 15px 0 5px;
		background: url(/cms/content-manager/images/icon-more.png) 100% 12px no-repeat;
	}
