{% if supra.isCmsRequest %}
<div class="block blog-post">
	<p><h3>Blog Post List Short Block is missing for Blog Application</h3>
	Please place this block inside Blog Application page or select related Blog Application at the Block settings section
	</p>
</div>
{% endif %}