@import "common/mixins.less";

//
//  Landing page specific styles
//

//
//  Tag lines
//
.tagline, .tagline-3, .tagline-4 {
	text-align: center;
	
	h2, span {
		background: #fee193;
		padding: 0 10px;
		.font (24px, 34px, #333, bold);
	}
	
	p {
		color: #5f5c5d;
		margin: 10px 0 0;
	}
}

.tagline-2 {
	> div {
		border: 1px solid #d7d6d6;
		border-left: none;
		border-right: none;
		padding: 1px 0;
		.font (14px, 22px, #5f5c5d);
		text-align: center;
		
		> div {
			background: url(/assets/img/tagline-gradient.png) 50% 0 repeat-y;
			padding: 15px 10px;
		}
		
		q {
			display: block;
			color: #a7a7a7;
			font-size: 18px;
			padding: 0 0 15px;
			
			span {
				.font (24px, 30px, #5f5c5d);
				padding: 15px 0 10px;
				display: block;
				background: url(/assets/img/tagline-quote.png) 5px 0 no-repeat;
			}
		}
		
		h2 {
			.font (20px, 25px, #333);
			margin: 0 0 10px;
		}
		
		p {
			margin: 0;
		}
	}
}

.tagline-3 {
	> div {
		border-top: 7px solid #d7d6d6;
		border-bottom: 1px solid #d7d6d6;
		padding: 20px 10px;
		text-align: left;
	}
	
	h2 {
		background: none;
		padding: 0;
	}
}

.tagline-4 {
	> div {
		border-bottom: 1px solid #ebebeb;
		background: #f3f3f3 url(/assets/img/tagline-4-shadow.png) repeat-x;
		padding: 20px 10px;
		text-align: center;
	}
	
	h2 {
		background: none;
	}
}

.about-small {
	font-size: 12px;
	
	h2 {
		margin: 0;
	}
	
	p {
		margin: 7px 0 0;
	}
}

.about-big {
	.font (18px, 25px);
	
	h2 {
		margin: 0;
	}
	
	p {
		margin: 10px 0 0;
	}
}

.more {
	text-align: right;
	padding: 5px 0 0;
}

.promo-description {
	background: #e1e0e0;
	padding: 10px 0;
	margin: 0 0 40px;
	color: #5f5c5d;
	font-size: 12px;
	
	h2 {
		margin: 0;
	}
	
	p {
		margin: 7px 0 0;
	}
	
	.button {
		margin: 12px 0 0;
	}
}

//
// Products
//
@import "elements/products.less";

//
//  
//
.products-stickers {
	ul {
		width: 100%;
		overflow: hidden;
	}
	
	li {
		padding-bottom: 15px;
		background: url(/assets/img/products-stickers-shadow.png) 0 100% no-repeat;
		margin-bottom: 5px;
		
		a {
			border: 1px solid #e9e9e9;
			display: block;
			color: #5f5c5d;
			text-decoration: none;
			padding: 19px;
			font-size: 12px;
			line-height: 18px;
			
			* {
				text-decoration: none;
			}
			
			strong {
				font-size: 18px;
				display: block;
				padding: 0 0 10px;
			}
			
			img {
				width: 180px;
				height: 80px;
			}
			
			&:hover {
				border-color: darken(#e9e9e9, 25%);
			}
		}
	}
}

.products-line {
	border-top: 1px solid #d7d6d6;
	height: 30px;
	clear: both;
	width: 100%;
	overflow: hidden;
}

.products-huge {
	font-size: 12px;
	color: #5f5c5d;
	
	h2 {
		.font (26px, normal, #333, bold);
		margin: 0 10px 15px;
	}
	
	h3 {
		.font(18px, normal, #333, bold);
	}
	
	h4 {
		.font(16px, normal, #333, bold);
	}
	
	p {
		margin: 7px 0 0;
	}
	
	img {
		float: left;
		border: 1px solid #ccc;
		margin: 0 10px 10px 0;
	}
}

//  
//  Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	//
	//  Tagline
	//
	.tagline, .tagline-3, .tagline-4 {
		h2, span {
			font-size: 18px;
			line-height: 28px;
		}
	}
	
	//
	//  Large text
	//
	.about-big {
		
		h2 {
			color: #5F5C5D;
		}
		
		color: #5F5C5D;
		font-size: 16px;
		line-height: 20px;
		
		padding-bottom: 35px;
	}
	
	//
	//  Promo block with text
	//
	.promo-description {
		padding: 14px 13px 25px;
		
		font-size: 10px;
		line-height: 14px;
		
		> div.grid_12,
		> div.grid_4 {
			width: auto;
			float: none;
			display: block;
		}
		> div.grid_4 {
			text-align: center;
		}
		
		h2 {
			color: #333;
			font-size: 18px;
		}
		
		.button {
			margin-top: 19px;
		}
	}
	
	//
	//  Large product list
	//
	.products-huge {
		color: #5F5C5D;
		font-size: 10px;
		line-height: 16px;
		
		h2 {
			.font (22px, normal, #5F5C5D, bold);
			margin: 0 0 9px;
		}
		
		h3 {
			.font(18px, normal, #5F5C5D, normal);
		}
		
		h4 {
			.font(16px, normal, #5F5C5D, bold);
		}
		
		p {
			margin: 7px 0 0;
		}
		
		img {
			float: left;
			border: 1px solid #ccc;
			margin: 0 10px 10px 0;
		}
		
		.more {
			font-size: 12px;
		}
	}
	
}

//
//  Less common elements used on this page
//
@import "elements/promo.less";
@import "elements/news.less";

