<h1>Four columns layout</h1>
<div class="columns">
	<div><!--placeHolder(first)--></div>
	<div><!--placeHolder(second)--></div>
	<div><!--placeHolder(third)--></div>
	<div class="last"><!--placeHolder(fourth)--></div>
</div>