<h1>One + One + Two columns layout</h1>
<div class="columns">
	<div><!--placeHolder(first)--></div>
	<div><!--placeHolder(second)--></div>
	<div class="large-two last"><!--placeHolder(third)--></div>
</div>