<h1>Two + One + One columns layout</h1>
<div class="columns">
	<div class="large-two"><!--placeHolder(first)--></div>
	<div><!--placeHolder(second)--></div>
	<div class="last"><!--placeHolder(third)--></div>
</div>