.yui3-mediabar-hidden {
	display: none;
}

.yui3-mediabar {
	background: #fff;
	border: 1px solid #eee;
	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	
	z-index: 10 !important;
}

	.yui3-mediabar-content {
		overflow: hidden;
		width: 316px;	/* 300 + 16px for scrollbar */
		height: 100%;
	}
	.yui3-mediabar-lists {
		width: 9000px;
	}
	.yui3-mediabar-content ul {
		list-style: none;
		padding: 24px 0 4px 3px;
	}
	.yui3-mediabar ul {
		float: left;
		width: 308px;
		list-style: none;
		padding: 4px;
		position: relative;
	}
	.yui3-mediabar li {
		overflow: hidden;
		padding: 1px;
		border: 1px solid #fff;
		cursor: pointer;
	}
	.yui3-mediabar li:hover {
		background: #fff;
		border: 1px solid #ccc;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
		box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
		
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	
	.yui3-mediabar li.empty,
	.yui3-mediabar li.empty:hover {
		background: none;
		border: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		
		font-size: 13px;
		padding: 5px;
		text-align: center;
		cursor: default;
	}
	
	.yui3-mediabar .yui3-mediabar-lists img {
		float: left;
		margin: 1px 11px 1px 1px;
	}
	.yui3-mediabar .yui3-mediabar-lists p {
		float: left;
		padding: 14px 0 0;
		font-size: 14px;
	}
	.yui3-mediabar .yui3-mediabar-lists .image p {
		padding-top: 7px;
	}
	.yui3-mediabar .image span {
		display: block;
		color: #999;
		font-size: 13px;
		padding: 1px 0 0;
	}
	
	.yui3-mediabar-heading {
		height: 20px;
		padding: 7px 7px 2px;
	}
		.yui3-mediabar-heading .yui3-mediabar-button-close {
			float: right;
		}
		
	.yui3-mediabar-footer {
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
