{% spaceless %}
<div class="logo"><i></i>
	{% set rootPage = supra.isActive('/',true) %}
	{% if not rootPage %}
		<a href="/">
	{% endif %}
		{% set imageid = supraBlock.property('logotype') %}
		{% if imageid %}
			{{ supraBlock.imageHtmlTag(imageid, 400, 200) | raw }}
		{% else %}
			<img src="{{ supra.theme.urlBase }}assets/img/logo.png" alt="">
		{% endif %}
	{% if not rootPage %}
		</a>
	{% endif %}
</div>
{% endspaceless %}
