<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Generator" content="SiteSupra" />
	<meta http-equiv="MSSmartTagsPreventParsing" content="TRUE" />
	<meta http-equiv="imagetoolbar" content="no" />
	{{ supra.responseContext.getLayoutSnippetContents('meta') | raw }}
	<title>{% block title %}SiteSupra{% endblock %}</title>
	<link rel="stylesheet" href="/resources/themes/default/css/supra.css" type="text/css" />
	<link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
	<div id="header" title="Header">
		<div class="inner">
			<!--placeHolder(header)-->
		</div>
	</div>
	<div id="sidebar" title="Sidebar">
		<!--placeHolder(sidebar)-->
	</div>
	<div id="content" title="Main">
		{% block content %}
			<!--placeHolder(main)-->
		{% endblock %}
	</div>
	<div id="footer" title="Footer">
		<!--placeHolder(footer)-->
	</div>
		
	{{ supra.responseContext.getLayoutSnippetContents('js') | raw }}
		
</body>
</html>
