@import "/cms/lib/supra/less/common.less";

.su-slideshow-manager {
	.layout-fullscreen();
	
	z-index: 6;
	background: #fff;
	overflow: hidden;
	
	.su-slideshow-manager-content {
		width: 100%;
		height: 100%;
		background: url(/cms/lib/supra/img/background-center.jpg) 50% -48px no-repeat,
								url(/cms/lib/supra/img/background-pattern.jpg) 50% -48px repeat;
		
		.box-sizing (border-box);
	}
	
	// Iframe
	.su-iframe.fullscreen {
		position: absolute;
		height: auto;
		top: 0;
		left: 0;
		bottom: 144px;
	}
}

.su-slideshow-manager-list {
	.layout-fullscreen();
	top: auto;
	z-index: 1;
	
	ul {
		width: 110px;
		padding: 0 10px 0 20px;
	}
	
	li {
		float: left;
		margin-right: 10px;
		position: relative;
		
		width: 100px;
		height: 100px;
		
		.background {
			background: url(/cms/content-manager/sitemap/images/tree-item.png) 0 0 no-repeat;
			position: absolute;
			width: 200px;
			height: 167px;
			left: -50px;
			top: 0;
		}
		
		// Active item marker
		.marker {
			background: url(/cms/content-manager/sitemap/images/tree-item-marker.png) 0 0 no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 100px;
			height: 100px;
			display: none;
		}
		&.active .marker {
			display: block;
		}
		
		// Status message
		.status {
			position: absolute;
			left: -2px;
			bottom: -1px;
			width: 104px;
			height: 30px;
			z-index: 5;
			
			&.status-scheduled {
				background: url(/cms/content-manager/sitemap/images/tree-item-status-scheduled.png) 0 0 no-repeat;
			}
			&.status-inactive {
				background: url(/cms/content-manager/sitemap/images/tree-item-status-inactive.png) 0 0 no-repeat;
			}
		}
		
		// Text, image
		.content {
			position: relative;
			z-index: 1;
			width: 100px;
			height: 100px;
			text-align: center;
			cursor: pointer;
			overflow: hidden;
			
			&.blank {
				background: url(/cms/content-manager/slideshowmanager/images/preview-blank.png) 10px 10px no-repeat;
			}
		}
		
		.click-target {
			width: 80px;
			height: 80px;
			margin: 10px;
			background-color: #fff;
			background-position: 50% 100%, 50% 0;
			background-repeat: no-repeat, no-repeat;
			background-size: 60px, cover;
			border-radius: 4px;
			box-shadow: 0 1px 0 rgba(255,255,255,0.24) inset;
			
			&.blank {
				background-position: 0 0;
			}
		}
		
		.center {
			display: inline-block;
			width: 1px;
			height: 100px;
			vertical-align: middle;
		}
		
		.title {
			color: #ffffff;
			font-size: 12px;
			font-weight: bold;
			line-height: 14px;
			text-overflow: ellipsis;
			text-shadow: 0 1px 0 rgba(0,0,0,0.75);
			vertical-align: middle;
			white-space: normal;
			display: inline-block;
			width: 85px;
		}
		
		label {
			position: absolute;
			left: 0;
			bottom: -18px;
			width: 100%;
			color: #fff;
			text-align: center;
		}
		
		&.yui3-dd-dragging {
			opacity: 0.5 !important;
		}
		&.proxy {
			z-index: 10;
			opacity: 1 !important;
		}
	}
	
	// New item button
	li.new-item {
		.background {
			background: url(/cms/content-manager/sitemap/images/apps/page.png) -434px 0 no-repeat;
			left: -47px;
			top: 0;
			width: 191px;
			height: 166px;
		}
	}
	
}
