<!DOCTYPE html>
<html>
	<head>
		<title>Create/Edit tab</title>
	</head>
	<body>
		<style>
				label {
					display: block;
					vertical-align: top; 
				}
				
				textarea {
					width: 400px;
					height: 200px;
				}
		</style>
		<form id="edit-page" action="/social/save-tab" method="post">
			<label>Tab title:
				<input type="text" name="tab-title" value="{% if title %}{{title}}{% endif %}"/>
			</label>
			<label>Content:
				<textarea name="content">{% if content %}{{content}}{% endif %}</textarea>
			</label>
		{% if tabId %}<input type="hidden" name="tab_id" value="{{tabId}}" />{% endif %}
		<input type="hidden" name="page_id" value="{{pageId}}" />
		<input type="submit" value="Submit" />
		</form>
	</body>
</html>