<h2>Gallery</h2>

<ul>
{% for image in supraBlock.property('images') %}
	<li>
		{{ supraBlock.imageHtmlTag( image.imageId, 100, 100, true ) | raw }}
		<h3>{{ image.title }}</h3>
		<p>{{ image.alternativeText }}</p>
	</li>
{% endfor %}
</ul>
