.yui3-linkmanager .yui3-form,
.yui3-linkmanager .yui3-form-content {
	width: 100%;
	height: 100%;
	margin: 0;
}

.yui3-linkmanager .yui3-input-select-list .yui3-button p {
	display: inline-block;
}

.yui3-linkmanager .yui3-input label {
	display: block;
	width: auto;
	padding: 0 0 5px 5px;
}

/**
 * Main slide
 */
#linkToRoot .title {
	text-align: center;
	padding: 20px 0;
}
#linkToRoot .select {
	text-align: center;
}
#linkToRoot .select a {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0 10px;
	width: 100px;
	height: 30px;
	padding: 70px 0 0;
	
	border: 1px solid #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/**
 * Link to page
 */
#linkToPage > .yui3-slideshow {
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 137px; /* Link controls at the bottom */
	width: auto;
	height: auto;
}
#linkToPage .yui3-input-select-list {
	margin: 10px 0;
	text-align: center;
}

#linkManagerType label {
	display: none;
}

#linkManagerExternal .yui3-input,
.yui3-linkmanager .link-controls .yui3-input {
	margin: 10px;
}

.yui3-linkmanager .yui3-input-string input {
	width: 100%;
}

.yui3-linkmanager .yui3-tree-content {
	padding: 0 10px 10px;
}

.yui3-linkmanager .link-controls {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	border-top: 1px solid #eee;
}

.yui3-linkmanager .link-controls-buttons {
	text-align: center;
	margin: 0 10px 10px;
}

/**
 * Media library
 */
.yui3-linkmanager .yui3-medialist {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 115px; /* File controls at the bottom */
	width: 100%;
}
