.button-remove-schedule {
	float: right;
}

.schedule-sidebar {
	padding: 0 10px 10px;
}
.schedule-sidebar h3 {
	padding: 10px 0 0 10px;
	display: inline-block;
	color: #777;
}
.schedule-sidebar .yui3-calendar {
	margin: 10px 0 0;
}
