/*
 * Content wrapper node
 * Needed for HTML5 drag and drop to work correctly
 */
body, html {
	min-height: 100% !important;
	padding: 0 !important;
}

.supra-slideshowmanager-wrapper {
	min-height: 100% !important;
	background: rgba(255, 255, 255, 0) !important;
	display: block !important;
}