/*
 * Content wrapper node
 * Needed for HTML5 drag and drop to work correctly
 */
body, html {
	min-height: 100% !important;
	padding: 0 !important;
}

.supra-slideshowmanager-wrapper {
	min-height: 100% !important;
	background: rgba(255, 255, 255, 0) !important;
	display: block !important;
}

.yui3-input-html-inline-disabled {
	&, * {
		cursor: text !important;
	} 
}

.supra-media .supra-video,
.supra-media img {
	cursor: pointer !important;
}

/* Slide resize handle */
.su-slideshowmanager-resizer {
	background: #009df8 url(/cms/content-manager/slideshowmanager/images/resize-handle.png) 50% 50% no-repeat !important;
	cursor: move !important;
	height: 16px;
	position: relative !important; // for tooltip
	
	.tooltip {
		left: 50%;
		margin-left: -26px;
		width: 30px;
	}
	
	&.yui3-dd-dragging .tooltip {
		opacity: 1;
	}
}
