RewriteEngine On

#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME}.less -f
#RewriteRule ^(.*\.css)$ /cms/lib/supra/combo/combo.php?$1 [PT,NS]

#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} -f
#RewriteRule ^ - [L,NS]
#Missing files take from .vig
#RewriteRule ^(/files/.+)$ http://%{HOST}$1 [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ /index.php$1 [PT,NS]
#RewriteRule ^(.*)$ /index.php$1 [PT,NS]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]