// [headerBackgroundUrl] => (string) /resources/themes/nyancat/images/nyancat.gif
//  [footerBackgroundUrl] => (string) /resources/themes/nyancat/images/nyancat.gif
//  [backgroundColor] => (string) #FFA0A0
//  [name] => (string) nyancat

#header {
	background-image: url(@headerBackgroundUrl);
}

body {
	background-color: @backgroundColor;
}

#footer {
	background-image: url(@footerBackgroundUrl);
}
	