<nav class="fourth">
	<a href="#">Transportlīdzekļu pdrošināšana</a>
	<a href="#">Īpašuma apdrošināšana</a>
	<a href="#">Veselības apdrošināšana</a>
	<a href="#">Ceļojumu apdrošināšana</a>
	<a href="#">Citi apdrošināšanas veidi</a>
</nav>
