<nav class="third">

	<a href="#" class="btn btn-nav btn-expandable"><span><span>Kalkulatori</span></span></a>

	{# Item with children expanded #}
	<a href="#" class="btn btn-nav btn-expandable btn-expanded"><span><span>Noticis negadījums</span></span></a>
	
	{# Expanded content, remove class="expanded" if content shouldn't be visible on page load #}
	<div class="expanded">
		<a href="#">OCTA</a>
		<a href="#">KASKO</a>
		<a href="#">Īpašums</a>
		<a href="#" class="active">Nelaimes gadījums</a>
		<a href="#">Ceļojums</a>
		<a href="#">Speciālā tehnika</a>
	</div>

	<a href="/contacts/ajax-contact" class="btn btn-nav btn-contact" rel="lightbox"><span><span>Uzdot jautājumu</span></span></a>

	{# Item with children #}
	<a href="#" class="btn btn-nav btn-expandable"><span><span>Dokumenti</span></span></a>
	<a href="#" class="btn btn-nav btn-expandable"><span><span>Sadarbības partneriem</span></span></a>
</nav>
