{# Tools #}
<div class="tools clearfix">
	<div class="languages">
		<a href="/lv">LAT</a>
		<a href="/ru">RUS</a>
		<a href="/en">ENG</a>
	</div>
	<div class="sep"></div>
	<div class="contact">
		Tālrunis 67112222
	</div>
	{#
	<div class="sep"></div>
	<div class="zoom">
		@TODO
	</div>
	#}
	<form method="get" action="/search" class="search">
		<span class="input-txt"><input type="text" name="q" value="" /></span>
		<span class="btn btn-small"><span><input type="submit" value="Meklēt" /></span></span>
	</form>
</div>
