<nav class="second bg-color">
	<b class="font">Meklēšana</b>
	<span>Lūdzu ievadiet meklējamo vārdu vai frāzi</span>

	<form method="get" class="form form-search">
		<div class="input-row">
			<span class="input-txt"><span>
				<input type="text" name="q" value="{{ q }}" />
			</span></span>
			<span class="btn"><span><input type="submit" value="Meklēt" /></span></span>
		</div>
	</form>

	{% if error %}
		<span>Notikusi kļūda</span>
	{% else %} 
		{% if q %} 
			<span>Meklēts pēc: “{{ q }}”</span><br />
		{% endif %}

		{% if haveResults %}
			<span>Atrasto pozīciju skaits: {{ resultCount }}</span>
		{% endif %}
	{% endif %}
</nav>
