{% include 'template/search/search-form.html.twig' %}

<div class="text">
	<h1>Meklēšanas rezultāti</h1>

	<p>
		{% if error %} 
			Diemžēl notikusi ķlūda. 
		{% else %} 
			Netika atrasts neviens ieraksts.<br />
			Pārbaudiet meklējamo vārdu vai frāzi un atkārtojiet meklēšanu.
		{% endif %}
	</p>

</div>
