.yui3-medialibrary {
	position: absolute;
	z-index: 2;
	top: 127px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: #fff;
}
.yui3-medialibrary-content {
	border: 1px solid #eee;
	background: #fff;
	width: 100%;
	height: 100%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.yui3-medialibrary .yui3-medialibrary-controls {
	height: 32px;
	padding: 10px 0 10px 10px;
}
.yui3-medialibrary .yui3-medialibrary-controls .yui3-button p {
	display: inline-block;
	min-width: 60px;
}
.yui3-medialibrary .yui3-medialibrary-controls label {
	width: auto;
}

.yui3-medialibrary .yui3-medialist {
	border-top: 1px solid #eee;
	position: absolute;
	left: 1px;
	top: 52px;
	right: 1px;
	bottom: 1px;
}
.yui3-medialibrary .yui3-medialist ul.folder > li {
	border: 1px solid #fff;
	border-bottom: 0;
	padding: 3px 3px 3px 5px;
}
