.user {
	position: absolute;
	bottom: 10px;
}
.user.loading {
	background: url(/cms/lib/supra/img/ajax-loader.gif) 50% 50% no-repeat;
}
.user.loading > div {
	visibility: hidden;
}

.user .su-slide-content {
	width: 100%;
	height: 100%;
}

.userdetails {
	padding-left: 150px;
	overflow: hidden;	/* clear margin */
}

.userdetails form {
	width: 300px;
	margin: 80px auto 0;
	position: relative;
}

.userdetails .info,
.permissions .info {
	position: absolute;
	top: -50px;
	left: -250px;
}

.userdetails .info em,
.permissions .info em {
	display: inline-block;
	vertical-align: middle;
	width: 48px;
	height: 48px;
	
	border: 2px solid #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 2px;
}
.userdetails .info em {
	cursor: pointer;
}
.userdetails .info em:hover {
	border-color: #36c;
}

.userdetails .info img,
.permissions .info img {
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.userdetails .info span,
.permissions .info span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
.userdetails .info a,
.permissions .info a {
	text-decoration: none;
	line-height: 18px;
	cursor: default;
}
.userdetails .info b,
.permissions .info b {
	line-height: 18px;
}