.yui3-page-iframe {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	top: 60px;
}
.yui3-page-iframe-content {
	border: 1px solid #eee;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;		/* Safari, Chrome */
	-moz-box-sizing: border-box;		/* FF */
	-ms-box-sizing: border-box;			/* IE8 */
}
.yui3-page-iframe iframe,
.yui3-page-iframe-temp iframe {
	border: 0;
	background: #fff;
}
.yui3-page-iframe,
.yui3-page-iframe-content {
	overflow: hidden;
}
.yui3-page-iframe iframe,
.yui3-page-iframe-content {
	width: 100%;
	height: 100%;
}

.yui3-page-iframe-hidden {
	display: none;
}

.yui3-page-settings .input-group,
.yui3-form-properties .input-group {
	position: relative;
	margin: 0 -10px;
	padding: 10px 15px 10px 10px;
	border-top: 1px solid #eee;
}
.yui3-page-settings .input-group p.label,
.yui3-form-properties .input-group p.label {
	padding: 0;
}
.yui3-page-settings .input-group-button .yui3-button,
.yui3-page-settings .input-group-button .yui3-button div,
.yui3-form-properties .input-group-button .yui3-button,
.yui3-form-properties .input-group-button .yui3-button div {
	display: block;
}
.yui3-page-settings .input-group-button .yui3-button button,
.yui3-form-properties .input-group-button .yui3-button button {
	width: 100%;
}

/**
 * Loading
 */
.yui3-page-iframe .yui3-page-iframe-temp {
	background: none;
}
.yui3-page-iframe .yui3-page-iframe-temp iframe {
	visibility: visible;
}

.yui3-page-iframe .yui3-page-iframe-loading,
.yui3-page-iframe-temp {
	background: url(../../lib/supra/img/ajax-loader.gif) 50% 50% no-repeat;
}
.yui3-page-iframe .yui3-page-iframe-loading iframe,
.yui3-page-iframe-temp iframe {
	visibility: hidden;
}


/**
 * iframe overlay
 */
.yui3-iframe-overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	opacity: 0;
}
