{% if supra.isCmsRequest %}
<div class="block blog-post">
	<h3>Blog Application not found. Place this block on Blog Application pages or set link to it, using this block settings</h3>
</div>
{% endif %}