<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="./phpunit-schema/phpunit.xsd"
	bootstrap="bootstrap.php"
>
	<testsuites>
		<testsuite name="All Tests">
			<directory suffix="Test.php">.</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../src/lib/Supra</directory>
			<exclude>
				<directory>../src/lib/Supra/Proxy</directory>
				<directory suffix="Interface.php">../src/lib/Supra</directory>
				<directory suffix=".skip.php">../src/lib/Supra</directory>
			</exclude>
		</whitelist>
	</filter>

</phpunit>
