.hidden {
	display: none;
}

form,
.form-message {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 20px 30px 26px;
}
.form .input-row {
    padding: 23px 0 0;
}
.form .input-row-captcha {
    position: relative;
    margin-left: -26px;
    margin-right: -20px;
    padding: 11px 23px 12px 28px; /*142px;*/
}

.form .input-row label {
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    width: 102px;
    padding: 3px 10px 0 0;
}
.form .input-row-captcha label {
    padding-top: 17px;
}

.form .input-row.error-label label {
    color: #f00;
}

.form .error-message {
    color: #f00;
    padding: 5px 31px 0 121px;
}

.form .button-row {
    text-align: right;
    padding: 25px 2px 0;
}

.form-note {
    background: #F7F7F7;
    padding: 22px 20px 70px 26px;
}
.form-note p {
    margin: 0;
}

.form-message {
    padding: 202px 80px 0;
    height: 238px;
    text-align: center;
}
.form-message b {
    font-weight: normal;
    color: #0067B1;
}

.lightbox .form {
    background: none;
    border: 0;
    padding: 0 2px;
}
.lightbox .form .input-row {
    padding: 18px 24px 0 26px;
}
.lightbox .form .input-row label {
    width: 73px;
}

.lightbox .form .input-row-captcha {
    border-top: 1px solid #ccc;
    border-bottom: 0;
    padding: 11px 25px 0 113px;
    margin: 16px 0 0;
    text-align: right;
}
.lightbox .form .input-row-captcha label {
    white-space: nowrap;
    width: auto;
    padding-top: 3px;
}
.lightbox .form .input-row-captcha .image {
    float: left;
}

.lightbox .form .button-row {
    padding: 24px 25px 8px 28px;
    border-top: 1px solid #ccc;
    margin-top: 12px;
}

.lightbox .form-message {
    border-top: 0;
    border-bottom: 0;
    padding-top: 182px;
    height: 215px;
}
.lightbox .form-message + .form {
    border: 0;
}
.lightbox .form-message + .form .button-row {
    padding-top: 0;
    margin-top: 0;
    border: 0;
}
