//
//	Footer
//
footer {
	padding: 15px 0;
	.font (12px, 18px, #fff);
	width: 100%;
	overflow: hidden;
	
	a {
		color: #6ACAFB;
	}
	
	.socials {
		border-bottom: 1px solid rgba(164, 164, 164, 0.3);
		padding: 0 10px 10px;
		height: 30px;
		margin: 0 0 11px;
		
		a {
			margin: 0;
		}
		
		div a {
			margin: 0 0 0 25px;
		}
	}
	
	.container > .text {
		padding: 0 10px;
		margin-bottom: 39px;
	}
	
	ul {
		padding: 0 0 80px;
		width: 100%;
		overflow: hidden;
		
		li {
			float: left;
			padding: 0 10px 20px;
			width: 300px;
		}
	}
	
	h2 {
		.font (18px, normal, #fff, bold);
		padding: 0 0 11px;
		margin: 0;
	}
	
	.text ul {
		padding: 0;
		
		li {
			float: none;
			padding: 11px 0 0 29px;
			width: auto;
			background: url(/assets/img/footer-text-list-bullet.png) 7px 13px no-repeat;
		}
		li:first-child {
			padding-top: 0;
			background-position: 7px 2px;
		}
	}
	
	.copyright {
		padding: 0 10px;
		color: #E1E0E0;
	}
	
	
	.block {
		padding-bottom: 10px;
		
		> h2 {
			font-size: 16px;
			margin-bottom: 15px;
			padding-top: 20px;
			border-bottom: 1px solid #2a343a;
			font-weight: normal;
			line-height: normal;
		}
	}
	
	.quick-nav {
		font-size: 14px;
		
		ul {
			padding: 0;
		}
		
		a {
			display: inline-block;
			margin: 0 0 5px;
		}
	}
	
	.soc-med-col a {
		margin-left: 10px;
	}
	
	.address {
		color: #fff;
		font-size: 12px;
		line-height: 20px;
		
		> div {
			padding: 0 10px;
			overflow: hidden;
		}
		
		h3 {
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			padding: 0 0 10px;
			margin: 0;
		}
		
		.map {
			margin: 10px 0 0;
			display: inline-block;
			
			img {
				.radius (3px);
			}
		}
	}
	
	.contact-form {
		fieldset {
			padding: 0 10px;
		}
		
		.field {
			position: relative;
			padding: 0 0 12px;
		
			label {
				position: absolute;
				left: 0;
				top: 0;
				color: #e1e0e0;
				line-height: 28px;
				font-size: 12px;
				width: 70px;
				text-align: right;
			}
			
			> div {
				margin: 0 0 0 80px;
				text-align: right;
			}
			
			input, textarea {
				width: 90%;
				background: #091821;
				border: 1px solid #162934;
				border-top: 1px solid #071218;
				.radius(3px);
				padding: 5px;
				font-size: 12px;
				line-height: normal;
				color: #fff;
			}
			
			textarea {
				resize: vertical;
				min-height: 130px;
			}
			
			&.full-field > div {
				margin: 0;
			}
		}
		
		.buttons {
			text-align: right;
		}
	}
	
	.about-company {
		> div {
			padding: 0 10px;
			font-size: 12px;
			line-height: 18px;
			color: #e1e0e0;
		}
	}
	
	.bottom {
		clear: both;
		padding: 15px 0 0;
	}
}

//  
//  Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	footer {
		font-size: 11px;
		padding-top: 13px;
		
		.socials {
			padding: 0 0 13px;
			margin: 0 0 23px;
		}
		
		h2 {
			font-size: 14px;
			line-height: 20px;
		}
		
		ul {
			padding-bottom: 13px;
			
			li {
				padding: 0 0 20px;
				float: none;
				width: auto;
			}
		}
		
		.container > .text {
			padding: 0;
			margin-bottom: 20px;
		}
		
		.bottom {
			padding: 0;
			
			p {
				margin: 0 0 5px;
			}
		}
		
		.copyright {
			float: none;
			padding: 0;
			
			color: #E1E0E0;
			font-size: 12px;
			line-height: 18px;
		}
		
		.about-company {
			color: #E1E0E0;
			font-size: 12px;
			line-height: 18px;
			
			> div {
				padding: 0;
			}
		}
		
		.address {
			color: #E1E0E0;
			font-size: 12px;
			line-height: 18px;
			
			> div {
				padding: 0;
			}
		}
	}
	
}