.font (@size: 14px, @height: 1.5em, @color: #333, @weight: normal, @style: normal) {
	font-size: @size;
	line-height: @height;
	font-weight: @weight;
	font-style: @style;
	font-family: Helvetica, Arial, sans-serif;
	color: @color;
}

.animate (@none: none) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}
.animate (@duration: 0s, @property: all, @timing: ease-in-out, @delay: 0s) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}

.opacity (@val: 1) {
	opacity: @val;
	filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity="@val*100~")"; /* IE6+ */
}

.radius (@radius) {
	-o-border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-ms-border-radius: @radius;
	border-radius: @radius;
}

.shadow (@none: none) {
	-o-box-shadow: @none;
	-moz-box-shadow: @none;
	-webkit-box-shadow: @none;
	-ms-box-shadow: @none;
	box-shadow: @none;
}
.shadow (@x, @y, @blur, @color) {
	-o-box-shadow: @x @y @blur @color;
	-moz-box-shadow: @x @y @blur @color;
	-webkit-box-shadow: @x @y @blur @color;
	-ms-box-shadow: @x @y @blur @color;
	box-shadow: @x @y @blur @color;
}
.shadow (@x, @y, @blur, @color, @x2, @y2, @blur2, @color2) {
	-o-box-shadow: @x @y @blur @color, @x2 @y2 @blur2 @color2;
	-moz-box-shadow: @x @y @blur @color, @x2 @y2 @blur2 @color2;
	-webkit-box-shadow: @x @y @blur @color, @x2 @y2 @blur2 @color2;
	-ms-box-shadow: @x @y @blur @color, @x2 @y2 @blur2 @color2;
	box-shadow: @x @y @blur @color, @x2 @y2 @blur2 @color2;
}