.products-small,
.products-big,
.products-medium {
	margin: 0 -20px 0 0;
	
	ul {
		width: 100%;
		overflow: hidden;
	}
	
	li {
		float: left;
		padding: 20px 20px 0 75px;
		width: 145px;
		position: relative;
		.font (12px, 17px);
		
		img {
			position: absolute;
			left: 0;
			top: 20px;
			border: 1px solid #ccc;
		}
		
		h3 {
			margin: 0;
			
			a {
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		p {
			margin: 7px 0 0;
		}
	}
}

.products-big {
	h2 {
		margin-bottom: 10px;
	}
	
	li {
		padding-left: 0;
		padding-top: 10px;
		width: 220px;
		
		img {
			display: block;
			margin: 0 0 10px;
			position: relative;
			top: 0;
			left: 0;
		}
	}
}

.products-medium {
	li {
		padding-left: 0;
		width: 340px;
		
		img {
			position: relative;
			top: 0;
			left: 0;
			float: left;
			margin: 10px 20px 0 0;
		}
		
		h3 img {
			margin-top: 0;
		}
		
		&.big {
			h3 {
				font-size: 16px;
			}
			
			p {
				margin: 10px 0 0;
			}
		}
	}
}

//  
//  Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	.products-small,
	.products-big,
	.products-medium {
		
		li {
			width: auto;
			padding-right: 0;
		}
		
	}
	
}