body {
	.font;
	background: #0a1e29 url(/assets/img/pattern/10.png);
	cursor: url(/assets/img/test.cur);
}

p {
	margin: 0 0 1em;
}

img.align-left,
img.align-right {
	margin: 3px 0 1em;
}
img.align-left {
	margin-right: 20px;
}
img.align-right {
	margin-left: 20px;
}

img.shadow {
	.shadow (0, 1px, 5px, #999);
}
img.border {
	border: 3px solid #ccc;
}

a {
	color: #2c87b6;
	
	.animate (0.1s);
}

h1 {
	.font (24px, normal, #333, bold);
	margin: 0 0 15px;
}

h2 {
	.font (16px, normal, #333, bold);
	margin: 0 0 10px;
}

h3 {
	.font (14px, normal, #333, bold);
	margin: 0 0 7px;
}

table {
	width: 100%;
	border-left: 1px solid #cee3ee;
	
	th, td {
		border-right: 1px solid #cee3ee;
		padding: 7px 10px;
	}
	
	th {
		background: #6daccd;
		color: #fff;
		text-align: left;
		
		p, h1, h2, h3, h4, h5 {
			//Heading in heading, no need for extra margin
			margin: 0;
		}
	}
	
	td {
		border-bottom: 1px solid #cee3ee;
	}
	
	.odd td {
		background: #f0f7fa;
	}
	
	.selected td {
		background: #c0e1f2;
		border-right-color: #a8d3e9;
	}
}

.text {
	//To prevent collisions with other content we set styles for .text
	ul, ol {
		padding-left: 30px;
		margin: 1em 0;
		
		ul, ol {
			padding-left: 20px;
		}
	}
	ul {
		list-style-type: disc;
	}
	ol {
		list-style-type: decimal;
	}
}

// Font size styles ("html body" to increase importance)
html body {
	.font-6 { font-size: 6px; }
	.font-8 { font-size: 8px; }
	.font-9 { font-size: 9px; }
	.font-10 { font-size: 10px; }
	.font-11 { font-size: 11px; }
	.font-12 { font-size: 12px; }
	.font-14 { font-size: 14px; }
	.font-16 { font-size: 16px; }
	.font-18 { font-size: 18px; }
	.font-24 { font-size: 24px; }
	.font-30 { font-size: 30px; }
	.font-36 { font-size: 36px; }
	.font-48 { font-size: 48px; }
	.font-60 { font-size: 60px; }
	.font-72 { font-size: 72px; }
	.font-inherit { font-size: inherit; }
}

// Block background styles
.pattern-a {
	background-image: url(/assets/img/block/pattern-a.png);
	background-position: 0 0;
	background-repeat: repeat;
}
.pattern-b {
	background-image: url(/assets/img/block/pattern-b.png);
	background-position: 0 0;
	background-repeat: repeat;
}

// Block border styles
.border-thin {
	border: 1px solid transparent;
}
.border-medium {
	border: 2px solid transparent;
}
.border-thick {
	border: 3px solid transparent;
}
.border-rounded {
	border: 1px solid transparent;
	.radius(8px);
}
.border-dashed {
	border: 1px dashed transparent;
}

//  
//  Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	a {
		text-decoration: none;
	}
	
	h2 {
		color: #5F5C5D;
	}
}