{% set columns  = supraBlock.property('columns') %}
{% set columns_class = "" %}

{% if columns == 'columns_4' %}
	{% set columns_class = "one_fourth" %}
{% elseif columns == 'columns_3' %}
	{% set columns_class = "one_third" %}
{% elseif columns == 'columns_2' %}
	{% set columns_class = "one_half" %}
{% elseif columns == 'columns_1' %}{% endif %}

<li class="{{ columns_class }} type-image {% if first|default(false) %}alpha{% endif %} {% if last|default(false) %}omega{% endif %}">
	<div class="media-wrapper">
		<div class="media-image">
			{{ property.image|raw }}
		</div>
		{% if supra.cmsRequest or property.title %}
			<h2 class="title">
				{{ property.title|raw  }}
			</h2>
		{% endif %}
		<span class="icon icon-image"></span>
		{% if not supra.cmsRequest and columns != 'columns_1' %}
			{% set image = supraBlock.imageHtmlTag(property.image_raw.imageId, 960, 700) %}
			<a rel="lightbox" class="overlay" href="{{ image.getAttribute('src') }}"></a>
		{% endif %}
	</div>
</li>