body {
	padding: 0;
	margin: 0;
	font: 14px Arial, Helvetica, sans-serif;
}
.wrapper {
	padding: 10px;
}

a {
	color: #06c;
}
a:hover {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:visited:hover {
	text-decoration: underline;
}
div {
	padding: 0 10px;
}
div.hr {
	border-top: 1px solid #eee;
	margin: 20px 0 13px;
	padding: 0;
	height: 0;
}

h1 {
	 background: #666;
	 color: #fff;
	 margin: 0;
	 padding: 10px;
	 font-size: 16px;
}
	h1 a {
		color: #fff;
		text-decoration: none;
	}
	h1 a:hover {
		text-decoration: underline;
	}
h2 {
	font-size: 16px;
	font-weight: normal;
	color: #999;
	margin: -25px 0 0;
	position: absolute;
	padding: 0 10px 0 0;
	background: #fff;
}