@import "/cms/lib/supra/less/common.less";

.yui3-gallery-manager {
	.layout-fullscreen();
	
	z-index: 6;
	background: #fff;
	overflow: hidden;
	
	.yui3-gallery-manager-content {
		width: 100%;
		height: 100%;
		
		.box-sizing (border-box);
	}
}

/**
 * Image settings toolbar
 */
.right-container {
	z-index: 7;
}

/**
 * List
 */
.yui3-gallery-manager .list {
	padding: 10px 0 0 10px;
	overflow: hidden;
	
	& > li {
		padding: 5px;
		margin: 0 10px 10px 0; 
		background: #fff;
		float: left;
		min-width: 200px;
		min-height: 200px;
		
		.box-shadow (0 1px 3px rgba(0,0,0,.25));
	}
	& > li.empty {
		cursor: move;
		width: 200px;
		height: 200px;
		background: #eee;
	}
	
	& > li.yui3-dd-dragging {
		/* Item which is draged */
		opacity: 0.25;
		.box-shadow (none);
	}
	& > li.gallery-item-proxy {
		/* Drag proxy item */
		opacity: 0.5;
		width: 200px !important;
		height: 200px !important;
	}
	
	span.img {
		display: block;
		cursor: move;
		min-height: 100px;
		text-align: center;
		background: #F6F6F6;
		position: relative;
		
		b {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: #f6f6f6;
			opacity: 0;
			
			font-style: italic;
			font-weight: normal;
			line-height: 200px;
			text-align: center;
		}
		i {
			display: inline-block;
			width: 0px;
			height: 200px;
			overflow: hidden;
			vertical-align: middle;
		}
		img {
			display: inline-block;
			vertical-align: middle;
			cursor: move;
		}
	}
	
	& > li.gallery-item-over span.img b {
		opacity: 0.75;
	}
	
	//Inline editable
	p.inline {
		color: #323144;
		cursor: pointer;
		line-height: 26px;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 192px;
		height: 26px;
		overflow: hidden;
		padding-left: 8px;
		
		&:hover {
			text-decoration: underline;
		}
		&.empty {
			color: #A8A9BD;
		}
	}
	
	.yui3-input {
		padding-right: 0;
		
		&.input-label-replacement,
		.input-label-replacement {
			span.replacement {
				text-shadow: none;
				width: 192px;
				max-width: 192px;
				padding-left: 8px;
				
				&.empty {
					color: #A8A9BD;
				}
			}
			
			input,
			textarea {
				color: #323144;
				font-size: 12px;
				text-shadow: none;
			}
		}
	}
	
	span + p {
		padding-top: 8px;
	}
}