@import "/cms/lib/supra/less/common.less";

.yui3-gallery-manager {
	.layout-fullscreen();
	
	z-index: 6;
	background: #fff;
	overflow: hidden;
	
	.yui3-gallery-manager-content {
		width: 100%;
		height: 100%;
		background: url(/cms/lib/supra/img/background-center.jpg) 50% -48px no-repeat,
					url(/cms/lib/supra/img/background-pattern.jpg) 50% -48px repeat;
		
		.box-sizing (border-box);
	}
}

/**
 * Image settings toolbar
 */
.right-container {
	z-index: 7;
}

/**
 * List
 */
.yui3-gallery-manager .list {
	padding: 0 0 0 10px;
	overflow: hidden;
	min-height: 100%;
	
	& > li {
		padding: 5px;
		margin: 10px 10px 0 0; 
		background: #fff;
		float: left;
		min-width: 200px;
		min-height: 200px;
		
		.box-shadow (0 1px 3px rgba(0,0,0,.25));
	}
	
	& > li.gallery-marker {
		width: 200px;
		height: 234px;
		display: none;
		background: #E5E5E5;
		padding: 5px;
		cursor: pointer;
		
		.empty-label {
			display: none;
			padding: 4px 0 10px;
			
			color: #54576B;
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
			text-align: center;
		}
		.drop-icon, .add-icon {
			border: 5px solid #F2F2F2;
			height: 190px;
			
			color: #8B8C94;
			font-size: 14px;
			font-weight: bold;
			line-height: 16px;
			text-align: center;
			
			img {
				display: block;
				margin: 44px 0 4px 54px;
			}
		}
		.add-icon {
			// "Add image"
			font-size: 18px;
			line-height: 18px;
			
			span {
				display: block;
				height: 84px;
				margin: 44px 0 10px 53px;
				overflow: hidden;
			}
			img {
				position: relative;
				margin: 0;
			}
		}
		&:hover .add-icon img {
			margin-top: -84px;
		}
		&.mousedown .add-icon img {
			margin-top: -168px;
		}
		
		.drop-icon {
			// "Drag and drop folder or files here"
			display: none;
		}
		.drop-add {
			// "or just drag-and-drop file here"
			color: #8B8C94;
			font-size: 11px;
			font-weight: bold;
			line-height: 12px;
			padding: 7px 38px 0 8px;
			height: 35px;
			
			background: url(/cms/content-manager/gallerymanager/images/icon-drop-small.png) 100% 6px no-repeat;
		}
	}
	/*
	&.gallery-over > li.gallery-marker {
		display: block;
	}
	*/
	
	&.list-empty > li.gallery-marker {
		// List is empty, but media sidebar is not opened
		display: block;
		
		.empty-label {
			display: block;
		}
		.drop-icon, .add-icon {
			height: 140px;
		}
		.add-icon span,
		.drop-icon img {
			margin-top: 16px;
		}
	}
	&.mediasidebar-opened > li.gallery-marker {
		// Media sidebar opened and list is empty
		display: block;
		cursor: default;
		
		.add-icon {
			display: none;
		}
		.drop-icon {
			display: block;
		}
	}
	&.mediasidebar-opened.list-empty > li.gallery-marker {
		// Media sidebar opened and list is empty
		
	}
	
	& > li.empty {
		cursor: move;
		width: 200px;
		height: 200px;
		background: #eee;
	}
	
	& > li.yui3-dd-dragging {
		/* Item which is draged */
		opacity: 0.25;
		.box-shadow (none);
	}
	& > li.gallery-item-proxy {
		/* Drag proxy item */
		opacity: 0.5;
		width: 200px !important;
		height: 200px !important;
	}
	
	span.img {
		display: block;
		cursor: move;
		min-height: 100px;
		text-align: center;
		background: #F6F6F6;
		position: relative;
		
		b {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: #f6f6f6;
			opacity: 0;
			
			font-style: italic;
			font-weight: normal;
			line-height: 200px;
			text-align: center;
		}
		i {
			display: inline-block;
			width: 0px;
			height: 200px;
			overflow: hidden;
			vertical-align: middle;
		}
		img {
			display: inline-block;
			vertical-align: middle;
			cursor: move;
		}
	}
	
	& > li.gallery-item-over span.img b {
		opacity: 0.75;
	}
	
	//Inline editable
	p.inline {
		color: #323144;
		cursor: pointer;
		line-height: 26px;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 192px;
		height: 26px;
		overflow: hidden;
		padding-left: 8px;
		
		&:hover {
			text-decoration: underline;
		}
		&.empty {
			color: #A8A9BD;
		}
	}
	
	.yui3-input {
		padding-right: 0;
		
		&.input-label-replacement,
		.input-label-replacement {
			span.replacement {
				text-shadow: none;
				width: 192px;
				max-width: 192px;
				padding-left: 8px;
				
				&.empty {
					color: #A8A9BD;
				}
			}
			
			input,
			textarea {
				color: #323144;
				font-size: 12px;
				text-shadow: none;
			}
		}
	}
	
	span + p {
		padding-top: 8px;
	}
}