@import "/cms/lib/supra/less/common.less";

.yui3-gallery-manager {
	.layout-fullscreen();
	
	z-index: 6;
	background: #fff;
	overflow: hidden;
	
	.yui3-gallery-manager-content {
		width: 100%;
		height: 100%;
		
		.box-sizing (border-box);
	}
	
	/**
	 * Heading
	 */
	.yui3-gallery-manager-controls {
		height: 37px;
		padding: 7px 0 0 10px;
		background: url(/cms/lib/supra/img/sidebar/left-header-bg.gif) 0 0 repeat;
		border-bottom: 1px solid #B3B3C3;
		
		.su-button p {
			display: inline-block;
			min-width: 60px;
		}
		label {
			width: auto;
		}
	}
}

/**
 * Image settings toolbar
 */
.right-container {
	z-index: 7;
}

/**
 * List
 */
.yui3-gallery-manager .list {
	padding: 10px 0 0 10px;
	overflow: hidden;
	
	& > li {
		padding: 5px;
		margin: 0 10px 10px 0; 
		background: #fff;
		float: left;
		min-width: 200px;
		min-height: 200px;
		
		.box-shadow (0 1px 3px rgba(0,0,0,.25));
	}
	img {
		display: block;
		cursor: move;
	}
	& > li.empty {
		cursor: move;
		width: 200px;
		height: 200px;
		background: #eee;
	}
	
	& > li.yui3-dd-dragging {
		/* Item which is draged */
		opacity: 0.25;
		.box-shadow (none);
	}
	& > li.gallery-item-proxy {
		/* Drag proxy item */
		opacity: 0.5;
		width: 200px !important;
		height: 200px !important;
	}
	
	//Inline editable
	p.inline {
		color: #323144;
		cursor: pointer;
		line-height: 26px;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 192px;
		height: 26px;
		overflow: hidden;
		padding-left: 8px;
		
		&:hover {
			text-decoration: underline;
		}
		&.empty {
			color: #A8A9BD;
		}
	}
	
	.yui3-input {
		padding-right: 0;
		
		&.input-label-replacement,
		.input-label-replacement {
			span.replacement {
				text-shadow: none;
				width: 192px;
				max-width: 192px;
				padding-left: 8px;
				
				&.empty {
					color: #A8A9BD;
				}
			}
			
			input,
			textarea {
				color: #323144;
				font-size: 12px;
				text-shadow: none;
			}
		}
	}
	
	img + p {
		padding-top: 5px;
	}
}