.permissions .yui3-slideshow-multiview {
	left: 292px;
	top: 32px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #eee;
	width: auto;
	height: auto;
}

.permissions .yui3-slideshow-multiview-slide:first-child {
	border-right: 0;
}

.properties .yui3-button-group p {
	min-width: 50px;
}

/* Permission list */
.yui3-permission-list {
}
.yui3-permission-list-hidden {
	display: none;
}
.yui3-permission-list-content {
	border: 2px solid #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-height: 150px;
	margin: 0 10px;
}
.yui3-permission-list .yui3-dd-drop-over {
	border-color: #CDECFF;
}
.yui3-permission-list label.lbl {
	display: none;
	color: #777;
	font-size: 14px;
	font-style: italic;
	line-height: 150px;
	text-align: center;
}
.yui3-permission-list label.lbl:first-child {
	display: block;
}

.yui3-permission-list-item {
	margin: 10px 0;
}
.yui3-permission-list-item > p {
	padding: 0 10px;
	color: #777;
	font-size: 14px;
}
.yui3-permission-list .yui3-input-select-list label {
	display: inline-block;
	width: 195px;
	padding-left: 10px;
}
.yui3-permission-list .yui3-input-select-list {
	display: inline-block;
}

/* Tree */
#treeSlide {
	padding: 10px;
}
.permissions .yui3-tree-node-proxy {
	z-index: 2;
}


/* Dial */
.yui3-skin-supra .yui3-dial .yui3-dial-label-string {
	min-width: 0;
	padding: 0;
	cursor: default;
}
.yui3-skin-supra .yui3-dial .yui3-dial-label-string:hover {
	background: none;
	border: 0;
}
.yui3-skin-supra .yui3-dial .yui3-dial-value-string {
	display: none;
}
.yui3-skin-supra .yui3-dial .yui3-dial-center-button {
	/*display: none;*/
}

.yui3-input-dial .yui3-input-dial-center {
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 20px;
	background: url(images/dial.png) 50% 50% no-repeat;
}
.yui3-input-dial label {
	vertical-align: middle;
	padding-top: 14px;
}
.yui3-input-dial .yui3-input-dial-dial {
	position: absolute;
	width: 37px;
	height: 3px;
	left: 50px;
	top: 55px;
	
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-transform: rotate(0deg);
	-moz-transform-origin: left center;
	-webkit-transform: rotate(0deg);
	-webkit-transform-origin: left center;
	transform: rotate(0deg);
	transform-origin: left center;
	
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.yui3-input-dial em {
	display: block;
	cursor: pointer;
	position: absolute;
	padding: 8px;
	margin: -8px 0 0 0;
	
	font-size: 12px;
	line-height: 15px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.yui3-input-dial em.selected {
	color: #36c;
	font-size: 14px;
}
.yui3-input-dial em.pos-c {
	text-align: center;
	right: 0;
	left: 0;
	top: -12px;
}
.yui3-input-dial em.pos-l,
.yui3-input-dial em.pos-r {
	z-index: 1;
}
