<div style="background: pink; padding: 20pt;">
	<h3>Block "{{ blockName }}"</h3>
	<p>We are very sorry, but a serious block execution error occurred.<br />
	Please wait for a few minutes and if the problem doesn't disappear delete the block and insert a new one instead.</p>
</div>
