@import "../common/mixins.less";

//
//  Product slider
//
.products-slider {
	border-top: 3px solid #95c3da;
	padding-top: 20px;
	color: #5f5c5d;
	font-size: 12px;
	overflow: hidden;
	position: relative;
	
	h2 {
		margin: 12px 0 0;
	}
	
	p {
		margin: 7px 0 0;
	}
	
	ul {
		width: 100000%;
		overflow: hidden;
		position: relative;
	}
	
	li {
		padding: 0 0 10px;
		display: none;
		position: relative;
	}
	
	img {
		width: 220px;
		height: 125px;
	}
	
	.nav-arrows {
		padding: 0 0 10px;
		text-align: center;
		clear: both;
		
		a {
			display: inline-block;
			width: 37px;
			height: 37px;
			background: url(/assets/img/products-strip-nav.png);
			margin: 0 5px;
			.opacity (0.5);
			vertical-align: top;
			
			&:hover {
				.opacity;
			}
		}
		
		.next {
			background-position: -37px 0;
		}
	}
	
	.nav-arrows-pages {
		clear: both;
		width: 100%;
		overflow: hidden;
		
		> div {
			background: #2c87b6;
			float: right;
			padding: 0 100px 0 20px;
			line-height: 38px;
			font-size: 12px;
			color: #fff;
			position: relative;
			
			.prev, .next {
				width: 22px;
				height: 21px;
				background: url(/assets/img/products-strip-nav.png) 0 -37px;
				position: absolute;
				top: 8px;
				right: 55px;
				
				&:hover {
					.opacity(0.7);
				}
				
				&.disabled {
					.opacity (0.3);
					cursor: default;
				}
			}
			
			.next {
				background-position: -22px -37px;
				right: 20px;
			}
		}
		
		em {
			list-style: none;
		}
	}
	
	.nav-scrollbar {
		height: 8px;
		position: relative;
		background: url(/assets/img/products-scroller.gif);
		.radius(5px);
		
		a {
			display: block;
			position: absolute;
			width: 100%;
			height: 8px;
			background: #d7d7d7;
			.radius(5px);
			.animate;
		}
	}
	
	&.style-border {
		border-top: 0;
		
		li {
			img {
				width: 210px;
				height: 90px;
				padding: 4px;
				border: 1px solid #f1f0f0;
			}
		}
		
		h2 {
			font-size: 16px;
			color: #5f5c5d;
		}
		
		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&.style-box {
		li {
			padding-bottom: 15px;
			background: url(/assets/img/products-stickers-shadow.png) 0 100% no-repeat;
			margin-bottom: 5px;
			
			.outer {
				border: 1px solid #e9e9e9;
				display: block;
				color: #5f5c5d;
				text-decoration: none;
				padding: 19px;
				font-size: 12px;
				line-height: 18px;
				
				* {
					text-decoration: none;
				}
				
				strong {
					font-size: 18px;
					display: block;
					padding: 0 0 10px;
				}
				
				.img {
					display: block;
					width: 100%;
					overflow: hidden;
				}
				img {
					width: 180px;
					height: 80px;
					margin-top: 12px;
				}
			}
			
			a.outer:hover {
				border-color: darken(#e9e9e9, 25%);
			}
			
			a.outer,
			a.outer * {
				cursor: pointer; 
			}
		}
		
		h2 {
			margin: 0;
		}
	}
	
	&.animation-none {
		
	}
	
	&.animation-horizontal {
		li.clear {
			display: none !important;
		}
	}
}

//
//  Product slider
//
.products-strip {
	border-top: 3px solid #95c3da;
	padding-top: 20px;
	color: #5f5c5d;
	font-size: 12px;
	overflow: hidden;
	position: relative;
	
	h2 {
		margin: 12px 0 0;
	}
	
	p {
		margin: 7px 0 0;
	}
	
	ul {
		width: 100000%;
		overflow: hidden;
		position: relative;
	}
	
	li {
		padding: 0 0 10px;
		display: none;
		position: relative;
	}
	
	img {
		width: 220px;
		height: 125px;
	}
	
	.nav {
		padding: 0 0 10px;
		text-align: center;
		clear: both;
		
		a {
			display: inline-block;
			width: 37px;
			height: 37px;
			background: url(/assets/img/products-strip-nav.png);
			margin: 0 5px;
			.opacity (0.5);
			vertical-align: top;
			
			&:hover {
				.opacity;
			}
		}
		
		.next {
			background-position: -37px 0;
		}
	}
	
	.nav-2 {
		clear: both;
		width: 100%;
		overflow: hidden;
		
		> div {
			background: #2c87b6;
			float: right;
			padding: 0 100px 0 20px;
			line-height: 38px;
			font-size: 12px;
			color: #fff;
			position: relative;
			
			.prev, .next {
				width: 22px;
				height: 21px;
				background: url(/assets/img/products-strip-nav.png) 0 -37px;
				position: absolute;
				top: 8px;
				right: 55px;
				
				&:hover {
					.opacity(0.7);
				}
				
				&.disabled {
					.opacity (0.3);
					cursor: default;
				}
			}
			
			.next {
				background-position: -22px -37px;
				right: 20px;
			}
		}
		
		em {
			list-style: none;
		}
	}
	
	.nav-3 {
		height: 8px;
		position: relative;
		background: url(/assets/img/products-scroller.gif);
		.radius(5px);
		
		a {
			position: absolute;
			width: 100%;
			height: 8px;
			background: #d7d7d7;
			.radius(5px);
			.animate;
		}
	}
	
	&.products-strip-2 {
		border-top: 0;
		
		ul {
			width: 100%;
			overflow: hidden;
		}
		
		li {
			display: block;
			padding-bottom: 20px;
			
			img {
				width: 210px;
				height: 90px;
				padding: 4px;
				border: 1px solid #f1f0f0;
			}
		}
		
		h2 {
			font-size: 16px;
			color: #5f5c5d;
		}
		
		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&.products-strip-3,
	&.products-strip-4 {
		border-top: 0;
		
		ul {
			width: 100%;
			overflow: hidden;
		}
		
		li {
			display: block;
			padding-bottom: 20px;
		}
		
		h2 {
			font-size: 16px;
			color: #5f5c5d;
		}
		
		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		.grid_12 {
			margin: 0;
			width: 720px;
		}
		
		> .grid_4 {
			font-size: 14px;
			color: #5f5c5d;
			
			h2 {
				.font (22px, normal, #5f5c5d);
				margin: 0;
			}
		}
	}
	
	&.products-strip-4 {
		li {
			padding-left: 60px;
			width: 160px;
			font-size: 12px;
			line-height: 16px;
			
			h2 {
				margin: 0 0 0 -60px;
				height: 18px;
			}
			
			img {
				width: 40px;
				height: 40px;
				position: absolute;
				left: 0;
				top: 27px
			}
			
			.more {
				text-align: left;
			}
		}
	}
}

//  
//  Product slider Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	.products-slider {
		padding-top: 13px;
		
		h2 {
			color: #5F5C5D;
		}
		img {
			width: 300px;
			height: auto;
		}
		
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid #EBEAEA;
		
		.nav {
			a {
				background-image: url(/assets/img/mobile-portrait/products-strip-nav.png);
				width: 31px;
				height: 31px;
			}
			.next {
				background-position: -31px 0;
			}
		}
		
		&.products-strip-4 {
			li {
				width: auto;
			}
		}
		
		&.style-box {
			li {
				background: none;
				margin-bottom: 0;
			}
		}
	}
	
	
}