.promo-slider {
	position: relative;
	
	ul.promo-slider-list {
		height: 358px;
		width: 100%;
		overflow: hidden;
		position: relative;
		
		li {
			width: 100%;
			height: 358px;
			overflow: hidden;
			color: #fff;
			
			img {
				position: absolute;
				left: 0;
				top: 0;
			}
			
			> div {
				position: relative;
				left: 380px;
				top: 55px;
				width: 480px;
				padding: 20px 50px;
				background: rgba(0, 0, 0, 0.65);
			}
		}
	}
	
	ul.promo-slider-view {
		li {
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			overflow: hidden;
		}
	}
	
	h2 {
		.font (36px, normal, #fff, bold);
	}
	
	.nav {
		position: absolute;
		top: 310px;
		right: 10px;
		background: url(/assets/img/promo-nav.png) no-repeat;
		.opacity(0);
		
		div {
			height: 27px;
			background: url(/assets/img/promo-nav.png) 100% -54px no-repeat;
			padding: 0 13px;
			overflow: hidden;
			
			div {
				background-position: 0 -27px;
				background-repeat: repeat-x;
				padding: 7px 0 0;
			}
		}
		
		a {
			width: 13px;
			height: 13px;
			display: inline-block;
			background: url(/assets/img/promo-pins.png);
			vertical-align: top;
			margin-left: 5px;
			.animate;
			
			&:first-child {
				margin: 0;
			}
			
			&.active {
				background-position: 0 -13px;
				cursor: default;
			}
		}
	}
	
	.shadow {
		height: 30px;
		background: url(/assets/img/promo-shadow.jpg);
	}
	
	.prev, .next {
		width: 41px;
		height: 41px;
		background: url(/assets/img/promo-arrows.png);
		position: absolute;
		left: 15px;
		top: 160px;
		.opacity (0);
	}
	
	.next {
		left: auto;
		right: 15px;
		background-position: -41px 0;
	}
	
	.thumbs {
		position: absolute;
		right: 70px;
		bottom: 50px;
		
		li {
			display: block;
			float: left;
			overflow: hidden;
			width: 100px;
			height: 49px;
			margin: 0 0 0 20px;
			cursor: pointer;
			.opacity (0.5);
			.animate(0.1s);
			
			img {
				display: block;
				//Don't show full image, only part of it
				max-width: 200%;
				margin-left: -25%;
			}
			
			&:first-child {
				margin-left: 0;
				.opacity (1);
			}			
			&:hover {
				.opacity (1);
			}
		}
	}
	
	
	// ---------------- STYLES -----------------
	
	
	&.dots {
		.more {
			a,
			a span {
				height: 35px;
				.font(16px, 35px, #fff, bold);
				display: inline-block;
				text-decoration: none;
				background: url(/assets/img/promo-button.png) no-repeat;
				.animate;
				
				span {
					background-position: 100% -70px;
					padding: 0 40px 0 20px;
					
					span {
						background-position: 0 -35px;
						background-repeat: repeat-x;
						padding: 0;
					}
				}
				
				
				&:hover {
					background-position: 0 -105px;
					
					span {
						background-position: 100% -175px;
						
						span {
							background-position: 0 -140px;
						}
					}
				}
			}
		}
	}
	
	&.arrows {
		ul.promo-slider-list li > div {
			margin: 0 0 0 490px;
			height: 100%;
			padding: 50px 60px;
			width: auto;
			left: auto;
			top: auto;
		}
		
		h2 {
			color: #00c0ff;
		}
		
		.more {
			text-align: left;
			
			a {
				line-height: 20px;
				height: 20px;
				display: inline-block;
				padding: 0 20px 0 0;
				background: url(/assets/img/promo-more.png) 100% 50% no-repeat;
				color: #ffd800;
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&.arrows-outer {
		
		.prev {
			left: -15px;
			z-index: 3;
		}
		
		.next {
			right: -15px;
			z-index: 3;
		}
		
		ul.promo-slider-list li > div {
			left: 410px;
			padding: 20px;
			width: 460px;
		}
		
		.more {
			text-align: right;
			
			a {
				padding: 0 25px 0 0;
				line-height: 30px;
				height: 30px;
				display: inline-block;
				background: url(/assets/img/promo-more-3.png) 100% 4px no-repeat;
				color: #fff;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: bold;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	&.thumbs {
		ul.promo-slider-list li > div {
			top: 0;
			left: 410px;
			height: 100%;
			padding: 60px 20px;
			width: 460px;
		}
		
		.more {
			text-align: right;
			
			a {
				padding: 0 25px 0 0;
				line-height: 30px;
				height: 30px;
				display: inline-block;
				background: url(/assets/img/promo-more-3.png) 100% 4px no-repeat;
				color: #fff;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: bold;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.promo-right {
	background: #e9f3f8;
	font-size: 12px;
	
	> div {
		padding: 15px 20px;
	}
	
	h2 {
		font-size: 14px;
		text-align: center;
	}
	
	.button,
	.button span {
		display: block;
		text-align: center;
	}
}


//
// #Tablet (Portrait)
//

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.promo-slider {
		.shadow {
			height: 24px;
			background: url(/assets/img/promo-shadow-768.jpg);
		}
		
		/* Default dot design */
		ul.promo-slider-list li {
			& > div {
				left: 228px;
				width: 440px;
			}
		}
		
		/* Arrow design */
		&.arrows ul.promo-slider-list li > div {
			margin-left: 358px;
		}
		
		/* Arrows outside design */
		&.arrows-outer ul.promo-slider-list li > div {
			left: 278px;
			width: 400px;
		}
		
		/* Thumbnail design */
		&.thumbs ul.promo-slider-list li > div {
			left: 278px;
			width: 460px;
		}
		.thumbs {
			right: 25px;
			
			li {
				margin-left: 15px;
				
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	
}

	
//  
//  #Mobile (Portrait + Landscape)
//
@media only screen and (max-width: 767px) {
	
	.promo-slider {
		
		.prev,
		.next {
			.opacity(1);
			background: url(/assets/img/mobile-portrait/promo-arrows.png) 0 50% no-repeat;
			top: -35px;
			height: 100%;
			left: 0;
		}
		.next {
			right: 0;
			left: auto;
			background-position: 100% 50%;
		}
		.shadow {
			display: none;
		}
		
		h2 {
			font-size: 18px;
			line-height: 23px;
			margin-bottom: 4px;
		}
		p {
			margin: 0;
		}
		
		.link {
			display: none;
		}
		.more a {
			color: #fff;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
		
		ul.promo-slider-list {
			height: auto;
			
			li {
				height: auto;
				
				> div {
					background: #2C87B6;
					color: #fff;
					font-size: 11px;
					line-height: 16px;
					
					position: static;
					padding: 8px 23px 15px;
					margin-top: 0;
					width: auto;
					left: auto;
					top: auto;
				}
				
				img {
					position: relative;
					max-width: 150%;
					margin-left: -25%;
				}
			}
		}
		
		&.arrows-outer {
			.next {
				right: 0;
			}
			.prev {
				left: 0;
			}
			
			ul.promo-slider-list li > div {
				width: auto;
				left: auto;
				padding: 8px 23px 15px;
			}
		}
	}
	
}	