{% extends "template/base.html.twig" %}

{% block title %}Login{% endblock %}

{% block header %}Sign In{% endblock %}

{% block content %}
<form id="login_form" method="post">
	<table cellpadding="5" cellspacing="0">
		{% if message %}
		<tr class="error-message">
			<td colspan="2">{{message}}</td>
		</tr>
		{% endif %}
		<tr>
			<td><label for="username">Email:</label></td>
			<td><input autocomplete="off" id="username" type="text" name="supra_login" value="{{ email }}" /></td>
		</tr>
		<tr>
			<td><label for="password">Password:</label></td>
			<td><input autocomplete="off" type="password" id="password" name="supra_password" value="" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="Log in" />
			</td>
		</tr>
	</table>
</form>
{% endblock %}
