<div class="block">
	
	<div class="slideshow-advanced" data-attach="$.fn.slideshowAdvanced" {% if supraBlock.property('scrollTimerEnabled') %}data-scroll-timer="5"{% endif %}>
		<ul class="as-container" data-supra-container="true">
			
			{# Slide data here #}
			<li>
				SLIDESHOW!
			</li>
			
		</ul>
		<div class="decoration"></div>
	</div>
	
</div>
