<div class="main-list">
	
	<div class="languages"></div>
	
	<div class="list-group-select"></div>
	
	<div class="list-add">
		<em><img src="{#application.path#}/bannerlist/images/new.png" alt="" /></em>
		<span>{#list.new#}</span>
	</div>
	
	<a class="next">Next</a>
	<a class="prev">Prev</a>
	
	<div class="list-banners"></div>
	
	<!-- User template -->
	<script type="text/html" id="listBannersItem">
		{% for banner in children %}
			<div class="list-banner hidden" data-banner="{{ banner.banner_id|escape }}">
				<div><img src="{{ banner.external_path|escape }}" alt="" /></div>
				<br />
				<a>{{ banner.title|escape }}</a>
				{% if banner.scheduled %}
					<span class="scheduled">{{ banner.scheduled }}</span>
				{% endif %}
			</div>
		{% endfor %}
	</script>
</div>