<div class="main-list">
	
	<div class="languages"></div>
	
	<div class="list-group-select"></div>
	
	<div class="list-add"></div>
	
	<a class="next">{# list.next #}</a>
	<a class="prev">{# list.prev #}</a>
	
	<div class="list-banners"></div>
</div>

<!-- User template -->
{% template listBannersItem %}

	{% for banner in children %}
		<div class="list-banner hidden" data-banner="{{ banner.banner_id|escape }}">
			<div><img src="{{ banner.external_path|escape }}" alt="" /></div>
			<br />
			<a>{{ banner.title|escape }}</a>
			{% if banner.scheduled %}
				<span class="scheduled">{{ banner.scheduled }}</span>
			{% endif %}
		</div>
	{% endfor %}

{% endtemplate %}