{%if action == 'subscribe' %}

	<h1>Subscribe Action</h1>	
	
	{%if (postedData != true  and error is null) %}

		<form  method="post" >
			<label>Name:</label><input type="text" name="name"/>
			<br/>
			<label>Email address:</label><input type="text" name="email"/>
			<br/>
			<button type="submit">Submit</button>
		</form>

	{%else%}
	
		<h1>Subscribtion confirmation email send on {{ email }}</h1>
		
	{%endif%}
		
{%elseif action == 'unsubscribe' %}
		
	<h1>Unsubscribe Action</h1>	
	
	{%if (postedData != true  and error is null) %}
	
		<form  method="post" >
			<label>Email address:</label><input type="text" name="email"/>
			<button type="submit">Submit</button>
		</form>
	
	{%else%} 
	
		<h1>Unsubscribe confirmation email send on {{ email }}</h1>
	
	{%endif%}
		
{%elseif action == 'confirm_subscribe' %}
<h1>		
		{%if error == true %}
			Incorrect url or your link is expired.
		{%else%}
			Your subscription confirmed.
		{%endif%}
			
{%elseif action == 'confirm_unsubscribe' %}
			
		{%if error == true %}
			Incorrect url or your link is expired.
		{%else%}
			You succesfully unsubscribed.
		{%endif%}
</h1>		
{%endif%}