@import "/cms/lib/supra/less/common.less";

.su-page-designmanager {
	.layout-fullscreen();
	
	z-index: 6;
	background: #fff;
	overflow: hidden;
	
	.su-page-designmanager-content {
		width: 100%;
		height: 100%;
		background: url(/cms/lib/supra/img/background-center.jpg) 50% -48px no-repeat,
								url(/cms/lib/supra/img/background-pattern.jpg) 50% -48px repeat;
		
		.box-sizing (border-box);
	}
	
	.customize,
	.customize > div,
	.su-iframe,
	.su-iframe iframe {
		.layout-fullscreen();
		top: 0;
		width: 100%;
		height: 100%;
	}
}