<div style="background: pink; padding: 20pt;">
	<h3>Block "{{ blockName }}" caught a nasty exception during execute!</h3>
	Please stand by while this minor failwhale leaves.
	Or You could just delete this block.
</div>
