//Common style definitions
@import "/cms/lib/supra/less/common.less";

/**
 * Design
 */
.design {
	position: absolute;
	bottom: 0;
	
	/**
	 * Slideshow
	 */
	.su-slide-content {
		height: 100%;
	}
	
	/**
	 * Slideshow slide contents
	 */
	.su-slide > .overview,
	.su-slide > .themes,
	.su-slide > .preview {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		height: auto;
	}
	
	/**
	 * Design fadein/fadeout overlay
	 */
	.fade-overlay {
		position: absolute;
		z-index: 6;
		left: -10px;
		top: -10px;
		width: 0;
		height: 0;
		background: url(/cms/lib/supra/img/background-pattern.jpg) 50% 0 repeat;
		
		div {
			position: absolute;
			right: 0;
			width: 288px;
			border: 1px solid rgba(142, 143, 152, 0.2);
			border-right: 0;
			background: url(/cms/lib/supra/img/background-pattern-dark.jpg) 0 0 repeat;
			top: 37px;
			height: 83px;
		}
		div + div {
			top: 145px;
			height: auto;
			bottom: 207px;
		}
	}
}
.design.has-design-bar {
	.su-slide > .overview,
	.su-slide > .themes,
	.su-slide > .preview {
		bottom: 176px;
	}
}