@import "/cms/lib/supra/less/common.less";

.yui3-iconsidebar {
	&.yui3-iconsidebar-hidden {
		display: none;
	}
	
	.yui3-iconsidebar-lists {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
	
	.categories {
		margin: 0 0 0 20px;
		
		.button-section {
			margin: 0 0 10px;
		}
	}
	
	.su-slideshow {
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		height: auto;
		
		#icons {
			// since icons has its own scrollable we need to set styles manually
			width: 100%;
			height: 100%;
		}
	}
	
	.yui3-form-default,
	.yui3-form-vertical {
		margin: 20px;
	}
	.search {
		margin: 0;
		
		input {
			width: 100%;
		}
	}
	
	.sidebar-content {
		> .loading-icon {
			display: none;
		}
		
		&.loading > .loading-icon {
			display: block;
		}
	}
}

.su-icon-list {
	position: relative;
	width: 100%;
	height: 100%;
	
	&.su-icon-list-hidden {
		display: none;
	}
	
	.su-icon-list-content {
		width: 100%;
		height: 100%;
	}
	
	ul {
		list-style: none;
		margin-left: 20px;
		
		li {
			float: left;
			width: 23%;
			height: 90px;
			margin: 0 2% 0 0;
			padding: 7px 5px;
			text-align: center;
			border-bottom: 1px solid transparent;
			box-sizing: border-box;
			
			&, img, label {
				cursor: pointer;
			}
			label {
				display: block;
				margin: 5px 0 0;
				
				color: #262137;
				font-size: 11px;
				line-height: 14px;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
			}
		}
		li:hover {
			background: url(/cms/lib/supra/img/blocks/background-hover.gif) 0 0 repeat;
			box-shadow: 0 1px 1px rgba(4,1,17,0.6) inset;
			border-bottom-color: #AFB0C0;
			border-radius: 3px 3px 4px 4px;
			
			label {
				color: #fff;
				text-shadow: 0 1px 0 rgba(85, 85, 105, 0.5);
			}
		}
		li.active {
			background: #009DF8;
			box-shadow: 0 1px 1px rgba(4,1,17,0.6) inset;
			border-bottom-color: rgb(70, 184, 250);
			border-radius: 3px 3px 4px 4px;
			
			label {
				color: #fff;
				text-shadow: 0 1px 0 rgba(85, 85, 105, 0.5);
			}
		}
	}
}
