//Common style definitions
@import "/cms/lib/supra/less/common.less";

.design .themes {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 175px;
	overflow: hidden;
	
	& > div {
		height: 100%;
	}
	
	h1 {
		color: #fff;
		font-size: 24px;
	}
}
