{% extends "root.html.twig" %}

{% block title %}
	SiteSupra &ndash; inner page - [ B ] [ A ] [ N ] [ A ] [ N ] [ A ] [ ! ] 
{% endblock %}

{% block content %}

	<small>BANANA IS THE BESTEST!</small>

	<div id="banana">
		<!--placeHolder(banana)-->
	</div>

	<div style="background-color: yellow;">
		<!--placeHolder(main)-->
	</div>

{% endblock %}
