/**
 * Slide widget
 */
.su-input-slider-cashier {
	.user-select (none);
	position: relative;
	padding: 0;
	
	& > label {
		display: none;
	}
	
	.yui3-slider {
		
		.yui3-slider-rail {
			height: 32px;
			cursor: pointer;
			background: url(../images/cashier/input-slider-outer.png) 321px -64px no-repeat,
						url(../images/cashier/input-slider-outer.png) -7px 0 no-repeat,
						url(../images/cashier/input-slider-outer.png) -7px -32px repeat-x;
		}
		
		.yui3-slider-rail-cap-left,
		.yui3-slider-rail-cap-right {
			height: 32px;
			background: url(../images/cashier/input-slider-outer.png) 0 0 no-repeat;
		}
		.yui3-slider-rail-cap-left {
			left: -7px;
			width: 7px;
		}
		.yui3-slider-rail-cap-right {
			right: -5px;
			width: 5px;
			background-position: 100% -64px;
		}
		
		.yui3-slider-thumb {
			outline: none;
			
			position: absolute;
			top: 3px;
			left: 199px;
			z-index: 1;
			
			background: url(../images/cashier/input-slider-inner.png) 0 -57px no-repeat;
			width: 28px;
			height: 30px;
			cursor: move;
			
			img {
				display: none;
			}
		}
		.yui3-slider-rail-background {
			overflow: hidden;
			
			div {
				margin: 6px 0 8px;
				height: 19px;
				width: 412px;
				
				background: url(../images/cashier/input-slider-inner.png) 327px -38px no-repeat,
							url(../images/cashier/input-slider-inner.png) -7px 0 no-repeat,
							url(../images/cashier/input-slider-inner.png) -7px -19px repeat-x;
			}
		}
	}
	
	.labels {
		position: relative;
		margin: 8px 0 0 4px;
		
		label {
			position: absolute;
			top: 0;
			display: block;
			width: 31px;
			height: 33px;
			padding: 0;
			background: url(../images/cashier/input-slider-labels.png) 0 0 no-repeat;
			
			color: transparent;
			text-shadow: none;
			cursor: pointer;
			
			&.active span {
				display: block;
				position: absolute;
				width: 44px;
				height: 49px;
				left: -8px;
				top: -6px;
				background: url(../images/cashier/input-slide-label-active.png) 0 0 no-repeat;
			}
		}
		
		.label-1 {
			left: 0;
			background-position: 0 0;
		}
		.label-2 {
			left: 100px;
			background-position: -31px 0;
		}
		.label-3 {
			left: 194px;
			background-position: -62px 0;
		}
		.label-4 {
			left: 291px;
			background-position: -93px 0;
		}
		.label-5 {
			left: 390px;
			background-position: -124px 0;
		}
	}
}
