.yui3-input-checkbox-standard {
	width: 17px;
	height: 15px;
	padding: 0;
	background: url(../images/cashier/input-checkbox.png) 0 -15px no-repeat;
	cursor: pointer;
	
	&.checked {
		background-position: 0 0;
	}
	
	label:empty {
		display: none;
	}
}
