.yui3-mediasidebar-hidden {
	display: none;
}

.yui3-mediasidebar-content {
	overflow: hidden;
	height: 100%;
}
.yui3-mediasidebar-lists {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

/**
 * Buttons
 */
.yui3-mediasidebar .yui3-sidebar-buttons .button-close {
	float: right;
	margin-right: 0;
}

/**
 * Media List
 */
.yui3-mediasidebar .yui3-medialist {
	width: 100%;
	height: 100%;
}
.yui3-mediasidebar .yui3-sidebar-content {
	bottom: 53px;
}

/**
 * Footer
 */
.yui3-mediasidebar .yui3-sidebar-footer {
	height: 32px;
	border-top: 1px solid #eee;
	padding: 10px;
	text-align: center;
}


.yui3-mediasidebar .yui3-slideshow-slide.yui3-html5-dd-target {
	
}