{% extends "template/base.html.twig" %}

{% block title %}Private space{% endblock %}

{% block header %}You are logged in{% endblock %}

{% block content %}
	<p>You can read some private content here.</p>
	
	<a href="/{{ basePath }}/logout">Sign Out</a>
{% endblock %}
