{% extends "template/base.html.twig" %}

{% block title %}Logout{% endblock %}

{% block header %}You are logged out{% endblock %}

{% block content %}
	<a href="/{{ basePath }}/login">Go back to the login form</a>
{% endblock %}
