.browser-support {
	top: 0 !important;
	z-index: 16;
	
	.vertical-align {
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -128px; // 256px height / 2
		
		img {
			display: inline-block;
		}
		img.logo {
			margin-bottom: 84px;
		}
	}
}
