{% if supra.request.query.withDate %}
	{% set format = 'Y-m-d H:i:s' %}
{% else %}
	{% set format = 'H:i:s' %}
{% endif %}
<span style="background-color: yellow">Time is {{ 'now' | date( format ) }}</span>

<hr />

<p><a onclick="return $.app.trigger('{{ supraBlock.block.id }}');" href="javascript://">Load again</a></p>
<p><a onclick="return $.app.trigger('{{ supraBlock.block.id }}', [{'withDate': true}]);" href="javascript://">Load, but now with date</a></p>
<p><a onclick="return $.app.trigger('{{ supraBlock.block.id }}', 'reset');" href="javascript://">Reset</a></p>
