//Common style definitions
@import "/cms/lib/supra/less/common.less";


.audit-log {
	position: absolute;
	bottom: 0;
	
	.datagrid {
		
		.row-time {
			padding-top: 7px;
			padding-bottom: 7px;
			
			small {
				display: block;
				
				color: #8C8CA0;
				font-size: 10px;
				line-height: 10px;
			}
		}
		
		.row-subject {
			padding-top: 8px;
			padding-bottom: 8px;
			
			p {
				padding: 4px 0;
				
				&.fatal {
					padding: 0;
				}
			}
		}
		
		.fatal span {
			display: inline-block;
			background: url(../images/datagrid/icon-fatal.png) 0 0 no-repeat;
			width: 69px; // 102 - 33
			height: 24px;
			padding-left: 33px;
			margin-left: 5px;
			vertical-align: middle;
			
			color: #040010;
			line-height: 23px;
			text-shadow: 0 1px 0 #DEDDEA;
		}
		
	}
}

.audit-log-filters {
	.yui3-footer {
		margin: 20px 0 0;
		
		.su-button {
			margin-left: 5px;
		}
		.su-button:first-child {
			margin-left: 0;
		}
	}
}
