<div class="block blog-comments">
	
	<h2 class="block-title"><div>
		{{ commentCount }} {{ supraBlock.property('list_title') }}
	</div></h2>
	
	<div class="commentslist">
		
		{# Comment #}
		<article>
			<div class="comment">
				<div class="avatar">
					<img src="/themes/primo/assets/img/temp/avatar.jpg" alt="" />
				</div>
				<div class="meta-info">
					<span class="author">Admin</span>
					<time datetime="2013-02-07T13:38">February 7, 2013 at 1:38 pm</time>
					<a href="#">- Reply</a>
				</div>
				<p>
					This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.<br />
					This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.<br />
					This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.
				</p>
			</div>
			
			{# Sub comments #}
			<div class="commentslist">
				<article>
					<div class="comment">
						<div class="avatar">
							<img src="/themes/primo/assets/img/temp/avatar.jpg" alt="" />
						</div>
						<div class="meta-info">
							<a class="author" rel="author" href="http://www.google.com" target="_blank">Admin</a>
							<time datetime="2013-02-07T13:38">February 7, 2013 at 1:38 pm</time>
							<a href="#">- Reply</a>
						</div>
						<p>
							<em>Your comment is awaiting moderation.</em><br />
							This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.
						</p>
					</div>
				</article>
			</div>
		</article>
		
	</div>
	
</div>
<div class="block blog-comments-form">
	
	<h2 class="block-title"><div>
		{{ supraBlock.property('form_title') }}
	</div></h2>
	
	<form class="form" method="post">
		
		<div class="row">
			<div class="one_third alpha">
				<input type="text" class="input-text" value="" placeholder="Name (required)" name="name" required />
			</div>
			<div class="one_third">
				<input type="email" class="input-text" value="" placeholder="Email (required)" name="email" required />
			</div>
			<div class="one_third omega">
				<input type="url" class="input-text" value="" placeholder="Website" name="url" />
			</div>
		</div>
		<div class="row">
			<textarea class="input-text" placeholder="Comment..." name="comment"></textarea>
		</div>
		<div class="row">
			<input type="submit" class="button small" value="POST COMMENT">
		</div>
		
	</form>
	
</div>