{% extends "health-insurance.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	{# Text #}
	<div class="text">
		<h1>Kas var iegādāties <i>Gjensidige</i> veselības apdrošināšanas polisi?</h1>

		<p>
			AAS „Gjensidige Baltic” veselības apdrošināšanas polisi var iegādāties tikai juridiskas personas, <a href="#">sākot no 10 darbiniekiem.</a>
		</p>

	</div>
{% endblock %}
