{% extends "property-insurance.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	{# Text #}
	<div class="text">
		<h1>Apdrošināšanas objekts</h1>

		<p class="no-margin">
			Apdrošināts ir apdrošināšanas polisē norādītais nekustamais un/vai kustamais īpašums:
		</p>

		<ul class="no-margin">
			<li>
				<b>Ēkas</b> - ar tajās iebūvētajām komunikācijām, iekārtām, aprīkojumu,
				konstruktīviem elementiem, kas ir ēkas neatņemama sastāvdaļa.
				Nomāto telpu remonta izdevumi un materiāli (grīdu, sienu un griestu
				segumi, logi, durvis, sanitārtehnika, elektroinstalācija, kamīni,
				iebūvētas mēbeles un tml.).
			</li>
			<li>
				<b>Manta</b> - tehnoloģiskās iekārtas un darba mašīnas, darbgaldi, aprīkojums un
				inventārs, krājumi, nomātā un pieņemtā manta, mēbeles, radio, televīzijas
				un video aparatūra un cita elektroniskā aparatūra, mājsaimniecības un sadzīves
				priekšmeti, sporta, saimniecības un lauksaimniecības inventārs, un tml..
			</li>
		</ul>

		<h2>Atsevišķi var vienoties apdrošināt:</h2>

		<ul class="no-margin">
			<li>
				<b>Būves</b> - baseini, vārti, nožogojumi, pagalmu un teritoriju segumi, nojumes,
				aizsargsienas, kas nav ēku sastāvdaļas, piestātnes;
			</li>
			<li>
				Ēkās un telpās vai pie tām uzstādītas iekārtas un ietaises (antenas, izkārtnes,
				reklāmas iekārtas, un tml.), kas nav ēku sastāvdaļas;
			</li>
			<li>
				<b>Ārējie cauruļvadi</b>, kas atrodas uzņēmuma teritorijā, atzarojas no apdrošinātās
				ēkas līdz maģistrālajam vadam un apdrošinātais ir atbildīgs par to ekspluatāciju;
			</li>
			<li>
				<b>Stiklojums</b>, tā aprīkojums un noformējums (zīmējumi, gravējumi un tml.), kura
				vienlaidus virsmas laukums ir lielāks par 3m², pret sasišanu vai saplīšanu;
			</li>
			<li>
				Juvelierizstrādājumi, kolekcijas, gleznas, unikāli un antīki priekšmeti.
			</li>
		</ul>

	</div>
{% endblock %}
