{% extends "inner-text.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block css %}
	<link href="/assets/css/page-report.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block text %}
	{# Text #}
	<h1>Finanšu atskaites</h1>

	<form class="form" action="page-report-2.html">
		<select name="period" onchange="$(this).closest('form').submit();">
			<option value="">Izvēlieties periodu</option>
			<option value="1" selected="selected">2010. gada 4. ceturkšņa pārskats</option>
			<option value="2">2010. gada 3. ceturkšņa pārskats</option>
			<option value="3">2010. gada 2. ceturkšņa pārskats</option>
			<option value="4">2010. gada 1. ceturkšņa pārskats</option>
			<option value="5">2009. gada pārskats</option>
			<option value="6">2008. gada pārskats</option>
			<option value="7">2007. gada pārskats</option>
			<option value="8">2006. gada pārskats</option>
		</select>
	</form>

	<div class="text">

		<p>
			<b class="color-special">Kompānijas pilns nosaukums:</b> AAS „Gjensidige Baltic”<br /> 
			<b class="color-special">Reģistrācijas numurs:</b> LV 50003210451<br />
			<b class="color-special">Adrese:</b> Brīvības iela 39, Rīga, LV-1010, Latvija (no 2008.gada 25.augusta)
		</p>

		<h3>AAS „Gjensidige Baltic” padome</h3>
		<table>
			<colgroup><col width="142" /><col /></colgroup>
			<tr><td>Kim Rud Petersen	</td><td>Padomes priekšsēdētājs</td></tr>
			<tr><td>Ieva Trizna			</td><td>Padomes locekle</td></tr>
			<tr><td>Katrīne Judovica	</td><td>Padomes locekle</td></tr>
		</table>

		<h3>AAS „Gjensidige Baltic” valde</h3>
		<table>
			<colgroup><col width="142" /><col /></colgroup>
			<tr><td>Dace Brumziede 		</td><td>Valdes priekšsēdētāja</td></tr> 
			<tr><td>Aleksandrs Rjabovs 	</td><td>Valdes loceklis</td></tr>
			<tr><td>Ināra Meija 		</td><td>Valdes locekle</td></tr>
		</table>

		<h3>AAS „Gjensidige Baltic” akcionāri</h3>
		<table>
			<colgroup><col width="142" /><col /></colgroup>
			<tr><td>Akcionāri 				</td><td>Gjensidige Forsikring</td></tr>
			<tr><td>Reģistrācijas numurs 	</td><td>938741700</td></tr>
			<tr><td>Adrese 					</td><td>Drammensveien 288, 1326 Lysaker, Norvēģija</td></tr>
			<tr><td>Akciju skaits 			</td><td>225 000</td></tr>
			<tr><td>% no akciju kapitāla 	</td><td>100</td></tr>
		</table>

		<h3>AAS „Gjensidige Baltic” pārskats uz 2010. gada 30. jūniju</h3>
		<ul>
			<li><a href="#" class="file-pdf">Darbības rādītāji salīdzinājumā pa apdrošināšanas veidiem</a></li> 
			<li><a href="#" class="file-pdf">Bilances pārskats</a></li>
			<li><a href="#" class="file-pdf">Peļņas vai zaudējumu aprēķins</a></li>
		</ul>
		<ul>
			<li><a href="#" class="file-pdf">AAS „Gjensidige Baltic” risku analīze</a></li>
			<li><a href="#" class="file-pdf">AAS „Gjensidige Baltic” filiāles</a></li>
			<li><a href="#" class="file-pdf">AAS „Gjensidige Baltic” aģentu saraksts</a></li>
			<li><a href="#" class="file-pdf">AAS „Gjensidige Baltic” informācija par filiālēm un meitas sabiedrību</a></li>
		</ul>

	</div>
{% endblock %}
