{% extends "search.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	{# Text #}
	<h1>Meklēšanas rezultāti</h1>

	<ul class="search-results content-padding">
		<li>
			<h2>1. <a href="#">Autohelp24 kontakti</a></h2>
			<p class="path">
				<a href="#">Galvenā lapa / Transportlīdzekļu apdrošināšana / KASKO / Autohelp24</a>
			</p>
			<p>
				Gjensidige KASKO papildus segums Autohelp24 ir diennakts auto tehniskā palīdzība uz ceļa un
				konsultācijas pa tālruni KASKO polises līguma darbības teritorijā, kā arī palīdzība
				apdrošināšanas gadījuma noformēšanai<br />
				...
			</p>
		</li>
		<li>
			<h2>2. <a href="#">Autohelp24 kontakti</a></h2>
			<p class="path">
				<a href="#">Galvenā lapa / Transportlīdzekļu apdrošināšana / KASKO / Autohelp24</a>
			</p>
			<p>
				Gjensidige KASKO papildus segums Autohelp24 ir diennakts auto tehniskā palīdzība uz ceļa un
				konsultācijas pa tālruni KASKO polises līguma darbības teritorijā, kā arī palīdzība
				apdrošināšanas gadījuma noformēšanai<br />
				...
			</p>
		</li>
		<li>
			<h2>3. <a href="#">Autohelp24 kontakti</a></h2>
			<p class="path">
				<a href="#">Galvenā lapa / Transportlīdzekļu apdrošināšana / KASKO / Autohelp24</a>
			</p>
			<p>
				Gjensidige KASKO papildus segums Autohelp24 ir diennakts auto tehniskā palīdzība uz ceļa un
				konsultācijas pa tālruni KASKO polises līguma darbības teritorijā, kā arī palīdzība
				apdrošināšanas gadījuma noformēšanai<br />
				...
			</p>
		</li>
		<li>
			<h2>4. <a href="#">Autohelp24 kontakti</a></h2>
			<p class="path">
				<a href="#">Galvenā lapa / Transportlīdzekļu apdrošināšana / KASKO / Autohelp24</a>
			</p>
			<p>
				Gjensidige KASKO papildus segums Autohelp24 ir diennakts auto tehniskā palīdzība uz ceļa un
				konsultācijas pa tālruni KASKO polises līguma darbības teritorijā, kā arī palīdzība
				apdrošināšanas gadījuma noformēšanai<br />
				...
			</p>
		</li>
	</ul>

	<p class="paging">
		{# <a href="#" class="prev">Atpakaļ</a> #}
		<a href="#" class="active">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">7</a>
		<a href="#">8</a>
		<a href="#">9</a>
		<a href="#" class="next">Tālāk</a>
	</p>

{% endblock %}
