{% extends "inner-text.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	<ul class="sitemap">
		<li>
			<div><a href="#">Par mums</a></div>
		</li>
		<li>
			<div><a href="#">Kontakti</a></div>
		</li>
		<li>
			<div><a href="#">Kalkulatori</a></div>
		</li>
		<li>
			<div><a href="#">Noticis negadījums</a></div>
			<ul>
				<li>
					<a href="#">OCTA</a>
					<ul>
						<li><a href="#">Ko darīt?</a></li>
						<li><a href="#">Kur pieteikt,ja esat cietusī puse CSNg?</a></li>
						<li><a href="#">Kur pieteikt,ja esat vainīgā puse CSNg?</a></li>
						<li><a href="#">Pieteikt atlīdzību internetā</a></li>
					</ul>
				</li>
				<li>
					<a href="#">KASKO</a>
					<ul>
						<li><a href="#">Ko darīt?</a></li>
						<li><a href="#">Kur pieteikt?</a></li>
						<li><a href="#">Pieteikt atlīdzību internetā</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Īpašums</a>
					<ul>
						<li><a href="#">Ko darīt?</a></li>
						<li><a href="#">Kur pieteikt?</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Nelaimes gadījums</a>
					<ul>
						<li><a href="#">Ko darīt?</a></li>
						<li><a href="#">Kur pieteikt?</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Ceļojums</a>
					<ul>
						<li><a href="#">Ko darīt?</a></li>
						<li><a href="#">Kur pieteikt?</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Speciālā tehnika</a>
					<ul>
						<li><a href="#">Ko darīt?</a></li>
						<li><a href="#">Kur pieteikt?</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<div><a href="#">Uzdot jautājumu</a></div>
		</li>
		<li>
			<div><a href="#">Dokumenti</a></div>
		</li>
		<li>
			<div><a href="#">Sadarbības partneriem</a></div>
		</li>
		<li>
			<div><a href="#">Transportlīdzekļu apdrošināšana</a></div>
		</li>
		<li>
			<div><a href="#">Īpašuma apdrošināšana</a></div>
		</li>
		<li>
			<div><a href="#">Veselības apdrošināšana</a></div>
		</li>
		<li>
			<div><a href="#">Ceļojumu apdrošināšana</a></div>
		</li>
		<li>
			<div><a href="#">Citi apdrošināšanas veidi</a></div>
		</li>
	</ul>
{% endblock %}
