{% extends "vehicle-insurance.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	{# Text #}
	<div class="text">
		<h1>Kas ir OCTA un kāpēc to nepieciešams iegādāties?</h1>

		<h2>Kas ir OCTA?</h2>

		<p>
			Eiropas Savienībā  ir noteikts, ka OCTA polise ir nepieciešama ikvienam
			transportlīdzeklim, kurš  piedalās ceļu satiksmē. OCTA polise, kas izsniegta
			Latvijā reģistrētam transportlīdzeklim, ir derīga visā Eiropas Ekonomikas
			zonas teritorijā un Šveicē.
		</p>
		<p>
			OCTA apdrošināšana tiek veikta saskaņā ar Sauszemes transportlīdzekļu
			īpašnieku civiltiesiskās atbildības obligātās apdrošināšanas likumu.
		</p>
		<p>
			OCTA ir sauszemes transportlīdzekļu īpašnieku civiltiesiskās atbildības
			obligātā apdrošināšana. Tā ir <a href="#">obligāti nepieciešama visiem
			mehāniskajiem transportlīdzekļiem un piekabēm, kas piedalās ceļu
			satiksmē</a> un ir reģistrēti  CSDD vai Valsts tehniskās uzraudzības
			aģentūrā.
		</p>

		<h2>Kāpēc ir nepieciešams iegādāties OCTA?</h2>

		<p>
			Ja transportlīdzekļa vadītāja vainas dēļ notika CSNg un cieta citas personas
			īpašums vai veselība, zaudējumus sedz apdrošināšanas kompānija, nevis pats
			vainīgais autovadītājs.
		</p>

	</div>
{% endblock %}
