{% extends "restore/main.html.twig" %}

{% block title %}Request password change{% endblock %}

{% block content %}

	{% if errorMessage %}
		<p>{{ errorMessage }}</p>
	{% endif %}

	<form name="input" action="?" method="post">

		<label for="password">Your email address: </label>
		<input id="email" type="text" name="email" value="{{ email }}" />

		<input type="submit" value="Submit" />
	</form>
{% endblock %}
