.su-delete-page {
	position: absolute;
	left: 47px;
	bottom: 65px;
	width: 94px;
	height: 94px;
	
	.su-delete-page-content {
		width: 94px;
		height: 94px;
		background: url(images/tree-recycle-bin.png) 50% 50% no-repeat;
	}
	
	&.yui3-dd-drop-over {
		background: red;
	}
}
