<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Generator" content="SiteSupra" />
	<meta http-equiv="MSSmartTagsPreventParsing" content="TRUE" />
	<meta http-equiv="imagetoolbar" content="no" />
	{{ supra.responseContext.getLayoutSnippetContents('meta') | raw }}
	<title>{% block title %}SiteSupra{% endblock %}</title>
	<link rel="stylesheet" href="/resources/css/supra.css" type="text/css" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	{% if supra.cmsRequest %}
		<link href="/resources/css/editor.css" rel="stylesheet" type="text/css" />
	{% endif %}
		
	{% set usedFonts = supra.responseContext.getUsedCssFontList() %}
	{% if usedFonts is not empty %}
		{% set fonts = usedFonts | join ('|') | url_encode %}		
		<link href="http://fonts.googleapis.com/css?family={{ fonts }}:300,300italic,regular,italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css">
	{% endif %}
		
	{{ supra.responseContext.getLayoutSnippetContents('css') | raw }}
</head>
<body>
	<div id="header" title="Header">
		<div class="inner">
			{% block header %}
			<!--placeHolder(header)-->
			{% endblock %}
		</div>
	</div>
	{% block sidebar %}
	<div id="sidebar" title="Sidebar">
		<!--placeHolder(sidebar)-->
	</div>
	{% endblock %}
		
	<div id="content" title="Main">
		{% block content %}
			<!--placeHolder(main)-->
		{% endblock %}
	</div>
		
	<div id="footer" title="Footer">
		{% block footer %}
			<!--placeHolder(footer)-->
		{% endblock %}
	</div>

	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/jquery.ui.js"></script>
	<script src="/assets/js/app/app.js"></script>
	<script src="/assets/js/refresh/refresh.js"></script>

	<script src="/assets/js/promo.js"></script>
	<script src="/assets/js/carousel.js"></script>
	<script src="/assets/js/selectors.js"></script>
	<script src="/assets/js/common.js"></script>
	
	{% if supra.cmsRequest %}
		<script src="/assets/js/app/ajaxcontent.js"></script>
		<script src="/assets/js/cms/plugin.comments.js"></script>
	{% endif %}

	{{ supra.responseContext.getLayoutSnippetContents('js') | raw }}
		
</body>
</html>
