//
//	Predefined
//
@import "common/mixins.less";

//
//	Styles while page is in Supra CMS
//
.supra-image.align-left {
	float: left;
}
.supra-image.align-right {
	float: right;
}
.supra-image.align-left,
.supra-image.align-right {
	margin: 3px 0 1em;
}
.supra-image.align-left {
	margin-right: 20px;
}
.supra-image.align-right {
	margin-left: 20px;
}

.supra-image.shadow {
	.shadow (0, 1px, 5px, #999);
}
.supra-image.border {
	border: 3px solid #ccc;
}

/*
 * Style instructions
 * Each selector must be as separate declaration, no multiple selectors. Following format should be used:
 * 		#su-style-dropdown OPTIONAL_CONTEXT_SELECTOR.CLASS_NAME[title="STYLE TITLE"] { PREVIEW STYLE }
 * 			OPTIONAL_CONTEXT_SELECTOR - optional. To allow adding CLASS_NAME class to element, HTMLEditor source node must be child or match this selector
 * 			CLASS_NAME - css classname which will be added to element
 * 			STYLE TITLE - style title which will be visible in dropdown
 * 			PREVIEW STYLE - style used to format title in the dropdown
 */

// Image styles
#su-style-dropdown img.shadow[title="Shadow"][icon="/assets/img/editor/icon-image-shadow.png"] { /* Since this will be displayed in list we use icon attribute */ }
#su-style-dropdown img.border[title="Border"][icon="/assets/img/editor/icon-image-border.png"] { /* Since this will be displayed in list we use icon attribute */ }

// Block background styles
#su-style-dropdown block.pattern-a[title="Pattern A"][icon="/assets/img/editor/icon-block-pattern-a.png"] { /* Since this will be displayed in list we use icon attribute */ }
#su-style-dropdown block.pattern-b[title="Pattern B"][icon="/assets/img/editor/icon-block-pattern-b.png"] { /* Since this will be displayed in list we use icon attribute */ }