.right-container,
.left-container {
	width: 25%;
	max-width: 400px;
	min-width: 250px;
	position: absolute;
	top: 48px;
	bottom: 0px;
}
.right-container {
	right: 0;
	width: 17%;
	border-left: 1px solid #000;
}
.left-container {
	left: 0;
	border-right: 1px solid #000;
}

.top-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

/**
 * Sidebar block
 */
.sidebar-header {
	height: 56px;
	border-bottom: 1px solid #9394AA;
}
.dark-ui .sidebar-header {
	border: 0;
}

/**
 * Heading
 */
.right-container h2 {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	
	padding: 8px 10px;
	margin: 0;
	position: relative;
}
.right-container .yui3-form-default h2 {
	margin: 0 -10px;
}

/**
 * Sidebar
 */
.sidebar-header {
	font-size: 12px;
	line-height: 16px;
	
	height: 40px; /* 56 - 16 */
	padding: 17px 19px 0 20px;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}
.ui-dark .sidebar-header {
	padding: 16px 19px 0 18px;
	height: 41px;
	border: 0; 
}

.sidebar-header .button-back {
	float: left;
	margin-right: 10px;
}
.sidebar-header .button-control {
	float: right;
	margin-left: -55px;
	position: relative;
	z-index: 1;
}

.sidebar-header > img {
	display: block;
	float: left;
	margin: 1px 10px 0 0;
}

.sidebar-header h2 {
	padding: 0 60px 0 0;
	
	box-sizing: border-box;
	overflow: hidden;
	max-width: 100%;
	width: auto;
	
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	text-shadow: 0 1px 0 rgba(0,0,0,.75);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.left-container .sidebar-header {
	background: url(/cms/lib/supra/img/sidebar/left-header-bg.gif) 0 0 repeat;
	border-bottom: 1px solid #A3A4B7;
}

/* Footer */
.sidebar-footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 19px 10px 20px;
}

/* Content */
.sidebar-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.has-header {
		top: 57px;
	}
	&.has-footer {
		bottom: 45px;
	}

	/*
	 * Section link
	 */
	a.button-section {
		display: block;
		margin: 25px 0 15px;
		padding: 5px 0;
		
		color: #090613;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(211,212,226,.33);
		
		img {
			display: inline-block;
			vertical-align: top;
			margin-right: 7px;
		}
		img.active {
			display: none;
		}
		
		span {
			display: inline-block;
			vertical-align: top;
			margin-top: 4px;
			
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
		}
		
		&:hover,
		&:focus {
			color: #fff;
			outline: none;
			text-shadow: 0 1px 0 rgba(0,0,0,0.75);
		}
		&:hover img.active,
		&:focus img.active {
			display: inline-block;
		}
		&:hover img.inactive,
		&:focus img.inactive {
			display: none;
		}
		
		&.disabled {
			opacity: 0.5;
			color: #302750;
			cursor: default;
			
			img.active {
				display: none;
			}
			img.inactive {
				display: inline-block;
			}
		}
	}
	a.button-section + a.button-section {
		margin-top: 15px;
	}
	
	/*
	 * Section button
	 */
	div.button-section {
		&, div {
			display: block;
		}
		button {
			width: 100%;
			text-align: left;
		}
		p {
			background: url(/cms/lib/supra/img/sidebar/button-arrow.png) 100% 8px no-repeat;
			display: block;
		}
	}
}

.ui-dark {
	.sidebar-content {
		a.button-section {
			color: #757589;
			text-shadow: 0 1px 0 rgba(0,0,0,.75);
			
			&:hover,
			&:focus {
				color: #fff;
				text-shadow: 0 1px 0 rgba(0,0,0,.75);
			}
			&.disabled {
				color: #606071;
			}
		}
		
		/*
		 * Inputs
		 */
		.yui3-form-content > .yui3-input:first-child,
		.su-slide-content > .yui3-input:first-child {
			margin-top: 0;
		}
	}
}

.page-settings,
.block-settings {
	/*
	 * Inner style
	 * Inside form is slideshow
	 */
	.yui3-form {
		&, .yui3-form-content {
			width: 100%;
			height: 100%;
			margin: 0;
		}
		.yui3-form-content {
			padding: 0;
			overflow: hidden;
		}
		
		.su-slide-content {
			padding: 0 18px;
		}
	}
	
	/*
	 * Scrollable content
	 */
	.sidebar-content.scrollable {
		.yui3-form,
		.yui3-form .yui3-form-content {
			height: auto;
			width: auto;
		}
		.yui3-form .yui3-form-content {
			padding: 0 18px;
		}
	}
	
	/*
	 * 
	 */
	.input-group {
		margin: 0 0 10px;
	}
	
	/*
	 * Buttons
	 */
	.sidebar-content .yui3-form-content > .su-button {
		margin-top: 15px;
	}
}


/* Color themes */
.ui-light-background {
	border-color: #A8A9BD;
	background: url(/cms/lib/supra/img/sidebar/left-bg.gif) 0 0 repeat;
}
.ui-dark-background {
	border-color: #1C1A2B;
	background: url(/cms/lib/supra/img/sidebar/right-bg.gif) 0 0 repeat;
}
