.yui3-right-container,
.yui3-left-container {
	width: 25%;
	max-width: 400px;
	min-width: 250px;
	position: absolute;
	top: 60px;
	bottom: 10px;
	border: 1px solid #eee;
}
.yui3-right-container {
	right: 10px;
	width: 17%;
}
.yui3-left-container {
	left: 10px;
}

.yui3-top-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.yui3-right-container .yui3-form-default .yui3-button-delete,
.yui3-right-container .yui3-form-default .yui3-button-edit,
.yui3-right-container .yui3-form-default .yui3-button-save {
	margin-top: 10px;
}

/**
 * Heading
 */
.yui3-right-container h2 {
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	margin: 0;
	background: #eee;
	position: relative;
}
.yui3-right-container .yui3-form-default h2 {
	margin: 0 -10px;
}

.yui3-right-container .yui3-form-buttons,
.yui3-left-container .yui3-form-buttons {
	padding: 0 10px 10px;
	margin: 0 0 10px;
	border-bottom: 1px solid #eee;
}
.yui3-right-container .yui3-form-default .yui3-form-buttons,
.yui3-left-container .yui3-form-default .yui3-form-buttons {
	margin: 0;
}
.yui3-left-container .yui3-form-buttons .yui3-button,
.yui3-right-container .yui3-form-buttons .yui3-button {
	margin: 10px 10px 0 0;
}

/**
 * Properties form
 * Show scrollbar only on content; buttons and heading should be visible at all times
 */
.yui3-form-properties .yui3-form-content {
	margin: 0;
	padding: 0 10px 10px;
	top: 85px;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow-y: auto;
}
.yui3-form-properties h2 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.yui3-form-properties .yui3-page-buttons {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 9px;
}
.yui3-form-properties .yui3-form-buttons {
	margin-bottom: 0;
	left: 0;
	top: 32px;
	right: 0;
	position: absolute;
}

/**
 * Sidebar
 */
.yui3-sidebar-header {
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	margin: 0;
	background: #eee;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

/* Buttons */
.yui3-sidebar-buttons {
	left: 0;
	top: 32px;
	right: 0;
	position: absolute;
    border-bottom: 1px solid #EEEEEE;
    margin: 0;
    padding: 0 10px 10px;
}
.yui3-sidebar-buttons .yui3-button {
	margin: 10px 10px 0 0;
}

/* Content */
.yui3-sidebar-content {
	position: absolute;
	top: 85px;
	left: 0;
	right: 0;
	bottom: 0;
}
.yui3-sidebar-content-scrollable {
	overflow-x: hidden;
	overflow-y: auto;
}

/* Footer */
.yui3-sidebar-footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}