<div class="block blog-post">
	
	<div class="media">
		<div id="content_{{ supraBlock.getBlock().getId() }}_media" class="yui3-content-inline yui3-input-media-inline-content"></div>
		{#   {{ supraBlock.property('media') }}   #}
	</div>
	
	<div data-refresh-event="text" class="text">
		{{ supraBlock.property('content') }}
	</div>
	
</div>