//
//	Common styles
//
.pull-left,
.align-left {
	float: left;
}

.pull-right,
.align-right {
	float: right;
}

.editor-text {
	.pull-left,
	.align-left {
		margin-top: 3px;
		margin-right: 20px;
	}
	
	.pull-right,
	.align-right {
		margin-top: 3px;
		margin-left: 20px;
	}
}

.social {
	background: url(/assets/img/socials.png);
	width: 30px;
	height: 30px;
	display: inline-block;
	
	&.social-googlewave {
		background-position: 0 -30px;
	}
	
	&.social-flickr {
		background-position: 0 -60px;
	}
	
	&.social-facebook {
		background-position: 0 -90px;
	}
	
	&.social-youtube {
		background-position: 0 -120px;
	}
}

.columns {
	margin: 0 -10px;
}

.block {
	padding: 0 0 40px;
	
	> h2 {
		font-size: 18px;
		margin-bottom: 0;
	}
}

.sidemenu {
	margin: 0 0 40px;
	
	a {
		display: block;
		text-decoration: none;
	}
	
	> li {
		border-bottom: 1px solid #e6e6e6;
	
		> a {
			padding: 10px;
			.font (16px, normal, #2c87b6);
			
			&:hover {
				background: #cae1ed;
			}
		}
		
		&.active > a {
			color: #369;
			font-weight: bold;
			background: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		ul {
			padding: 0 0 5px;
		}
		
		li {
			padding: 0 0 0 30px;
			
			a {
				text-decoration: none;
				display: block;
				padding: 5px 10px;
				
				&:hover {
					text-decoration: underline;
				}
			}
			
			&.active a {
				color: #666;
				cursor: default;
				text-decoration: none;
			}
		}
	}
}

.button,
.button span {
	display: inline-block;
	vertical-align: top;
	height: 29px;
	.font (14px, 29px, #fff, bold);
	background: url(/assets/img/buttons.png) no-repeat;
	text-decoration: none;
	.animate;
	
	span {
		background-position: 100% -58px;
		padding: 0 20px;
		
		span {
			background-position: 0 -29px;
			background-repeat: repeat-x;
			padding: 0;
		}
	}
	
	&:hover,
	&:focus {
		outline: none;
		background-position: 0 -87px;
		
		span {
			background-position: 100% -145px;
			
			span {
				background-position: 0 -116px;
			}
		}
	}
	
	&:active {
		background-position: 0 -174px;
		
		span {
			background-position: 100% -232px;
			
			span {
				background-position: 0 -203px;
			}
		}
	}
	
	&.button-large,
	&.button-large span {
		background-position: 0 -261px;
		height: 42px;
		line-height: 42px;
		font-size: 16px;
		
		span {
			background-position: 100% -345px;
			
			span {
				background-position: 0 -303px;
			}
		}
		
		&:hover {
			background-position: 0 -387px;
			
			span {
				background-position: 100% -471px;
				
				span {
					background-position: 0 -429px;
				}
			}
		}
		
		&:active {
			background-position: 0 -513px;
			
			span {
				background-position: 100% -597px;
				
				span {
					background-position: 0 -555px;
				}
			}
		}
	}
	
	&.button-footer,
	&.button-footer span {
		height: 31px;
		background: url(/assets/img/button-footer.png) no-repeat;
		.font (12px, 31px, #fff, bold);
	
		span {
			background-position: 100% -62px;
			padding: 0 15px;
			
			span {
				background-position: 0 -31px;
				background-repeat: repeat-x;
				padding: 0;
			}
		}
		
		&:hover {
			background-position: 0 -93px;
			
			span {
				background-position: 100% -155px;
				
				span {
					background-position: 0 -124px;
				}
			}
		}
		
		&:active {
			background-position: 0 -186px;
			
			span {
				background-position: 100% -248px;
				
				span {
					background-position: 0 -217px;
				}
			}
		}
	}
}

//
//	Main Container
//
#container {
	background: #fff;
	padding: 20px 0;
	width: 100%;
	overflow: hidden;
}

//  
//  Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	.block {
		padding-bottom: 17px;
	}
	
	.editor-text {
		.pull-left,
		.pull-right,
		.align-left,
		.align-right {
			float: none;
			margin-top: 3px;
			margin-right: 0;
			margin-left: 0;
		}
	}
	
}