.form {
	form {
		background: #f7f7f7;
		margin: 10px 0 0 -10px;
		padding: 0 10px 10px;
	}
	
	label,
	b {
		font-size: 12px;
		font-weight: bold;
		display: inline-block;
		padding: 10px 0 3px;
	}
	
	b {
		display: block;
	}
	
	input,
	textarea {
		.radius (4px);
		.font (12px, normal, #333);
		border: 1px solid #a3a3a3;
		padding: 7px;
		width: 204px;
		display: block;
		outline: 0;
	}
	
	textarea {
		width: 674px;
		resize: vertical;
		min-height: 90px;
	}
	
	.errored {
		color: #f72222;
		
		input, textarea, &.selector > a {
			border-color: #f72222;
		}
	}
	
	button {
		margin-top: 15px;
	}
	
	.row {
		margin-right: -15px;
		margin-bottom: 0;
		width: 705px;
		
		.field {
			float: left;
			margin: 0 15px 0 0;
			width: 220px;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	.radio,
	.check {
		input {
			display: none;
		}
		
		label {
			margin-right: 20px;
			font-weight: normal;
			padding: 0;
			
			&:first-last {
				margin-left: 0;
			}
			
			&.checked span {
				background-position: -16px 0;
			}
		}
		
		span {
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(/assets/img/form-radiocheck.png);
			vertical-align: top;
			margin: 2px 7px 0 0;
		}
	}
	
	.check {
		span {
			width: 19px;
			height: 20px;
			background-position: 0 -16px;
			margin-top: -1px;
		}
		
		label.checked span {
			background-position: -19px -16px;
		}
	}
	
	.selector {
		position: relative;
		font-size: 12px;
		
		> a {
			.radius (4px);
			border: 1px solid #a3a3a3;
			.font (12px, 28px, #333);
			height: 28px;
			padding: 0 7px;
			width: 204px;
			display: block;
			background: #fff;
			position: relative;
			cursor: pointer;
			text-decoration: none;
			
			span {
				text-decoration: none;
			}
			
			i {
				width: 29px;
				height: 28px;
				background: url(/assets/img/form-selector.png);
				position: absolute;
				right: 0;
				top: 0;
			}
			
			&:hover i {
				background-position: 0 -28px;
			}
		}
			
		&.opened {
			> div {
				display: block;
			}
			
			i {
				background-position: 0 -56px;
			}
			
			&:hover i {
				background-position: 0 -84px;
			}
		}
		
		> div {
			position: absolute;
			width: 100%;
			top: 63px;
			left: 0;
			display: none;
			
			& > div {
				border: 1px solid #a3a3a3;
				.radius(5px);
				background: #fff;
				overflow: auto;
				max-height: 150px;
			}
		}
			
		ul {
			padding: 3px 0;
			
			a {
				display: block;
				padding: 3px 7px;
				text-decoration: none;
				
				&:hover {
					background: #c0e1f2;
				}
			}
			
			.active > a {
				font-weight: bold;
			}
		}
	}
}