/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
	#Less mixins
	#960 Grid
	#Tablet (Portrait)
	#Mobile (Portrait)
	#Mobile (Landscape)
	#Clearing */



/* #Less mixins
================================================== */

@columns: 16;

@gutter-width: 20px;
@column-width: 40px;

@gutter-width-tablet: 20px;
@column-width-tablet: 28px;

@gutter-width-mobile: 10px;
@column-width-mobile: 16.25px;

.column (@column, @column-width: @column-width, @gutter-width: @gutter-width) {
	width: (@column - 1) * @gutter-width + @column * @column-width; 
}
.offset-left (@column, @column-width: @column-width, @gutter-width: @gutter-width) {
	padding-left: @column * (@gutter-width + @column-width);
}
.offset-right (@column, @column-width: @column-width, @gutter-width: @gutter-width) {
	padding-right: @column * (@gutter-width + @column-width);
}

// #Grid
.grid (@columns: @columns, @column-width: @column-width, @gutter-width: @gutter-width) {
	
	width: @columns * (@column-width + @gutter-width);
	margin: 0 auto;
	padding: 0;
	
	.row, .grid_item {
		margin-bottom: @gutter-width;
	}

	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16,
	.one_half, .one_third, .two_thirds, .one_fourth, .three_fourths {
		float: left;
		display: inline;
		margin-left: @gutter-width * 0.5 * 1px;
		margin-right: @gutter-width * 0.5 * 1px;
	}
	
	/* Nested columns */
	.alpha {
		margin-left: 0;
		margin-right: @gutter-width * 0.5 * 1px;
	}
	.omega {
		margin-right: 0;
		margin-left: @gutter-width * 0.5 * 1px;
	}
	.alpha.omega {
		margin-left: 0;
		margin-right: 0;
	}
	
	/* Sizes */
	
	/* Base Grid */
	.grid_1		{ .column(1, @column-width, @gutter-width); }
	.grid_2		{ .column(2, @column-width, @gutter-width); }
	.grid_3		{ .column(3, @column-width, @gutter-width); }
	.grid_4		{ .column(4, @column-width, @gutter-width); }
	.grid_5		{ .column(5, @column-width, @gutter-width); }
	.grid_6		{ .column(6, @column-width, @gutter-width); }
	.grid_7		{ .column(7, @column-width, @gutter-width); }
	.grid_8		{ .column(8, @column-width, @gutter-width); }
	.grid_9		{ .column(9, @column-width, @gutter-width); }
	.grid_10	{ .column(10, @column-width, @gutter-width); }
	.grid_11	{ .column(11, @column-width, @gutter-width); }
	.grid_12	{ .column(12, @column-width, @gutter-width); }
	.grid_13	{ .column(13, @column-width, @gutter-width); }
	.grid_14	{ .column(14, @column-width, @gutter-width); }
	.grid_15	{ .column(15, @column-width, @gutter-width); }
	.grid_16	{ .column(16, @column-width, @gutter-width); }

	.one_half	{ width: @columns * (@column-width + @gutter-width) / 2 - @gutter-width; }
	.one_third	{ width: @columns * (@column-width + @gutter-width) / 3 - @gutter-width; }
	.two_thirds	{ width: @columns * (@column-width + @gutter-width) / 3 * 2 - @gutter-width; }
	.one_fourth	{ width: @columns * (@column-width + @gutter-width) / 4 - @gutter-width; }
	.three_fourths { width: @columns * (@column-width + @gutter-width) / 4 * 3 - @gutter-width; }
	
	.grid_12 {
		.one_half	{ width: 12 * (@column-width + @gutter-width) / 2 - @gutter-width; }
		.one_third	{ width: 12 * (@column-width + @gutter-width) / 3 - @gutter-width; }
		.two_thirds	{ width: 12 * (@column-width + @gutter-width) / 3 * 2 - @gutter-width; }
		.one_fourth	{ width: 12 * (@column-width + @gutter-width) / 4 - @gutter-width; }
		.three_fourths { width: 12 * (@column-width + @gutter-width) / 4 * 3 - @gutter-width; }
	}
	
	/* Offsets */
	.prefix_1			{ .offset-left (1, @column-width, @gutter-width); }
	.prefix_2			{ .offset-left (2, @column-width, @gutter-width); }
	.prefix_3			{ .offset-left (3, @column-width, @gutter-width); }
	.prefix_4			{ .offset-left (4, @column-width, @gutter-width); }
	.prefix_5			{ .offset-left (5, @column-width, @gutter-width); }
	.prefix_6			{ .offset-left (6, @column-width, @gutter-width); }
	.prefix_7			{ .offset-left (7, @column-width, @gutter-width); }
	.prefix_8			{ .offset-left (8, @column-width, @gutter-width); }
	.prefix_9			{ .offset-left (9, @column-width, @gutter-width); }
	.prefix_10			{ .offset-left (10, @column-width, @gutter-width); }
	.prefix_11			{ .offset-left (11, @column-width, @gutter-width); }
	.prefix_12			{ .offset-left (12, @column-width, @gutter-width); }
	.prefix_13			{ .offset-left (13, @column-width, @gutter-width); }
	.prefix_14			{ .offset-left (14, @column-width, @gutter-width); }
	.prefix_15			{ .offset-left (15, @column-width, @gutter-width); }
	.suffix_1			{ .offset-right (1, @column-width, @gutter-width); }
	.suffix_2			{ .offset-right (2, @column-width, @gutter-width); }
	.suffix_3			{ .offset-right (3, @column-width, @gutter-width); }
	.suffix_4			{ .offset-right (4, @column-width, @gutter-width); }
	.suffix_5			{ .offset-right (5, @column-width, @gutter-width); }
	.suffix_6			{ .offset-right (6, @column-width, @gutter-width); }
	.suffix_7			{ .offset-right (7, @column-width, @gutter-width); }
	.suffix_8			{ .offset-right (8, @column-width, @gutter-width); }
	.suffix_9			{ .offset-right (9, @column-width, @gutter-width); }
	.suffix_10			{ .offset-right (10, @column-width, @gutter-width); }
	.suffix_11			{ .offset-right (11, @column-width, @gutter-width); }
	.suffix_12			{ .offset-right (12, @column-width, @gutter-width); }
	.suffix_13			{ .offset-right (13, @column-width, @gutter-width); }
	.suffix_14			{ .offset-right (14, @column-width, @gutter-width); }
	.suffix_15			{ .offset-right (15, @column-width, @gutter-width); }
	
}

// Column width declaration
.column-width (all, @column, @gutter-width, @column-width) {
	width: (@column - 1) * @gutter-width + @column * @column-width;
}
.column-width (desktop, @column, @g: @gutter-width, @c: @column-width) {
	.column-width (all, @column, @g, @c + @gutter-width - @g);
}
.column-width (tablet, @column, @g: @gutter-width-tablet, @c: @column-width-tablet) {
	.column-width (all, @column, @g, @c + @gutter-width-tablet - @g);
}
.column-width (mobile, @column, @g: @gutter-width-mobile, @c: @column-width-mobile) {
	.column-width (all, @column, @g, @c + @gutter-width-mobile - @g);
}

// Column full declaration
.column-full (all, @column, @gutter-width, @column-width) {
	.column-width (all, @column, @gutter-width, @column-width);
	float: left;
	display: inline;
	margin-left: @gutter-width;
	margin-right: @gutter-width;
	
	&.alpha { margin-left: 0; }
	&.omega { margin-right: 0; }
	&.grid_item { margin-bottom: @gutter-width; }
}
.column-full (desktop, @column, @g: @gutter-width, @c: @column-width) {
	.column-full (all, @column, @g, @c + @gutter-width - @g);
}
.column-full (tablet, @column, @g: @gutter-width-tablet, @c: @column-width-tablet) {
	.column-full (all, @column, @g, @c + @gutter-width-tablet - @g);
}
.column-full (mobile, @column, @g: @gutter-width-mobile, @c: @column-width-mobile) {
	.column-full (all, @column, @g, @c + @gutter-width-mobile - @g);
}

/* #Base 960 Grid
================================================== */

body {
	min-width: 960px;
}
.container {
	.grid (@columns, @column-width, @gutter-width);
	
	//Responsive
	.tablet,
	.mobile,
	.mobile-portrait {
		display: none;
	}
	.desktop {
		display: block;
	}
}

/* #Tablet (Portrait)
================================================== */

// Width: 768px
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	body {
		min-width: 768px;
	}
	.container {
		.grid (@columns, 28px, @gutter-width);
		
		//Responsive
		.desktop,
		.mobile,
		.mobile-portrait {
			display: none;
		}
		.tablet {
			display: block;
		}
	}
	
}


/*  #Mobile (Portrait and Landscape)
================================================== */

// Width: 320px
@media only screen and (max-width: 767px) {
	
	body {
		min-width: 300px;
	}
	.container {
		width: 300px;
		
		.grid_1,
		.grid_2,
		.grid_3,
		.grid_4,
		.grid_5,
		.grid_6,
		.grid_7,
		.grid_8,
		.grid_9,
		.grid_10,
		.grid_11,
		.grid_12,
		.grid_13,
		.grid_14,
		.grid_15,
		.grid_16,
		
		.one_half,
		.one_third,
		.two_thirds,
		.one_fourth,
		.three_fourths {
			margin: 0;
			width: 300px;
		}

		/* Offsets */
		.prefix_1,
		.prefix_2,
		.prefix_3,
		.prefix_4,
		.prefix_5,
		.prefix_6,
		.prefix_7,
		.prefix_8,
		.prefix_9,
		.prefix_10,
		.prefix_11,
		.prefix_12,
		.prefix_13,
		.prefix_14,
		.prefix_15,
		.suffix_1,
		.suffix_2,
		.suffix_3,
		.suffix_4,
		.suffix_5,
		.suffix_6,
		.suffix_7,
		.suffix_8,
		.suffix_9,
		.suffix_10,
		.suffix_11,
		.suffix_12,
		.suffix_13,
		.suffix_14,
		.suffix_15 {
			padding-left: 0;
			padding-right: 0;
		}
		
		.row, .grid_item {
			margin-bottom: @gutter-width;
		}
		
		//Responsive
		.desktop,
		.tablet,
		.mobile {
			display: none;
		}
		.mobile-portrait {
			display: block;
		}
	}
	
}


/* #Mobile (Landscape)
================================================== */

// Width: 480px
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		min-width: 420px;
	}
	.container {
		width: 420px;
		
		.grid_1,
		.grid_1,
		.grid_2,
		.grid_3,
		.grid_4,
		.grid_5,
		.grid_6,
		.grid_7,
		.grid_8,
		.grid_9,
		.grid_10,
		.grid_11,
		.grid_12,
		.grid_13,
		.grid_14,
		.grid_15,
		.grid_16,
		
		.one_half,
		.one_third,
		.two_thirds,
		.one_fourth,
		.three_fourths { 
			margin: 0;
			width: 420px;
		}
		
		.row, .grid_item {
			margin-bottom: @gutter-width;
		}
		
		//Responsive
		.desktop,
		.tablet,
		.mobile-portrait {
			display: none;
		}
		.mobile {
			display: block;
		}
	}
	
}


/* #Misc
================================================== */
.bottom_remove { margin-bottom: 0 !important; }
.bottom_half { margin-bottom: @gutter-width*0.5 !important; }
.bottom_add { margin-bottom: @gutter-width !important; }


/* #Clearing
================================================== */

.clear-fix {
	zoom: 1;
	
	&:before,
	&:after {
		content: '.';
		display: block;
		overflow: hidden;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
		width: 0;
		height: 0;
	}
	&:after {
		clear: both;
	}
}

/* Clear */
.container:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix, .row {
	.clear-fix ();
}

.clear {
	clear: both !important;
	display: block !important;
	overflow: hidden !important;
	visibility: hidden !important;
	width: 100% !important;
	height: 0 !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}



.clear {
	width: 100% !important;
	height: 0 !important;
	clear: both !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}