//
//	Header
//
header {
	background: #2c87b6;
	position: relative;
	
	> div {
		height: 105px;
	}
	
	.logo {
		float: left;
		
		i, a {
			display: inline-block;
			vertical-align: middle;
		}
		
		i {
			width: 10px;
			overflow: hidden;
			height: 105px;
		}
		
		img {
			vertical-align: middle;
		}
	}
	
	nav {
		float: right;
		padding: 37px 0 0;
		
		li {
			float: left;
			border-right: 1px solid #2f779c;
			
			&:last-child {
				border: none;
			}
			
			&.active a, &.active a:hover {
				color: #0a4665;
			}
		}
		
		a {
			height: 31px;
			padding: 0 10px;
			display: inline-block;
			.font(14px, 31px, #fff, bold);
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.trim,
	.trim-2,
	.trim-3 {
		width: 100%;
		height: 10px;
		background: url(/assets/img/header-trim.png);
		position: absolute;
		left: 0;
		bottom: 0;
		
		&.trim-2 {
			background: url(/assets/img/header-trim-2.png);
			height: 12px;
		}
		
		&.trim-3 {
			background: url(/assets/img/header-trim-3.png);
			height: 6px;
			bottom: -6px;
		}
	}
	
	&.white {
		background: #fff;
		
		nav li {
			border-color: #c2cace;
			
			&.active a, &.active a:hover {
				color: #07567f;
			}
			
			a {
				color: #2c87b6;
				
				&:hover {
					color: #d63800;
				}
			}
		}
	}
	
	&.orange {
		background: #ee682e;
		
		nav li {
			border-color: #d45c28;
			
			&.active a, &.active a:hover {
				color: #323232;
			}
			
			a {
				color: #fff;
				
				&:hover {
					color: #ffcd55;
				}
			}
		}
	}
	
	&.dark {
		background: #222931;
		
		nav li {
			border-color: #44494f;
			
			&.active a, &.active a:hover {
				color: #71b607;
			}
			
			a {
				color: #fff;
				
				&:hover {
					color: #8d8d8d;
				}
			}
		}
	}
}

//  
//  Mobile + Mobile (Portrait)
//
@media only screen and (max-width: 767px) {
	
	header {
		
		> div {
			height: 177px;
		}
		
		.logo {
			float: none;
			text-align: center;
		}
		
		nav {
			float: none;
			position: absolute;
			left: 0;
			right: 0;
			
			background: #F6F6F6;
			padding: 11px 0 0;
			height: 61px;
			
			text-align: center;
			
			> div {
				width: 300px;
				margin: 0 auto;
			}
			
			.form {
				.selector {
					.shadow (0px, 0px, 3px, #A0A0A0);
					.shadow (0px, 0px, 3px, rgba(0, 0, 0, .35));
						
					> a,
					> div > div {
						.radius (0);
					}
					
					> a {
						width: auto;
						height: 33px;
						border: 1px solid #9D9D9D;
						padding: 0 48px 0 14px;
						
						font-size: 14px;
						line-height: 33px;
						text-align: left;
						
						background: url(/assets/img/mobile-portrait/nav.png) 0 0 repeat-x;
						
						i {
							width: 34px;
							height: 33px;
							background: url(/assets/img/mobile-portrait/nav.png) 0 -33px no-repeat;
						}
						
						&:hover i {
							background-position: 0 -66px;
						}
					}
					&.opened {
						.shadow (none);
					
						i {
							background-position: 0 -99px;
						}
						&:hover i {
							background-position: 0 -132px;
						}
					}
					
					> div {
						top: 0;
						padding-top: 34px;
						z-index: 2;
						
						.shadow (0px, 0px, 3px, #A0A0A0);
						.shadow (0px, 0px, 3px, rgba(0, 0, 0, .35));
						
						& > div {
							max-height: 300px;
							border: 1px solid #9D9D9D;
							background: #EEE;
							
							.shadow (0px, 1px, 2px, #C5C5C5 inset);
							.shadow (0px, 1px, 2px, rgba(0, 0, 0, .20) inset);
							
							& > ul {
								padding: 2px 4px 0;
								
								& > li {
									border-bottom: 1px solid #DADADA;
								}
							}
						}
						li {
							float: none;
							border: 0;
							
							a {
								color: #333;
								font-weight: bold;
								line-height: 18px;
								text-align: left;
								padding: 2px 10px 4px;
								height: auto;
								
								&:hover {
									background: #fff;
								}
							}
							
							li {
								a {
									padding-left: 24px;
									font-weight: normal;
								}
								
								li {
									a {
										padding-left: 38px;
										color: #666666;
									}
									
									li {
										a {
											padding-left: 48px;
											font-size: 12px;
										}
									}
								}
							}
							
							ul {
								background: none;
								border: 0;
								padding: 0 0 2px 0;
								
								li.active a {
									font-weight: normal;
								}
								
								& > li > ul {
									& > li > ul {
										padding: 2px 0 0;
									}
								}
							}
						}
					}
				}
			}
		}
		
		nav .trim,
		nav .trim-2,
		nav .trim-3 {
			background-image: url(/assets/img/mobile-portrait/header-trim.png);
			bottom: 72px;
			
			&.trim-2 {
				background-image: url(/assets/img/mobile-portrait/header-trim-2.png);
				bottom: 72px;
			}
			&.trim-3 {
				background-image: url(/assets/img/mobile-portrait/header-trim-3.png);
				bottom: 66px;
			}
		}
		
	}
	
}