.tabs {
	width: 100%;
	border: none;
	margin: 0 0 40px;
	
	td {
		background: #d9d9d9;
		border: none;
		padding: 0;
	}
	
	a {
		display: block;
		text-align: center;
		height: 44px;
		.font (16px, 44px, #666);
		padding: 0 20px;
	}
	
	.active a {
		color: #333;
		font-weight: bold;
		text-decoration: none;
		cursor: default;
	}
}

//  
//  Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	.tabs {
		display: block;
		
		tbody,
		tr,
		td {
			display: block;
		}
		td {
			margin-top: 1px;
		}
	}
	
}