/**
 * Buttons
 */
.yui3-page-buttons {
	position: absolute;
	z-index: 3;
	right: 0;
	top: 0;
	height: 50px;
	width: 250px;
	overflow: hidden;
}

.yui3-page-buttons .yui3-page-buttons-group {
	white-space: nowrap;
	position: absolute;
	right: 11px;
	padding-top: 6px;
	top: -50px; /* Node is animated inside view */
}

.yui3-page-buttons .su-button {
	margin-right: 11px;
}

/**
 * Toolbar button animation
 */
.yui3-editor-toolbar-group {
    position: absolute;
    right: 0;
	left: 0;
    top: -50px;
    white-space: nowrap;
}
.yui3-editor-toolbar-group:first-child {
	top: 0;
}

/**
 * Message
 */
.yui3-page-butons-message {
	display: inline-block;
	margin: 0 10px 0 0;
	color: #fff;
	line-height: 32px;
	vertical-align: middle;
}
