.loading .cms-page-header {
	display: none;
}

.cms-page-header {
	float: left;
	position: relative;
	z-index: 101;
	color: #fff;
	
	.page-title {
		padding: 8px 0 0 3px;
		font-weight: bold;
		
		width: 200px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.languages {
		float: left;
	}
	.version {
		float: left;
		padding: 2px 0 0;
	}
	.languages.hidden + .version {
		padding-left: 3px;
	}
	
	.version,
	.yui3-languagebar a.selected {
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		line-height: 14px;
	}
	.yui3-languagebar span.title {
		vertical-align: text-bottom;
	}
}
