.toolbar-plugin-css-panel {
	position: relative;
	height: 93px;
}
	.toolbar-plugin-css-left, .toolbar-plugin-css-right, .toolbar-plugin-css-top, .toolbar-plugin-css-bottom {
		position: absolute;
	}
		.toolbar-plugin-css-left {
			left: 0;
			top: 30px;
		}
		.toolbar-plugin-css-right {
			left: 167px;
			top: 30px;
		}
		.toolbar-plugin-css-top {
			left: 117px;
			top: 0;
		}
		.toolbar-plugin-css-bottom {
			left: 117px;
			top: 60px;
		}
	.toolbar-plugin-css-left input, .toolbar-plugin-css-right input, .toolbar-plugin-css-top input, .toolbar-plugin-css-bottom input {
		position: absolute;
		width: 50px;
		text-align: center;
	}
	.toolbar-plugin-css-left label, .toolbar-plugin-css-right label, .toolbar-plugin-css-top label, .toolbar-plugin-css-bottom label {
		display: none;
	}
	
	.toolbar-plugin-css-left label {
		display: inline-block;
		width: 52px;
	}
