.su-image-slider {
	position: relative;
	width: 100%;
	height: 100%;
	
	.item {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -307px 0 0 -332px;
		
		div {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 32px;
			background: #2B2C33;
			opacity: 0;
		}
	}
	
	.item-center img {
		//Center
		.box-shadow (0, 0, 40px, rgba(0, 0, 0, 0.5));
	}
	.item-side img {
		//Side
		.box-shadow (0, 5px, 20px, rgba(0, 0, 0, 0.16));
	}
	
	img {
		text-align: center;
		vertical-align: top;
	}
	p {
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		white-space: nowrap;
		padding-top: 8px;
		height: 24px;
	}
}
