//Common style definitions
@import "/cms/lib/supra/less/common.less";

.dashboard {
	top: 0 !important;
	overflow: hidden;
	
	z-index: 15;
	background: url(/cms/lib/supra/img/background-center.jpg) 50% 0 no-repeat, url(/cms/lib/supra/img/background-pattern.jpg) 50% 0 repeat;
	background-attachment: fixed;
	
	opacity: 0; 
	
	.apps,
	.info {
		position: absolute;
		top: 72px;
		bottom: 25px;
	}
	
	.apps {
		left: 50px;
		right: 42%;
		
		.apps-scrollable {
			padding-right: 50px !important;
		}
	}
	.info {
		width: 35%;
		right: 65px;
		
		> .loading-icon {
			display: none;
		}
		&.loading > .loading-icon {
			display: block;
		}
	}
}

/**
 * Header
 */
.dashboard-header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 47px;
	background: url(/cms/dashboard/images/header/background.png) 0 0 repeat-x;
	
	.user {
		display: block;
		cursor: default;
		
		&.link {
			cursor: pointer;
			text-decoration: none;
			
			span {
				text-decoration: underline;
			}
			&:hover span {
				text-decoration: none;
			}
		}
	}
	.user span {
		color: #fff;
		line-height: 12px;
		padding: 16px 0 0 66px;
	}
	
	.site {
		float: right;
		margin: 0 24px 0 0;
		
		a, span {
			display: inline-block;
			line-height: 12px;
			padding: 16px 8px 10px;
		}
		
		span {
			//Site title
			color: #7DC9F2;
		}
		a {
			//Link to site manager
			color: #fff;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	.user {
		float: right;
		padding-right: 80px;
		
		img {
			display: inline-block;
			vertical-align: top;
			margin-top: 7px;
			
			.border-radius (5px);
		}
		span {
			display: inline-block;
			padding-left: 17px;
			vertical-align: top;
		}
	}
	
	a.close {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		cursor: pointer;
		background: url(/cms/dashboard/images/header/icon-close.png) 21px 13px no-repeat;
		height: 47px;
		width: 63px;
	}
	
	select {
		display: none;
	}
}

/**
 * App list
 */
.app-list {
	list-style: none;
}

.app-list li,
li.app-list-proxy {
	float: left;
	width: 150px;
	height: 135px;
	padding-top: 20px;
	cursor: pointer;
	
	span {
		display: block;
		height: 110px;
		text-align: center;
		
		img {
			display: inline-block;
		}
	}
	label {
		display: block;
		color: #A9ACC1;
		cursor: pointer;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	}
	
	&:hover {
		label {
			color: #fff;
		}
	}
}

/**
 * App list module
 */
.su-app-list,
.su-app-favourites {
	h2 {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .75);
		display: block;
		padding: 42px 10px 0;
	}
	
	.app-list {
		position: relative;
		
		li {
			position: absolute;
		
			&.yui3-dd-dragging {
				opacity: 0 !important;
			}
		}
	}
}

li.app-list-proxy {
	position: absolute;
	z-index: 16;
	list-style: none;
	display: block;
}

/**
 * Favourites app list
 */
.su-app-favourites {
	
	h2 {
		color: #9A9BA1;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .75);
		display: block;
		padding: 7px 11px;
	}
	
	.app-list-outter {
		.border-radius (5px);
		border: 2px dashed #4B4C5C;
	}
	
	.app-list {
		.border-radius (5px);
		border: 2px dashed #2D2C38;
		min-height: 50px;
		position: relative;
		top: -1px;
		margin: -2px;
		
		overflow: hidden; //for animated height
		
		li.empty {
			position: static;
			width: auto;
			float: none;
			height: 50px;
			padding: 0;
			background: url(../images/apps/favourite-text.png) 50% 50% no-repeat;
			cursor: default;
			display: none;
		}
	}
	
	.app-list-empty .app-list li.empty {
		display: block;
	}
}

/**
 * Pagination module
 */
.su-pagination {
	text-align: center;
	padding-top: 25px;
	
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url(../images/apps/navigation.png) 0 0 no-repeat;
		cursor: pointer;
		
		&.active,
		&:hover {
			background-position: 0 -30px;
		}
	}
	
	&.su-pagination-hidden {
		visibility: hidden;
	}
}

/**
 * Block module
 */
.su-block {
	margin: 0 0 4px;
}
.su-block-heading {
	.border-radius (6px, 6px, 0, 0);
	border: 1px solid #4E4A58;
	border-bottom: 0;
	position: relative;
	
	h2 {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .75);
		padding: 6px 18px;
		
		a {
			color: #7DC9F2;
			font-size: 12px;
			font-weight: normal;
			
			display: block;
			position: absolute;
			right: 10px;
			top: 0;
			padding: 6px 35px 6px 6px;
			background: url(../images/info/icon-new-window.png) 100% 11px no-repeat;
		}
	}
}
.su-block-content {
	.border-radius (0, 0, 6px, 6px);
	border: 1px solid #4E4A58;
	border-top: 0;
}

/**
 * Chart
 */
.chart {
	padding: 1px 12px 7px 10px;
	font-size: 11px;
	
	.daily {
		min-height: 120px;
		
		.tooltip-label {
			display: inline-block;
			width: 70px;
		}
		.tooltip-value {
			display: inline-block;
			width: 40px;
			text-align: right !important;
		}
	}
	.monthly {
		color: #fff;
		font-size: 12px;
		padding: 10px 0 10px;
		
		.item {
			width: 33%;
			float: left;
			display: inline;
			
			p {
				padding-top: 3px;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
				text-align: center;
			}
			p.count {
				font-size: 22px;
				font-weight: bold;
			}
		}
	}
	
	// show eveery 4-th label
	.axisLabel:nth-child(4n+1),
	.axisLabel:nth-child(4n+2),
	.axisLabel:nth-child(4n+3) {
		display: none !important;
	}
	[tabindex] {
		outline: none;
	}
}

/**
 * Data list
 */
.data-list {
	list-style: none;
	padding: 2px 12px 7px 10px;
	position: relative;
	
	min-height: 50px;
	
	li.empty {
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		text-align: center;
		text-shadow: 0 1px 0 rgba(0,0,0,0.75);
		padding: 15px 0 0;
		opacity: 0.25;
	}
	
	li.item {
		border-top: 1px solid #474853;
		border-bottom: 1px solid #262730;
		position: relative;
		padding: 8px 100px 6px 9px;
		
		&:first-child {
			border-top: 0;
		}
		&:last-child {
			border-bottom: 0;
		}
		
		.su-button, .right {
			position: absolute;
			right: 3px;
			top: 8px;
		}
		
		.su-button {
			top: 2px;
		}
		
		//Using & > p to prevent overwriting button styles
		& > p {
			color: #fff;
			font-size: 12px;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .75);
			
			a {
				color: #fff;
				font-weight: bold;
			}
			
			&.right {
				text-align: right;
				
				b {
					font-size: 14px;
				}
				span {
					display: inline-block;
					width: 27px;
					text-align: left;
					
					&.up {
						color: #4CB010;
					}
					&.down {
						color: #EE0A2A;
					}
				}
			}
		}
	}
	
	li.loading-icon {
		margin-top: -19px;
	}
}

/**
 * Inbox module
 */
.su-inbox {
	
	li {
		&.new > p {
			font-weight: bold;
			color: #7AD2FF;
			
			a {
				color: #7AD2FF;
			}
		}
	}
}

/**
 * Visitors module
 */
.su-visitors {

	.su-block-content {
		height: 200px;
	}
	
	.stats-settings {
		margin: 68px 20% 0;
		
		.su-button {
			margin-bottom: 10px;
		}
	}
	
}

/* ---- Button ---- */
@import "/cms/lib/supra/build/button/assets/skins/supra/less/button-mixin.less";

.su-visitors .button-settings {
	.button (url("../images/info/buttons.png"), 21px, 252px);
}
.su-visitors .button-done {
	.button (url("../images/info/buttons.png"), 21px, 0px);
}
.su-visitors .su-button-stats-settings {
	float: right;
	position: relative;
	margin: 1px -10px 0 0;
	line-height: 21px;	
	
	&.button-settings {
		p {
			padding: 0;
			width: 12px;
			background: url("../images/info/buttons-icon-edit.png") 50% 5px no-repeat;
		}
	}
}
.gecko .su-visitors .su-button-stats-settings {
	/* Fix button > p offset */
	p {
		position: relative;
		margin: 0 -2px;
	}
}

/**
 * Authorization
 */
.dashboard-authorization {
	.su-block-content {
		text-align: center;
		padding: 0 20%;
		height: 200px - 1px; // 1px == margin
		overflow: hidden;
		
		> .su-button {
			margin-top: 82px;
		}
		> .yui3-form {
			margin-top: 70px;
		}
	}
}
