{# empty Twig template #}
{% macro sitemapList(sitemap) %}
	{% if sitemap | length > 0 %}
		<ul>
		{% for child in sitemap %}
			<li>
				<a href="{{ child.path }}">{{ child.title }}</a>
				
				{% if sitemap.hasChildren() %}
					{{ _self.sitemapList( sitemap.getChildren() ) }}
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<i>no items</i>
	{% endif %}
{% endmacro %}

<h2>Sitemap!</h2>

{{ _self.sitemapList(sitemap) }}
