<li>
	<div class="as-wrapper">
		<img class="as-layer absolute fill" src="{{ property.background }}" />
		<div class="as-layer as-layer-top">
			{{ property.text_top }}
		</div>
		<div class="as-layer as-layer-left-small">
			{{ property.text_main }}
			<div class="as-layer buttons" data-supra-item-property="buttons"></div>
		</div>
		<div class="as-layer as-layer-right-large">
			{{ property.media }}
		</div>
	</div>
</li>