<li {% if hidden %}class="hidden"{% endif %}>
	<div class="as-wrapper" {% if property.height %}style="min-height: {{ property.height }}px;"{% endif %}>
		{% if property.background %}
			<img class="as-layer absolute as-background" src="{{ property.background }}" />
		{% endif %}
		
		<div class="as-layer as-layer-left-large">
			{{ property.media }}
		</div>
		<div class="as-layer as-layer-right-small">
			{{ property.text_main|raw }}
			<div class="as-layer buttons" data-supra-item-property="buttons">
				{{ property.buttons|raw }}
			</div>
		</div>
	</div>
</li>