<li {% if hidden %}class="hidden"{% endif %}>
	<div class="as-wrapper">
		{% if property.background %}
			<img class="as-layer absolute fill" src="{{ property.background }}" />
		{% endif %}
		
		<div class="as-layer as-layer-top">
			{{ property.text_top|raw }}
		</div>
		<div class="as-layer as-layer-left-small">
			{{ property.text_main|raw }}
			<div class="as-layer buttons" data-supra-item-property="buttons">
				{{ property.buttons|raw }}
			</div>
		</div>
		<div class="as-layer as-layer-right-large">
			{{ property.media|raw }}
		</div>
	</div>
</li>