<li {% if hidden %}class="hidden"{% endif %}>
	{% if property.background %}
		<img class="as-layer absolute as-background" src="{{ property.background }}" />
	{% endif %}
	<div class="as-wrapper" {% if property.height %}style="min-height: {{ property.height }}px;"{% endif %} data-supra-item-height="true">
		<i class="as-center" {% if property.height %}style="min-height: {{ property.height }}px;"{% endif %} data-supra-item-height="true"></i>
		<div class="as-layer as-layer-left-small">
			{{ property.text_main|raw }}
			<div class="as-layer buttons" data-supra-item-property="buttons">
				{{ property.buttons|raw }}
			</div>
		</div>
		<div class="as-layer as-layer-right-large">
			{{ property.media|raw }}
		</div>
	</div>
</li>