/*
 * HTMLEditor toolbar
 */
.yui3-editor-toolbar-html .yui3-editor-toolbar-main-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin-top: 50px;
	background: url("/cms/lib/supra/img/toolbar/buttons-background.png") 0 -50px repeat-x;
}
.yui3-editor-toolbar-html .yui3-editor-toolbar-main {
	background: none;
	box-shadow: none;
	
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}