.yui3-editor-toolbar-content {
	padding: 10px 1px;
}
	.yui3-editor-toolbar-content .yui3-tabs-content .yui3-tabs-content .yui3-button img+p {
		display: none;
	}
	.yui3-editor-toolbar-content .yui3-tabs-content {
		overflow: hidden;
	}
	
	.yui3-toolbar-image-section {
		float: left;
	}
	.yui3-toolbar-image-section label {
		display: block;
		padding: 2px 8px 5px;
	}
	
	.yui3-toolbar-image-right {
		float: right;
	}
	
	.yui3-toolbar-image-info {
		float: left;
		margin: 1px 10px 0 15px;
	}
		.yui3-toolbar-image-info div {
			padding: 7px 0 0;
		}
		.yui3-toolbar-image-info label {
			display: inline-block;
			width: 75px;
			color: #999;
		}