<div class="block">
    {% if errors %}
		{% for error in errors %}
		<p>{{ error }}</p>
		{% endfor %}
    {% else %}
        Please specify Twitter account to feed from in the Twitter feed block properties.
    {% endif %}
</div>