<div class="bottom">
	<p class="copyright pull-left">
		{{ supraBlock.property('copyright') }}<br>
		{{ supraBlock.property('theme') }}
	</p>

	<p class="copyright pull-right">
		{{ supraBlock.property('images') }}
	</p>
</div>