<div class="bottom">
	<div class="copyright pull-left">
		{{ supraBlock.property('copyright') }}<br>
		{{ supraBlock.property('theme') }}
	</div>

	<div class="copyright pull-right">
		{{ supraBlock.property('images') }}
	</div>
</div>