<div class="bottom">
	{% set copyright = supraBlock.property('copyright') %}
	{% set theme     = supraBlock.property('theme') %}
	{% set images    = supraBlock.property('images') %}
	
	{% if supra.cmsRequest or copyright or theme %}
	<div class="copyright pull-left">
		{% if copyright %}{{ copyright }}{% endif %}
		{% if copyright and theme %}<br>{% endif %}
		{% if theme %}{{ theme }}{% endif %}
	</div>
	{% endif %}
	
	{% if supra.cmsRequest or images %}
		<div class="copyright pull-right">
			{{ images }}
		</div>
	{% endif %}
</div>