<!-- <form action="http://www.onlinedengi.ru/wmpaycheck.php" method="post">
	<input type="hidden" name="project" value="1898">
	<input type="hidden" name="source" value="1898">
	<input type="hidden" name="order_id" value="111222333">
	Ваш ник: <input type="text" name="nickname" value="mumu">
	Сумма к оплате, в валюте платёжной системы: 

	<input type="text" name="amount" value="55.10">
	Способ оплаты: <select name="mode_type">
	<option value="4">WebMoney WMB</option>
	<option value="3">WebMoney WME</option>
</select>
<input type="submit" value="Оплатить!">
</form> -->

<form action ="{{ action }}" method="post" enctype="application/x-www-form-urlencoded">

	{% if errorMessages %}
	<ul> 
		{% for errorMessage in errorMessages %}
			<li>{{ errorMessage | raw }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% for formElement in formElements %} 

		{{ formElement | raw }}

	{% endfor %} 

	<input type="submit" value="SEND DENGI DATA!!!" />

</form>
