/**
 * Table of contents
 * 		= Reset
 * 		= HTML5
 * 		= Grid
 * 		= Text
 * 		= Typography
 * 		= Layout
 * 		= Inputs
 * 		= Menu
 * 		= Buttons
 */


/*
 * -------------------------------= Reset =------------------------------------
 */
@import "960gs/reset.less";

/*
 * -------------------------------= HTML5 =------------------------------------
 */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,
footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video {
	display:block;
}
mark,rp,rt,ruby,summary,time {
	display: inline;
}

/*
 * ------------------------------= Grid =------------------------------------
 */
@import "960gs/grid.less";

/*
 * ------------------------------= Text =------------------------------------
 */
@import "960gs/text.less";

/*
 * ----------------------------= Typography =----------------------------------
 */
body,
input,
textarea,
button,
.su-customize-font-body {
	font: 13px/1.5 Helvetica, Arial, sans-serif;
	color: #3C3C3C;
}

h1,
h2,
h3,
.su-customize-font-heading {
	font-family: Helvetica, Arial, sans-serif;
	color: #3C3C3C;
}

a {
	color: #0067B1;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}
small {
	font-size: 80%;
}

/*
 * ------------------------------= Layout =------------------------------------
 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body,
.su-customize-background {
	background: #f6f6f6;
	background-position: 0 0;
	background-repeat: repeat;
}

#branding,
#footer {
	margin: 20px;
}
.box {
	background: #fff;
	padding: 20px;
}

.nav.main {
	list-style: none;
	
	li {
		float: left;
		
		&:first-child {
			margin-left: 0;
		}
	}
}

/*
 * ------------------------------= Inputs =------------------------------------
 */
input, select, textarea, button {
    margin: 0;
    padding: 0;
	outline: none;
}

textarea {
    /* Horizontal resize breaks layout */
	resize: vertical;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	/* Removes mozilla button outline */
	border: 0;
}

input, select, textarea, button {
	/* In all browsers (except IE7) form elements same width (when width is set) */
	box-sizing: border-box;            /* Opera */
	-webkit-box-sizing: border-box;    /* Safari, Chrome */
	-moz-box-sizing: border-box;       /* FF3+ */
	-ms-box-sizing: border-box;        /* IE8+ */
}

input[type="submit"], button {
	/* Pointer cursor for submit buttons */
	cursor: pointer;
}


/*
 * ------------------------------= Menu =------------------------------------
 */
.menu-orange .nav.main {
	background: #F86728;
	a { color: #fff; }
}
.menu-dark-gray .nav.main,
.menu-dark-gray-fence .nav.main {
	background: #1A252D;
	a { color: #fff; }
}
.menu-white-shadow .nav.main {
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
}


/*
 * ------------------------------= Buttons =------------------------------------
 */

.linear-gradient (@colorA, @posA: 0%, @colorB, @posB: 100%) {
	background-image: linear-gradient(top, @colorA @posA, @colorB @posB);
	background-image: -o-linear-gradient(top, @colorA @posA, @colorB @posB);
	background-image: -moz-linear-gradient(top, @colorA @posA, @colorB @posB);
	background-image: -webkit-linear-gradient(top, @colorA @posA, @colorB @posB);
	background-image: -ms-linear-gradient(top, @colorA @posA, @colorB @posB);
}
.multi-gradient (@colorA, @posA: 0%, @colorB, @posB: 50%, @colorC, @posC: 51%, @colorD, @posD: 100%) {
	background-image: linear-gradient(top, @colorA @posA, @colorB @posB, @colorC @posC, @colorD @posD);
	background-image: -o-linear-gradient(top, @colorA @posA, @colorB @posB, @colorC @posC, @colorD @posD);
	background-image: -moz-linear-gradient(top, @colorA @posA, @colorB @posB, @colorC @posC, @colorD @posD);
	background-image: -webkit-linear-gradient(top, @colorA @posA, @colorB @posB, @colorC @posC, @colorD @posD);
	background-image: -ms-linear-gradient(top, @colorA @posA, @colorB @posB, @colorC @posC, @colorD @posD);
}

.btn {
	width: 100%;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	border: 0;
	border-top: 1px solid #C2C2C2;
	height: 30px;
	
	box-shadow: 0 1px 0 rgba(0,0,0,0.37);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.37);
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.37);
	
	//.linear-gradient (#FEC400, 0%, #DE8E03, 100%);
	.linear-gradient (#B0B0B0, 0%, #595959, 100%);
	
	
	&:hover {
		border-top-color: #D2D2D2;
		
		//.linear-gradient (#FFC300, 0%, #EB9502, 100%);
		.linear-gradient (#B2B2B2, 0%, #7D7D7D, 100%);
	}
}
.button-rounded .btn {
	border-radius: 60px;
}
.button-glass .btn {
	border-radius: 4px;
	
	//.multi-gradient (#FFAE00, 0%, #E79300, 51%);
	.multi-gradient (#8E8E8E, 0%, #8E8E8E, 50%, #747474, 51%, #747474, 100%);
	
	&:hover {
		//.multi-gradient (#FFAE00, 0%, #FFAE00, 50%, #F79D00, 51%, #F79D00, 100%);
		.multi-gradient (#9E9E9E, 0%, #9E9E9E, 50%, #848484, 51%, #848484, 100%);
	}
}
