//
// News list and news page
//
.news,
.news-item {
	font-size: 12px;
	line-height: 1.5em;
}

.news h1 {
	font-size: 18px;
	line-height: 20px;
}
.news h2,
.news-item h1 {
	color: #2C87B6;
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 5px;
	
	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.news {
	.image {
		display: block;
		margin: 0 0 14px;
	}
	a.image {
		width: 100%;
		overflow: hidden;
	}
	
	h2 {
		margin: 0 0 2px;
	}
	p {
		margin: 0;
		line-height: 20px;
		
		&.meta {
			margin: 0 0 9px;
			color: #8A8A8A;
		}
	}
	
	.news-list {
		list-style: none;
		
		.image {
			float: left;
			width: auto;
			margin: 3px 20px 10px 0;
		}
		h2 {
			font-size: 15px;
			line-height: 18px;
		}
		p {
			&.meta {
				margin-bottom: 3px;
			}
		}
		
		li {
			border-top: 1px solid #E3E3E3;
			padding: 17px 0 19px;
			
			&:first-child {
				border-top: 0;
			}
		}
	}
	
	.news-split-list {
		padding-bottom: 17px;
		
		.news-list {
			border-bottom: 0;
			
			.image {
				margin: 3px 10px 5px 0;
			}
			
			li {
				padding: 9px 0 7px;
				
				&:first-child {
					padding-top: 0;
				}
			}
		}
		
		& + .news-list {
			border-top: 2px solid #E3E3E3;
			padding-top: 6px;
		}
	}
	
	
}

//Main page
.page-main .news {
	.news-split-list {
		border-top: 1px solid #E3E3E3;
		padding-top: 13px;
		
		a {
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
		
		.news-list {
			border-bottom: 0;
			
			.image {
				margin: 3px 10px 5px 0;
			}
			
			li {
				padding: 9px 0 7px;
				
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
}

.news-item {
	
	.back {
		font-weight: bold;
		
		a {
			color: #83CAE0;
		}
	}
	
	.meta {
		margin: 0 0 24px;
	}
	
}


.page-navigation {
	text-align: center;
	padding: 16px 0;
	margin: 10px 0 0;
	border-top: 1px solid #E3E3E3;
	
	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	span.mid {
		color: #2C87B6;
	}
	
	a,
	span {
		display: inline-block;
		vertical-align: top;
		width: 29px;
		height: 28px;
		font-weight: bold;
		line-height: 28px;
		text-align: center;
		
		&.current {
			color: #5E5E5E;
			line-height: 26px;
			text-decoration: none;
			
			width: 27px;
			height: 26px;
			border: 1px solid #B6B6B6;
		}
		
		&.prev,
		&.next {
			.animate (none);
			background-position: 50% 0;
			background-repeat: no-repeat;
			
			&:hover {
				background-position: 50% -28px;
			}
		}
		
		&.prev {
			background-image: url(/assets/img/pagination-prev.gif);
		}
		&.next {
			background-image: url(/assets/img/pagination-next.gif);
		}
	}
}


//  
//  Mobile (Portrait)
//
@media only screen and (max-width: 480px) {
	
	.page-main .news,
	.news {
		
		h2 {
			font-size: 15px;
			line-height: 18px;
		}
		p.meta {
			margin: 0 0 3px;
		}
		.news-list li {
			padding: 9px 0 7px;
		}
		.news-split-list {
			padding-bottom: 0;
			
			.news-list li:first-child {
				border-top: 1px solid #E3E3E3;
				padding-top: 9px;
				margin-top: 7px;
			}
			
			& + .news-list {
				border-top-width: 1px;
				padding-top: 0;
			}
		}
	
	}
	
}