/**
 * Data list
 */
.data-list {
	list-style: none;
	padding: 22px 6px 0 15px;
	position: relative;
	
	min-height: 50px;
	
	li.empty {
		color: #ffffff;
		font-size: 13px;
		line-height: 24px;
		text-align: center;
		padding: 50px 0 0;
		opacity: 0.25;
	}
	
	li.item {
		border-top: 1px solid #9a9eb6;
		position: relative;
		padding: 4px 100px 5px 0;
		
		&:first-child {
			border-top: 0;
		}
		
		.right {
			position: absolute;
			right: 3px;
			top: 4px;
		}
		
		.su-button {
			top: 2px;
		}
		
		//Using & > p to prevent overwriting button styles
		& > p {
			color: #fff;
			font-size: 13px;
			
			a {
				color: #fff;
				font-weight: bold;
			}
			
			&.right {
				text-align: right;
				
				b {
					color: #313037;
					font-weight: normal;
				}
				span {
					display: inline-block;
					width: 27px;
					text-align: left;
					padding: 0 13px 0 10px;
					
					&.up {
						color: #fff;
						background: url("../images/info/icon-up.gif") 100% 5px no-repeat;
					}
					&.down {
						color: #fff;
						background: url("../images/info/icon-down.gif") 100% 5px no-repeat;
					}
				}
			}
		}
	}
	
	li.loading-icon {
		margin-top: -19px;
	}
}