<nav class="second bg-color">
	<b class="font">Par mums</b>
	<a href="#">Jaunumi</a><br />
	<a href="#">Vēsture</a><br />
	<a href="#" class="active">Vadība</a><br />
	<a href="#">Apdrošināšanas aģenti</a><br />
	<a href="#">Finanšu atskaites</a><br />
	<a href="#">Rekvizīti</a><br />
	<a href="#">Presei</a>
</nav>
