.yui3-source-editor {
	position: absolute;
	z-index: 2;
	top: 48px;
	bottom: 0px;
	left: 0;
	right: 0;
	background: #fff;
}
.yui3-source-editor-content {
	background: #fff;
	width: 100%;
	height: 100%;
	
	/* Center */
	max-width: 980px;
	margin: 0 auto;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.yui3-source-editor-content.loading {
	background: url("/cms/lib/supra/img/ajax-loader.gif") 50% 50% no-repeat;
}
.yui3-source-editor-content.loading > * {
	display: none;
}

.yui3-page-source-editor {
	min-height: 100%;
	height: 100%;
}
.yui3-page-source-editor textarea {
	border: 0;
	padding: 5px;
	width: 100%;
	min-height: 100%;
	resize: none;
	font: 13px/16px "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

/*
.yui3-page-source-editor .line-numbers {
	border-right: 3px solid #6CE26C;
	padding: 0 8px 0 0;
	position: absolute;
	left: 0;
	top: 0;
}
.yui3-page-source-editor .line-numbers i {
	width: 25px;
	display: block;
	
	color: #AFAFAF;
	font-size: 13px;
	font-style: normal;
	line-height: 16px;
	text-align: right;
}
*/