//Common style definitions
@import "/cms/lib/supra/less/common.less";

/**
 * CRUD
 */
.crud {
	position: absolute;
	bottom: 0;
	
	/**
	 * Slideshow
	 */
	.su-slide-content {
		height: 100%;
	}
	
	/**
	 * Grid
	 */
	.su-datagrid {
		padding-left: 155px;
		max-width: 1000px;
		min-width: 800px;
		margin: 0 auto;
		
		table {
			margin: 15px 0;
		}
	}
	
	/**
	 * Form
	 */
	.yui3-form,
	.yui3-footer {
		width: 600px;
		margin: 0 auto;
	}
	.yui3-footer .yui3-footer-content {
		padding-left: 185px;
	}
	
	.yui3-form-content {
		padding-top: 20px;
	}
	
	/**
	 * Additional styles
	 */
	.block-inset {
		.border-radius (8px);	
		.box-shadow (0, 2px, 3px, rgba(0, 0, 0, 0.75) inset);
		background: rgba(35, 33, 42, 0.5);
	}
}


@import "../modules/datagrid-delete/datagrid-delete.css.less";
