.yui-tab-history .yui3-slider {
	display: block;
}
.yui-tab-history .yui3-slider-content {
	margin: 4px 11px;
	display: block;
}
.yui-tab-history .yui3-slider-x .yui3-slider-thumb {
	top: -4px !important;
	margin-left: 80px;
	cursor: pointer;
}
.yui-tab-history .yui3-slider-x .yui3-slider-rail {
	padding-left: 80px;
	padding-right: 80px;
}

.yui-tab-history .slider-pages {
	background: #FFFFFF;
	height: 80px;
	margin: 10px 10px 9px;
	border: 1px solid #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0 96px;
}
	.yui-tab-history .slider-pages ul {
		position: relative;
	}
	.yui-tab-history .slider-pages li {
		position: absolute;
		top: 0;
		width: 160px;
		height: 70px;
		text-align: center;
		margin: 0 0 0 -80px;
		padding: 10px 0 0;
		cursor: pointer;
	}
	.yui-tab-history .slider-pages div {
		position: absolute;
		left: 50%;
		top: 55px;
		height: 10px;
		border-left: 1px solid #999;
	}
