.useravatar-container {
	display: block !important;
	opacity: 0;
	
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.useravatar-container.su-panel-true-hidden {
	display: none !important;
}

.useravatar-container.yui3-animate {
	-moz-transform: scale(0.5) translate(0, -100px);
	-webkit-transform: scale(0.5) translate(0, -100px);
	transform: scale(0.5) translate(0, -100px);
	
	opacity: 0;
}
.useravatar-container.yui3-animate-in {
	-moz-transition: opacity ease-out 0.35s, -moz-transform ease-out 0.35s;
	-webkit-transition: opacity ease-out 0.35s, -webkit-transform ease-out 0.35s;
	transition: opacity ease-out 0.35s, transform ease-out 0.35s;
	
	-moz-transform: scale(1) translate(0, 0);
	-webkit-transform: scale(1) translate(0, 0);
	transform: scale(1) translate(0, 0);
	
	opacity: 1;
}
.useravatar-container.yui3-animate-out {
	-moz-transition: opacity ease-out 0.35s, -moz-transform ease-out 0.35s;
	-webkit-transition: opacity ease-out 0.35s, -webkit-transform ease-out 0.35s;
	transition: opacity ease-out 0.35s, transform ease-out 0.35s;
	
	-moz-transform: scale(0.5) translate(0, -100px);
	-webkit-transform: scale(0.5) translate(0, -100px);
	transform: scale(0.5) translate(0, -100px);
	
	opacity: 0;
}

.useravatar-container.su-panel-true-hidden {
	display: none !important;
}

.useravatar {
	padding: 20px 20px 10px 10px;
	width: 234px;
}
.useravatar ul {
	list-style: none;
	overflow: hidden;
}
.useravatar li {
	float: left;
	margin: 0 0 10px 10px;
	padding: 2px;
	width: 60px;
	height: 60px;
	
	border: 2px solid #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-transition: border-color ease 0.2s;
	-webkit-transition: border-color ease 0.2s;
	transition: border-color ease 0.2s;
	
	cursor: pointer;
}
.useravatar li:hover,
.useravatar li.selected {
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
	border-color: #36c;
}
.useravatar li.drop-target {
	border-style: dashed;
}
.useravatar li.drop-target em {
	padding: 8px 2px;
	height: 48px;
	font-size: 11px;
	text-align: center;
	display: block;
}

.useravatar li img {
	display: block;
	opacity: 1;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-transition: opacity ease 0.2s;
	-webkit-transition: opacity ease 0.2s;
	transition: opacity ease 0.2s;
}

.useravatar li.yui3-html5-dd-target {
	border-color: #36c;
}

.useravatar li.loading {
	background: url(/cms/lib/supra/img/ajax-loader.gif) 50% 50% no-repeat;
}
.useravatar li.loading img {
	opacity: 0;
}
