@import "/cms/lib/supra/less/common.less";

.useravatar-container {
	display: block !important;
	opacity: 0;
	
	&.su-panel-true-hidden {
		display: none !important;
	}
	
	&.yui3-animate {
		.transform (scale(0.5) translate(0, -100px));
		opacity: 0;
	}
	&.yui3-animate-in {
		-moz-transition: opacity ease-out 0.35s, -moz-transform ease-out 0.35s;
		-webkit-transition: opacity ease-out 0.35s, -webkit-transform ease-out 0.35s;
		transition: opacity ease-out 0.35s, transform ease-out 0.35s;
		
		.transform (scale(1) translate(0, 0));
		opacity: 1;
	}
	&.yui3-animate-out {
		-moz-transition: opacity ease-out 0.35s, -moz-transform ease-out 0.35s;
		-webkit-transition: opacity ease-out 0.35s, -webkit-transform ease-out 0.35s;
		transition: opacity ease-out 0.35s, transform ease-out 0.35s;
		
		.transform (scale(0.5) translate(0, -100px));
		opacity: 0;
	}
}

.useravatar {
	padding: 20px 20px 10px 10px;
	width: 234px;

	ul {
		list-style: none;
		overflow: hidden;
	}
	li {
		float: left;
		margin: 0 0 10px 10px;
		padding: 2px;
		width: 60px;
		height: 60px;
		
		border: 2px solid #eee;
		
		.border-radius (5px);
		.transition (border-color ease 0.2s);
		
		cursor: pointer;
	}
	
	&:hover,
	&.selected {
		.transition (none);
		border-color: #36c;
	}
	&.drop-target {
		border-style: dashed;
	}
	&.drop-target em {
		padding: 8px 2px;
		height: 48px;
		font-size: 11px;
		text-align: center;
		display: block;
	}
	
	img {
		.border-radius (5px);
		.transition (opacity ease 0.2s);
		display: block;
		opacity: 1;
	}
	
	&.yui3-html5-dd-target {
		border-color: #36c;
	}
	
	&.loading {
		background: url(/cms/lib/supra/img/ajax-loader.gif) 50% 50% no-repeat;
		
		img {
			opacity: 0;
		}
	}
}