/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a,
a * {
  cursor: pointer;
  text-decoration: underline;
}
a:hover,
a:hover *,
a:focus,
a:focus *,
a:active,
a:active * {
  outline: 0;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: top;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
/* Table of Contents
==================================================
	#Less mixins
	#960 Grid
	#Tablet (Portrait)
	#Mobile (Portrait)
	#Mobile (Landscape)
	#Clearing */
/* #Less mixins
================================================== */
/* #Base 960 Grid
================================================== */
body {
  min-width: 960px;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  /* Nested columns */

  /* Sizes */

  /* Base Grid */

  /* Offsets */

}
.container .row,
.container .grid_item {
  margin-bottom: 20px;
}
.container .grid_1,
.container .grid_2,
.container .grid_3,
.container .grid_4,
.container .grid_5,
.container .grid_6,
.container .grid_7,
.container .grid_8,
.container .grid_9,
.container .grid_10,
.container .grid_11,
.container .grid_12,
.container .grid_13,
.container .grid_14,
.container .grid_15,
.container .grid_16,
.container .one_half,
.container .one_third,
.container .two_thirds,
.container .one_fourth,
.container .three_fourths {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.container .alpha {
  margin-left: 0;
  margin-right: 10px;
}
.container .omega {
  margin-right: 0;
  margin-left: 10px;
}
.container .alpha.omega {
  margin-left: 0;
  margin-right: 0;
}
.container .grid_1 {
  width: 40px;
}
.container .grid_2 {
  width: 100px;
}
.container .grid_3 {
  width: 160px;
}
.container .grid_4 {
  width: 220px;
}
.container .grid_5 {
  width: 280px;
}
.container .grid_6 {
  width: 340px;
}
.container .grid_7 {
  width: 400px;
}
.container .grid_8 {
  width: 460px;
}
.container .grid_9 {
  width: 520px;
}
.container .grid_10 {
  width: 580px;
}
.container .grid_11 {
  width: 640px;
}
.container .grid_12 {
  width: 700px;
}
.container .grid_13 {
  width: 760px;
}
.container .grid_14 {
  width: 820px;
}
.container .grid_15 {
  width: 880px;
}
.container .grid_16 {
  width: 940px;
}
.container .one_half {
  width: 460px;
}
.container .one_third {
  width: 300px;
}
.container .two_thirds {
  width: 620px;
}
.container .one_fourth {
  width: 220px;
}
.container .three_fourths {
  width: 700px;
}
.container .grid_12 .one_half {
  width: 340px;
}
.container .grid_12 .one_third {
  width: 220px;
}
.container .grid_12 .two_thirds {
  width: 460px;
}
.container .grid_12 .one_fourth {
  width: 160px;
}
.container .grid_12 .three_fourths {
  width: 520px;
}
.container .prefix_1 {
  padding-left: 60px;
}
.container .prefix_2 {
  padding-left: 120px;
}
.container .prefix_3 {
  padding-left: 180px;
}
.container .prefix_4 {
  padding-left: 240px;
}
.container .prefix_5 {
  padding-left: 300px;
}
.container .prefix_6 {
  padding-left: 360px;
}
.container .prefix_7 {
  padding-left: 420px;
}
.container .prefix_8 {
  padding-left: 480px;
}
.container .prefix_9 {
  padding-left: 540px;
}
.container .prefix_10 {
  padding-left: 600px;
}
.container .prefix_11 {
  padding-left: 660px;
}
.container .prefix_12 {
  padding-left: 720px;
}
.container .prefix_13 {
  padding-left: 780px;
}
.container .prefix_14 {
  padding-left: 840px;
}
.container .prefix_15 {
  padding-left: 900px;
}
.container .suffix_1 {
  padding-right: 60px;
}
.container .suffix_2 {
  padding-right: 120px;
}
.container .suffix_3 {
  padding-right: 180px;
}
.container .suffix_4 {
  padding-right: 240px;
}
.container .suffix_5 {
  padding-right: 300px;
}
.container .suffix_6 {
  padding-right: 360px;
}
.container .suffix_7 {
  padding-right: 420px;
}
.container .suffix_8 {
  padding-right: 480px;
}
.container .suffix_9 {
  padding-right: 540px;
}
.container .suffix_10 {
  padding-right: 600px;
}
.container .suffix_11 {
  padding-right: 660px;
}
.container .suffix_12 {
  padding-right: 720px;
}
.container .suffix_13 {
  padding-right: 780px;
}
.container .suffix_14 {
  padding-right: 840px;
}
.container .suffix_15 {
  padding-right: 900px;
}
.container .tablet,
.container .mobile,
.container .mobile-portrait {
  display: none;
}
.container .desktop {
  display: block;
}
/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {
    min-width: 768px;
  }
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0;
    /* Nested columns */
  
    /* Sizes */
  
    /* Base Grid */
  
    /* Offsets */
  
  }
  .container .row,
  .container .grid_item {
    margin-bottom: 20px;
  }
  .container .grid_1,
  .container .grid_2,
  .container .grid_3,
  .container .grid_4,
  .container .grid_5,
  .container .grid_6,
  .container .grid_7,
  .container .grid_8,
  .container .grid_9,
  .container .grid_10,
  .container .grid_11,
  .container .grid_12,
  .container .grid_13,
  .container .grid_14,
  .container .grid_15,
  .container .grid_16,
  .container .one_half,
  .container .one_third,
  .container .two_thirds,
  .container .one_fourth,
  .container .three_fourths {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container .alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  .container .omega {
    margin-right: 0;
    margin-left: 10px;
  }
  .container .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .grid_1 {
    width: 28px;
  }
  .container .grid_2 {
    width: 76px;
  }
  .container .grid_3 {
    width: 124px;
  }
  .container .grid_4 {
    width: 172px;
  }
  .container .grid_5 {
    width: 220px;
  }
  .container .grid_6 {
    width: 268px;
  }
  .container .grid_7 {
    width: 316px;
  }
  .container .grid_8 {
    width: 364px;
  }
  .container .grid_9 {
    width: 412px;
  }
  .container .grid_10 {
    width: 460px;
  }
  .container .grid_11 {
    width: 508px;
  }
  .container .grid_12 {
    width: 556px;
  }
  .container .grid_13 {
    width: 604px;
  }
  .container .grid_14 {
    width: 652px;
  }
  .container .grid_15 {
    width: 700px;
  }
  .container .grid_16 {
    width: 748px;
  }
  .container .one_half {
    width: 364px;
  }
  .container .one_third {
    width: 236px;
  }
  .container .two_thirds {
    width: 492px;
  }
  .container .one_fourth {
    width: 172px;
  }
  .container .three_fourths {
    width: 556px;
  }
  .container .grid_12 .one_half {
    width: 268px;
  }
  .container .grid_12 .one_third {
    width: 172px;
  }
  .container .grid_12 .two_thirds {
    width: 364px;
  }
  .container .grid_12 .one_fourth {
    width: 124px;
  }
  .container .grid_12 .three_fourths {
    width: 412px;
  }
  .container .prefix_1 {
    padding-left: 48px;
  }
  .container .prefix_2 {
    padding-left: 96px;
  }
  .container .prefix_3 {
    padding-left: 144px;
  }
  .container .prefix_4 {
    padding-left: 192px;
  }
  .container .prefix_5 {
    padding-left: 240px;
  }
  .container .prefix_6 {
    padding-left: 288px;
  }
  .container .prefix_7 {
    padding-left: 336px;
  }
  .container .prefix_8 {
    padding-left: 384px;
  }
  .container .prefix_9 {
    padding-left: 432px;
  }
  .container .prefix_10 {
    padding-left: 480px;
  }
  .container .prefix_11 {
    padding-left: 528px;
  }
  .container .prefix_12 {
    padding-left: 576px;
  }
  .container .prefix_13 {
    padding-left: 624px;
  }
  .container .prefix_14 {
    padding-left: 672px;
  }
  .container .prefix_15 {
    padding-left: 720px;
  }
  .container .suffix_1 {
    padding-right: 48px;
  }
  .container .suffix_2 {
    padding-right: 96px;
  }
  .container .suffix_3 {
    padding-right: 144px;
  }
  .container .suffix_4 {
    padding-right: 192px;
  }
  .container .suffix_5 {
    padding-right: 240px;
  }
  .container .suffix_6 {
    padding-right: 288px;
  }
  .container .suffix_7 {
    padding-right: 336px;
  }
  .container .suffix_8 {
    padding-right: 384px;
  }
  .container .suffix_9 {
    padding-right: 432px;
  }
  .container .suffix_10 {
    padding-right: 480px;
  }
  .container .suffix_11 {
    padding-right: 528px;
  }
  .container .suffix_12 {
    padding-right: 576px;
  }
  .container .suffix_13 {
    padding-right: 624px;
  }
  .container .suffix_14 {
    padding-right: 672px;
  }
  .container .suffix_15 {
    padding-right: 720px;
  }
  .container .desktop,
  .container .mobile,
  .container .mobile-portrait {
    display: none;
  }
  .container .tablet {
    display: block;
  }
}
/*  #Mobile (Portrait and Landscape)
================================================== */
@media only screen and (max-width: 767px) {
  body {
    min-width: 300px;
  }
  .container {
    width: 300px;
    /* Offsets */
  
  }
  .container .grid_1,
  .container .grid_2,
  .container .grid_3,
  .container .grid_4,
  .container .grid_5,
  .container .grid_6,
  .container .grid_7,
  .container .grid_8,
  .container .grid_9,
  .container .grid_10,
  .container .grid_11,
  .container .grid_12,
  .container .grid_13,
  .container .grid_14,
  .container .grid_15,
  .container .grid_16,
  .container .one_half,
  .container .one_third,
  .container .two_thirds,
  .container .one_fourth,
  .container .three_fourths {
    margin: 0;
    width: 300px;
  }
  .container .prefix_1,
  .container .prefix_2,
  .container .prefix_3,
  .container .prefix_4,
  .container .prefix_5,
  .container .prefix_6,
  .container .prefix_7,
  .container .prefix_8,
  .container .prefix_9,
  .container .prefix_10,
  .container .prefix_11,
  .container .prefix_12,
  .container .prefix_13,
  .container .prefix_14,
  .container .prefix_15,
  .container .suffix_1,
  .container .suffix_2,
  .container .suffix_3,
  .container .suffix_4,
  .container .suffix_5,
  .container .suffix_6,
  .container .suffix_7,
  .container .suffix_8,
  .container .suffix_9,
  .container .suffix_10,
  .container .suffix_11,
  .container .suffix_12,
  .container .suffix_13,
  .container .suffix_14,
  .container .suffix_15 {
    padding-left: 0;
    padding-right: 0;
  }
  .container .row,
  .container .grid_item {
    margin-bottom: 20px;
  }
  .container .desktop,
  .container .tablet,
  .container .mobile {
    display: none;
  }
  .container .mobile-portrait {
    display: block;
  }
}
/* #Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    min-width: 420px;
  }
  .container {
    width: 420px;
  }
  .container .grid_1,
  .container .grid_1,
  .container .grid_2,
  .container .grid_3,
  .container .grid_4,
  .container .grid_5,
  .container .grid_6,
  .container .grid_7,
  .container .grid_8,
  .container .grid_9,
  .container .grid_10,
  .container .grid_11,
  .container .grid_12,
  .container .grid_13,
  .container .grid_14,
  .container .grid_15,
  .container .grid_16,
  .container .one_half,
  .container .one_third,
  .container .two_thirds,
  .container .one_fourth,
  .container .three_fourths {
    margin: 0;
    width: 420px;
  }
  .container .row,
  .container .grid_item {
    margin-bottom: 20px;
  }
  .container .desktop,
  .container .tablet,
  .container .mobile-portrait {
    display: none;
  }
  .container .mobile {
    display: block;
  }
}
/* #Misc
================================================== */
.bottom_remove {
  margin-bottom: 0 !important;
}
.bottom_half {
  margin-bottom: 10px !important;
}
.bottom_add {
  margin-bottom: 20px !important;
}
/* #Clearing
================================================== */
.clear-fix {
  zoom: 1;
}
.clear-fix:before,
.clear-fix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clear-fix:after {
  clear: both;
}
/* Clear */
.container:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix,
.row {
  zoom: 1;
}
.clearfix:before,
.row:before,
.clearfix:after,
.row:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.row:after {
  clear: both;
}
.clear {
  clear: both !important;
  display: block !important;
  overflow: hidden !important;
  visibility: hidden !important;
  width: 100% !important;
  height: 0 !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.clear {
  width: 100% !important;
  height: 0 !important;
  clear: both !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
body {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  background: #0a1e29 url(/assets/img/pattern/10.png);
  cursor: url(/assets/img/test.cur);
}
p {
  margin: 0 0 1em;
}
img.align-left,
img.align-right {
  margin: 3px 0 1em;
}
img.align-left {
  margin-right: 20px;
}
img.align-right {
  margin-left: 20px;
}
img.shadow {
  -o-box-shadow: 0 1px 5px #999999;
  -moz-box-shadow: 0 1px 5px #999999;
  -webkit-box-shadow: 0 1px 5px #999999;
  -ms-box-shadow: 0 1px 5px #999999;
  box-shadow: 0 1px 5px #999999;
}
img.border {
  border: 3px solid #ccc;
}
a {
  color: #2c87b6;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition: 0.1s all ease-in-out 0s;
  -moz-transition: 0.1s all ease-in-out 0s;
  -o-transition: 0.1s all ease-in-out 0s;
  -ms-transition: 0.1s all ease-in-out 0s;
  transition: 0.1s all ease-in-out 0s;
}
h1 {
  font-size: 24px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0 0 15px;
}
h2 {
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0 0 10px;
}
h3 {
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0 0 7px;
}
table {
  width: 100%;
  border-left: 1px solid #cee3ee;
}
table th,
table td {
  border-right: 1px solid #cee3ee;
  padding: 7px 10px;
}
table th {
  background: #6daccd;
  color: #fff;
  text-align: left;
}
table th p,
table th h1,
table th h2,
table th h3,
table th h4,
table th h5 {
  margin: 0;
}
table td {
  border-bottom: 1px solid #cee3ee;
}
table .odd td {
  background: #f0f7fa;
}
table .selected td {
  background: #c0e1f2;
  border-right-color: #a8d3e9;
}
.text ul,
.text ol {
  padding-left: 30px;
  margin: 1em 0;
}
.text ul ul,
.text ol ul,
.text ul ol,
.text ol ol {
  padding-left: 20px;
}
.text ul {
  list-style-type: disc;
}
.text ol {
  list-style-type: decimal;
}
html body .font-6 {
  font-size: 6px;
}
html body .font-8 {
  font-size: 8px;
}
html body .font-9 {
  font-size: 9px;
}
html body .font-10 {
  font-size: 10px;
}
html body .font-11 {
  font-size: 11px;
}
html body .font-12 {
  font-size: 12px;
}
html body .font-14 {
  font-size: 14px;
}
html body .font-16 {
  font-size: 16px;
}
html body .font-18 {
  font-size: 18px;
}
html body .font-24 {
  font-size: 24px;
}
html body .font-30 {
  font-size: 30px;
}
html body .font-36 {
  font-size: 36px;
}
html body .font-48 {
  font-size: 48px;
}
html body .font-60 {
  font-size: 60px;
}
html body .font-72 {
  font-size: 72px;
}
html body .font-inherit {
  font-size: inherit;
}
.pattern-a {
  background-image: url(/assets/img/block/pattern-a.png);
  background-position: 0 0;
  background-repeat: repeat;
}
.pattern-b {
  background-image: url(/assets/img/block/pattern-b.png);
  background-position: 0 0;
  background-repeat: repeat;
}
.border-thin {
  border: 1px solid transparent;
}
.border-medium {
  border: 2px solid transparent;
}
.border-thick {
  border: 3px solid transparent;
}
.border-rounded {
  border: 1px solid transparent;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.border-dashed {
  border: 1px dashed transparent;
}
@media only screen and (max-width: 480px) {
  a {
    text-decoration: none;
  }
  h2 {
    color: #5F5C5D;
  }
}
header {
  background: #2c87b6;
  position: relative;
}
header > div {
  height: 105px;
}
header .logo {
  float: left;
}
header .logo i,
header .logo a {
  display: inline-block;
  vertical-align: middle;
}
header .logo i {
  width: 10px;
  overflow: hidden;
  height: 105px;
}
header .logo img {
  vertical-align: middle;
}
header nav {
  float: right;
  padding: 37px 0 0;
}
header nav li {
  float: left;
  border-right: 1px solid #2f779c;
}
header nav li:last-child {
  border: none;
}
header nav li.active a,
header nav li.active a:hover {
  color: #0a4665;
}
header nav a {
  height: 31px;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
header .trim,
header .trim-2,
header .trim-3 {
  width: 100%;
  height: 10px;
  background: url(/assets/img/header-trim.png);
  position: absolute;
  left: 0;
  bottom: 0;
}
header .trim.trim-2,
header .trim-2.trim-2,
header .trim-3.trim-2 {
  background: url(/assets/img/header-trim-2.png);
  height: 12px;
}
header .trim.trim-3,
header .trim-2.trim-3,
header .trim-3.trim-3 {
  background: url(/assets/img/header-trim-3.png);
  height: 6px;
  bottom: -6px;
}
header.white {
  background: #fff;
}
header.white nav li {
  border-color: #c2cace;
}
header.white nav li.active a,
header.white nav li.active a:hover {
  color: #07567f;
}
header.white nav li a {
  color: #2c87b6;
}
header.white nav li a:hover {
  color: #d63800;
}
header.orange {
  background: #ee682e;
}
header.orange nav li {
  border-color: #d45c28;
}
header.orange nav li.active a,
header.orange nav li.active a:hover {
  color: #323232;
}
header.orange nav li a {
  color: #fff;
}
header.orange nav li a:hover {
  color: #ffcd55;
}
header.dark {
  background: #222931;
}
header.dark nav li {
  border-color: #44494f;
}
header.dark nav li.active a,
header.dark nav li.active a:hover {
  color: #71b607;
}
header.dark nav li a {
  color: #fff;
}
header.dark nav li a:hover {
  color: #8d8d8d;
}
@media only screen and (max-width: 767px) {
  header > div {
    height: 177px;
  }
  header .logo {
    float: none;
    text-align: center;
  }
  header nav {
    float: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #F6F6F6;
    padding: 11px 0 0;
    height: 61px;
    text-align: center;
  }
  header nav > div {
    width: 300px;
    margin: 0 auto;
  }
  header nav .form .selector {
    -o-box-shadow: 0px 0px 3px #a0a0a0;
    -moz-box-shadow: 0px 0px 3px #a0a0a0;
    -webkit-box-shadow: 0px 0px 3px #a0a0a0;
    -ms-box-shadow: 0px 0px 3px #a0a0a0;
    box-shadow: 0px 0px 3px #a0a0a0;
    -o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
  }
  header nav .form .selector > a,
  header nav .form .selector > div > div {
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  header nav .form .selector > a {
    width: auto;
    height: 33px;
    border: 1px solid #9D9D9D;
    padding: 0 48px 0 14px;
    font-size: 14px;
    line-height: 33px;
    text-align: left;
    background: url(/assets/img/mobile-portrait/nav.png) 0 0 repeat-x;
  }
  header nav .form .selector > a i {
    width: 34px;
    height: 33px;
    background: url(/assets/img/mobile-portrait/nav.png) 0 -33px no-repeat;
  }
  header nav .form .selector > a:hover i {
    background-position: 0 -66px;
  }
  header nav .form .selector.opened {
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  }
  header nav .form .selector.opened i {
    background-position: 0 -99px;
  }
  header nav .form .selector.opened:hover i {
    background-position: 0 -132px;
  }
  header nav .form .selector > div {
    top: 0;
    padding-top: 34px;
    z-index: 2;
    -o-box-shadow: 0px 0px 3px #a0a0a0;
    -moz-box-shadow: 0px 0px 3px #a0a0a0;
    -webkit-box-shadow: 0px 0px 3px #a0a0a0;
    -ms-box-shadow: 0px 0px 3px #a0a0a0;
    box-shadow: 0px 0px 3px #a0a0a0;
    -o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
  }
  header nav .form .selector > div  > div {
    max-height: 300px;
    border: 1px solid #9D9D9D;
    background: #EEE;
    -o-box-shadow: 0px 1px 2px #c5c5c5 inset;
    -moz-box-shadow: 0px 1px 2px #c5c5c5 inset;
    -webkit-box-shadow: 0px 1px 2px #c5c5c5 inset;
    -ms-box-shadow: 0px 1px 2px #c5c5c5 inset;
    box-shadow: 0px 1px 2px #c5c5c5 inset;
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
  }
  header nav .form .selector > div  > div  > ul {
    padding: 2px 4px 0;
  }
  header nav .form .selector > div  > div  > ul  > li {
    border-bottom: 1px solid #DADADA;
  }
  header nav .form .selector > div li {
    float: none;
    border: 0;
  }
  header nav .form .selector > div li a {
    color: #333;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
    padding: 2px 10px 4px;
    height: auto;
  }
  header nav .form .selector > div li a:hover {
    background: #fff;
  }
  header nav .form .selector > div li li a {
    padding-left: 24px;
    font-weight: normal;
  }
  header nav .form .selector > div li li li a {
    padding-left: 38px;
    color: #666666;
  }
  header nav .form .selector > div li li li li a {
    padding-left: 48px;
    font-size: 12px;
  }
  header nav .form .selector > div li ul {
    background: none;
    border: 0;
    padding: 0 0 2px 0;
  }
  header nav .form .selector > div li ul li.active a {
    font-weight: normal;
  }
  header nav .form .selector > div li ul  > li > ul  > li > ul {
    padding: 2px 0 0;
  }
  header nav .trim,
  header nav .trim-2,
  header nav .trim-3 {
    background-image: url(/assets/img/mobile-portrait/header-trim.png);
    bottom: 72px;
  }
  header nav .trim.trim-2,
  header nav .trim-2.trim-2,
  header nav .trim-3.trim-2 {
    background-image: url(/assets/img/mobile-portrait/header-trim-2.png);
    bottom: 72px;
  }
  header nav .trim.trim-3,
  header nav .trim-2.trim-3,
  header nav .trim-3.trim-3 {
    background-image: url(/assets/img/mobile-portrait/header-trim-3.png);
    bottom: 66px;
  }
}
.pull-left,
.align-left {
  float: left;
}
.pull-right,
.align-right {
  float: right;
}
.editor-text .pull-left,
.editor-text .align-left {
  margin-top: 3px;
  margin-right: 20px;
}
.editor-text .pull-right,
.editor-text .align-right {
  margin-top: 3px;
  margin-left: 20px;
}
.social {
  background: url(/assets/img/socials.png);
  width: 30px;
  height: 30px;
  display: inline-block;
}
.social.social-googlewave {
  background-position: 0 -30px;
}
.social.social-flickr {
  background-position: 0 -60px;
}
.social.social-facebook {
  background-position: 0 -90px;
}
.social.social-youtube {
  background-position: 0 -120px;
}
.columns {
  margin: 0 -10px;
}
.block {
  padding: 0 0 40px;
}
.block > h2 {
  font-size: 18px;
  margin-bottom: 0;
}
.sidemenu {
  margin: 0 0 40px;
}
.sidemenu a {
  display: block;
  text-decoration: none;
}
.sidemenu > li {
  border-bottom: 1px solid #e6e6e6;
}
.sidemenu > li > a {
  padding: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #2c87b6;
}
.sidemenu > li > a:hover {
  background: #cae1ed;
}
.sidemenu > li.active > a {
  color: #369;
  font-weight: bold;
  background: none;
}
.sidemenu > li.active > a:hover {
  text-decoration: underline;
}
.sidemenu > li ul {
  padding: 0 0 5px;
}
.sidemenu > li li {
  padding: 0 0 0 30px;
}
.sidemenu > li li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}
.sidemenu > li li a:hover {
  text-decoration: underline;
}
.sidemenu > li li.active a {
  color: #666;
  cursor: default;
  text-decoration: none;
}
.button,
.button span {
  display: inline-block;
  vertical-align: top;
  height: 29px;
  font-size: 14px;
  line-height: 29px;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  background: url(/assets/img/buttons.png) no-repeat;
  text-decoration: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
}
.button span,
.button span span {
  background-position: 100% -58px;
  padding: 0 20px;
}
.button span span,
.button span span span {
  background-position: 0 -29px;
  background-repeat: repeat-x;
  padding: 0;
}
.button:hover,
.button span:hover,
.button:focus,
.button span:focus {
  outline: none;
  background-position: 0 -87px;
}
.button:hover span,
.button span:hover span,
.button:focus span,
.button span:focus span {
  background-position: 100% -145px;
}
.button:hover span span,
.button span:hover span span,
.button:focus span span,
.button span:focus span span {
  background-position: 0 -116px;
}
.button:active,
.button span:active {
  background-position: 0 -174px;
}
.button:active span,
.button span:active span {
  background-position: 100% -232px;
}
.button:active span span,
.button span:active span span {
  background-position: 0 -203px;
}
.button.button-large,
.button span.button-large,
.button.button-large span,
.button span.button-large span {
  background-position: 0 -261px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}
.button.button-large span,
.button span.button-large span,
.button.button-large span span,
.button span.button-large span span {
  background-position: 100% -345px;
}
.button.button-large span span,
.button span.button-large span span,
.button.button-large span span span,
.button span.button-large span span span {
  background-position: 0 -303px;
}
.button.button-large:hover,
.button span.button-large:hover,
.button.button-large span:hover,
.button span.button-large span:hover {
  background-position: 0 -387px;
}
.button.button-large:hover span,
.button span.button-large:hover span,
.button.button-large span:hover span,
.button span.button-large span:hover span {
  background-position: 100% -471px;
}
.button.button-large:hover span span,
.button span.button-large:hover span span,
.button.button-large span:hover span span,
.button span.button-large span:hover span span {
  background-position: 0 -429px;
}
.button.button-large:active,
.button span.button-large:active,
.button.button-large span:active,
.button span.button-large span:active {
  background-position: 0 -513px;
}
.button.button-large:active span,
.button span.button-large:active span,
.button.button-large span:active span,
.button span.button-large span:active span {
  background-position: 100% -597px;
}
.button.button-large:active span span,
.button span.button-large:active span span,
.button.button-large span:active span span,
.button span.button-large span:active span span {
  background-position: 0 -555px;
}
.button.button-footer,
.button span.button-footer,
.button.button-footer span,
.button span.button-footer span {
  height: 31px;
  background: url(/assets/img/button-footer.png) no-repeat;
  font-size: 12px;
  line-height: 31px;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
.button.button-footer span,
.button span.button-footer span,
.button.button-footer span span,
.button span.button-footer span span {
  background-position: 100% -62px;
  padding: 0 15px;
}
.button.button-footer span span,
.button span.button-footer span span,
.button.button-footer span span span,
.button span.button-footer span span span {
  background-position: 0 -31px;
  background-repeat: repeat-x;
  padding: 0;
}
.button.button-footer:hover,
.button span.button-footer:hover,
.button.button-footer span:hover,
.button span.button-footer span:hover {
  background-position: 0 -93px;
}
.button.button-footer:hover span,
.button span.button-footer:hover span,
.button.button-footer span:hover span,
.button span.button-footer span:hover span {
  background-position: 100% -155px;
}
.button.button-footer:hover span span,
.button span.button-footer:hover span span,
.button.button-footer span:hover span span,
.button span.button-footer span:hover span span {
  background-position: 0 -124px;
}
.button.button-footer:active,
.button span.button-footer:active,
.button.button-footer span:active,
.button span.button-footer span:active {
  background-position: 0 -186px;
}
.button.button-footer:active span,
.button span.button-footer:active span,
.button.button-footer span:active span,
.button span.button-footer span:active span {
  background-position: 100% -248px;
}
.button.button-footer:active span span,
.button span.button-footer:active span span,
.button.button-footer span:active span span,
.button span.button-footer span:active span span {
  background-position: 0 -217px;
}
#container {
  background: #fff;
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .block {
    padding-bottom: 17px;
  }
  .editor-text .pull-left,
  .editor-text .pull-right,
  .editor-text .align-left,
  .editor-text .align-right {
    float: none;
    margin-top: 3px;
    margin-right: 0;
    margin-left: 0;
  }
}
footer {
  padding: 15px 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
}
footer a {
  color: #6ACAFB;
}
footer .socials {
  border-bottom: 1px solid rgba(164, 164, 164, 0.3);
  padding: 0 10px 10px;
  height: 30px;
  margin: 0 0 11px;
}
footer .socials a {
  margin: 0;
}
footer .socials div a {
  margin: 0 0 0 25px;
}
footer .container > .text {
  padding: 0 10px;
  margin-bottom: 39px;
}
footer ul {
  padding: 0 0 80px;
  width: 100%;
  overflow: hidden;
}
footer ul li {
  float: left;
  padding: 0 10px 20px;
  width: 300px;
}
footer h2 {
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  padding: 0 0 11px;
  margin: 0;
}
footer .text ul {
  padding: 0;
}
footer .text ul li {
  float: none;
  padding: 11px 0 0 29px;
  width: auto;
  background: url(/assets/img/footer-text-list-bullet.png) 7px 13px no-repeat;
}
footer .text ul li:first-child {
  padding-top: 0;
  background-position: 7px 2px;
}
footer .copyright {
  padding: 0 10px;
  color: #E1E0E0;
}
footer .block {
  padding-bottom: 10px;
}
footer .block > h2 {
  font-size: 16px;
  margin-bottom: 15px;
  padding-top: 20px;
  border-bottom: 1px solid #2a343a;
  font-weight: normal;
  line-height: normal;
}
footer .quick-nav {
  font-size: 14px;
}
footer .quick-nav ul {
  padding: 0;
}
footer .quick-nav a {
  display: inline-block;
  margin: 0 0 5px;
}
footer .soc-med-col a {
  margin-left: 10px;
}
footer .address {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
footer .address > div {
  padding: 0 10px;
  overflow: hidden;
}
footer .address h3 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 10px;
  margin: 0;
}
footer .address .map {
  margin: 10px 0 0;
  display: inline-block;
}
footer .address .map img {
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
footer .contact-form fieldset {
  padding: 0 10px;
}
footer .contact-form .field {
  position: relative;
  padding: 0 0 12px;
}
footer .contact-form .field label {
  position: absolute;
  left: 0;
  top: 0;
  color: #e1e0e0;
  line-height: 28px;
  font-size: 12px;
  width: 70px;
  text-align: right;
}
footer .contact-form .field > div {
  margin: 0 0 0 80px;
  text-align: right;
}
footer .contact-form .field input,
footer .contact-form .field textarea {
  width: 90%;
  background: #091821;
  border: 1px solid #162934;
  border-top: 1px solid #071218;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  line-height: normal;
  color: #fff;
}
footer .contact-form .field textarea {
  resize: vertical;
  min-height: 130px;
}
footer .contact-form .field.full-field > div {
  margin: 0;
}
footer .contact-form .buttons {
  text-align: right;
}
footer .about-company > div {
  padding: 0 10px;
  font-size: 12px;
  line-height: 18px;
  color: #e1e0e0;
}
footer .bottom {
  clear: both;
  padding: 15px 0 0;
}
@media only screen and (max-width: 480px) {
  footer {
    font-size: 11px;
    padding-top: 13px;
  }
  footer .socials {
    padding: 0 0 13px;
    margin: 0 0 23px;
  }
  footer h2 {
    font-size: 14px;
    line-height: 20px;
  }
  footer ul {
    padding-bottom: 13px;
  }
  footer ul li {
    padding: 0 0 20px;
    float: none;
    width: auto;
  }
  footer .container > .text {
    padding: 0;
    margin-bottom: 20px;
  }
  footer .bottom {
    padding: 0;
  }
  footer .bottom p {
    margin: 0 0 5px;
  }
  footer .copyright {
    float: none;
    padding: 0;
    color: #E1E0E0;
    font-size: 12px;
    line-height: 18px;
  }
  footer .about-company {
    color: #E1E0E0;
    font-size: 12px;
    line-height: 18px;
  }
  footer .about-company > div {
    padding: 0;
  }
  footer .address {
    color: #E1E0E0;
    font-size: 12px;
    line-height: 18px;
  }
  footer .address > div {
    padding: 0;
  }
}
.form form {
  background: #f7f7f7;
  margin: 10px 0 0 -10px;
  padding: 0 10px 10px;
}
.form label,
.form b {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 0 3px;
}
.form b {
  display: block;
}
.form input,
.form textarea {
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  border: 1px solid #a3a3a3;
  padding: 7px;
  width: 204px;
  display: block;
  outline: 0;
}
.form textarea {
  width: 674px;
  resize: vertical;
  min-height: 90px;
}
.form .errored {
  color: #f72222;
}
.form .errored input,
.form .errored textarea,
.form .errored.selector > a {
  border-color: #f72222;
}
.form button {
  margin-top: 15px;
}
.form .row {
  margin-right: -15px;
  margin-bottom: 0;
  width: 705px;
}
.form .row .field {
  float: left;
  margin: 0 15px 0 0;
  width: 220px;
}
.form .row .field:last-child {
  margin-right: 0;
}
.form .radio input,
.form .check input {
  display: none;
}
.form .radio label,
.form .check label {
  margin-right: 20px;
  font-weight: normal;
  padding: 0;
}
.form .radio label:first-last,
.form .check label:first-last {
  margin-left: 0;
}
.form .radio label.checked span,
.form .check label.checked span {
  background-position: -16px 0;
}
.form .radio span,
.form .check span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/assets/img/form-radiocheck.png);
  vertical-align: top;
  margin: 2px 7px 0 0;
}
.form .check span {
  width: 19px;
  height: 20px;
  background-position: 0 -16px;
  margin-top: -1px;
}
.form .check label.checked span {
  background-position: -19px -16px;
}
.form .selector {
  position: relative;
  font-size: 12px;
}
.form .selector > a {
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #a3a3a3;
  font-size: 12px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  height: 28px;
  padding: 0 7px;
  width: 204px;
  display: block;
  background: #fff;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.form .selector > a span {
  text-decoration: none;
}
.form .selector > a i {
  width: 29px;
  height: 28px;
  background: url(/assets/img/form-selector.png);
  position: absolute;
  right: 0;
  top: 0;
}
.form .selector > a:hover i {
  background-position: 0 -28px;
}
.form .selector.opened > div {
  display: block;
}
.form .selector.opened i {
  background-position: 0 -56px;
}
.form .selector.opened:hover i {
  background-position: 0 -84px;
}
.form .selector > div {
  position: absolute;
  width: 100%;
  top: 63px;
  left: 0;
  display: none;
}
.form .selector > div  > div {
  border: 1px solid #a3a3a3;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  overflow: auto;
  max-height: 150px;
}
.form .selector ul {
  padding: 3px 0;
}
.form .selector ul a {
  display: block;
  padding: 3px 7px;
  text-decoration: none;
}
.form .selector ul a:hover {
  background: #c0e1f2;
}
.form .selector ul .active > a {
  font-weight: bold;
}
.products-small,
.products-big,
.products-medium {
  margin: 0 -20px 0 0;
}
.products-small ul,
.products-big ul,
.products-medium ul {
  width: 100%;
  overflow: hidden;
}
.products-small li,
.products-big li,
.products-medium li {
  float: left;
  padding: 20px 20px 0 75px;
  width: 145px;
  position: relative;
  font-size: 12px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.products-small li img,
.products-big li img,
.products-medium li img {
  position: absolute;
  left: 0;
  top: 20px;
  border: 1px solid #ccc;
}
.products-small li h3,
.products-big li h3,
.products-medium li h3 {
  margin: 0;
}
.products-small li h3 a,
.products-big li h3 a,
.products-medium li h3 a {
  text-decoration: none;
}
.products-small li h3 a:hover,
.products-big li h3 a:hover,
.products-medium li h3 a:hover {
  text-decoration: underline;
}
.products-small li p,
.products-big li p,
.products-medium li p {
  margin: 7px 0 0;
}
.products-big h2 {
  margin-bottom: 10px;
}
.products-big li {
  padding-left: 0;
  padding-top: 10px;
  width: 220px;
}
.products-big li img {
  display: block;
  margin: 0 0 10px;
  position: relative;
  top: 0;
  left: 0;
}
.products-medium li {
  padding-left: 0;
  width: 340px;
}
.products-medium li img {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin: 10px 20px 0 0;
}
.products-medium li h3 img {
  margin-top: 0;
}
.products-medium li.big h3 {
  font-size: 16px;
}
.products-medium li.big p {
  margin: 10px 0 0;
}
@media only screen and (max-width: 480px) {
  .products-small li,
  .products-big li,
  .products-medium li {
    width: auto;
    padding-right: 0;
  }
}
.tabs {
  width: 100%;
  border: none;
  margin: 0 0 40px;
}
.tabs td {
  background: #d9d9d9;
  border: none;
  padding: 0;
}
.tabs a {
  display: block;
  text-align: center;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  padding: 0 20px;
}
.tabs .active a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}
@media only screen and (max-width: 480px) {
  .tabs {
    display: block;
  }
  .tabs tbody,
  .tabs tr,
  .tabs td {
    display: block;
  }
  .tabs td {
    margin-top: 1px;
  }
}
