.news,
.news-item {
  font-size: 12px;
  line-height: 1.5em;
}
.news h1 {
  font-size: 18px;
  line-height: 20px;
}
.news h2,
.news-item h1 {
  color: #2C87B6;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 5px;
}
.news h2 a,
.news-item h1 a {
  text-decoration: none;
}
.news h2 a:hover,
.news-item h1 a:hover {
  text-decoration: underline;
}
.news .image {
  display: block;
  margin: 0 0 14px;
}
.news a.image {
  width: 100%;
  overflow: hidden;
}
.news h2 {
  margin: 0 0 2px;
}
.news p {
  margin: 0;
  line-height: 20px;
}
.news p.meta {
  margin: 0 0 9px;
  color: #8A8A8A;
}
.news .news-list {
  list-style: none;
}
.news .news-list .image {
  float: left;
  width: auto;
  margin: 3px 20px 10px 0;
}
.news .news-list h2 {
  font-size: 15px;
  line-height: 18px;
}
.news .news-list p.meta {
  margin-bottom: 3px;
}
.news .news-list li {
  border-top: 1px solid #E3E3E3;
  padding: 17px 0 19px;
}
.news .news-list li:first-child {
  border-top: 0;
}
.news .news-split-list {
  padding-bottom: 17px;
}
.news .news-split-list .news-list {
  border-bottom: 0;
}
.news .news-split-list .news-list .image {
  margin: 3px 10px 5px 0;
}
.news .news-split-list .news-list li {
  padding: 9px 0 7px;
}
.news .news-split-list .news-list li:first-child {
  padding-top: 0;
}
.news .news-split-list  + .news-list {
  border-top: 2px solid #E3E3E3;
  padding-top: 6px;
}
.page-main .news .news-split-list {
  border-top: 1px solid #E3E3E3;
  padding-top: 13px;
}
.page-main .news .news-split-list a {
  text-decoration: underline;
}
.page-main .news .news-split-list a:hover {
  text-decoration: none;
}
.page-main .news .news-split-list .news-list {
  border-bottom: 0;
}
.page-main .news .news-split-list .news-list .image {
  margin: 3px 10px 5px 0;
}
.page-main .news .news-split-list .news-list li {
  padding: 9px 0 7px;
}
.page-main .news .news-split-list .news-list li:first-child {
  padding-top: 0;
}
.news-item .back {
  font-weight: bold;
}
.news-item .back a {
  color: #83CAE0;
}
.news-item .meta {
  margin: 0 0 24px;
}
.page-navigation {
  text-align: center;
  padding: 16px 0;
  margin: 10px 0 0;
  border-top: 1px solid #E3E3E3;
}
.page-navigation a {
  text-decoration: none;
}
.page-navigation a:hover {
  text-decoration: underline;
}
.page-navigation span.mid {
  color: #2C87B6;
}
.page-navigation a,
.page-navigation span {
  display: inline-block;
  vertical-align: top;
  width: 29px;
  height: 28px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}
.page-navigation a.current,
.page-navigation span.current {
  color: #5E5E5E;
  line-height: 26px;
  text-decoration: none;
  width: 27px;
  height: 26px;
  border: 1px solid #B6B6B6;
}
.page-navigation a.prev,
.page-navigation span.prev,
.page-navigation a.next,
.page-navigation span.next {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: none all ease-in-out 0s;
  -moz-transition: none all ease-in-out 0s;
  -o-transition: none all ease-in-out 0s;
  -ms-transition: none all ease-in-out 0s;
  transition: none all ease-in-out 0s;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.page-navigation a.prev:hover,
.page-navigation span.prev:hover,
.page-navigation a.next:hover,
.page-navigation span.next:hover {
  background-position: 50% -28px;
}
.page-navigation a.prev,
.page-navigation span.prev {
  background-image: url(/assets/img/pagination-prev.gif);
}
.page-navigation a.next,
.page-navigation span.next {
  background-image: url(/assets/img/pagination-next.gif);
}
@media only screen and (max-width: 480px) {
  .page-main .news h2,
  .news h2 {
    font-size: 15px;
    line-height: 18px;
  }
  .page-main .news p.meta,
  .news p.meta {
    margin: 0 0 3px;
  }
  .page-main .news .news-list li,
  .news .news-list li {
    padding: 9px 0 7px;
  }
  .page-main .news .news-split-list,
  .news .news-split-list {
    padding-bottom: 0;
  }
  .page-main .news .news-split-list .news-list li:first-child,
  .news .news-split-list .news-list li:first-child {
    border-top: 1px solid #E3E3E3;
    padding-top: 9px;
    margin-top: 7px;
  }
  .page-main .news .news-split-list  + .news-list,
  .news .news-split-list  + .news-list {
    border-top-width: 1px;
    padding-top: 0;
  }
}
