.tagline,
.tagline-3,
.tagline-4 {
  text-align: center;
}
.tagline h2,
.tagline-3 h2,
.tagline-4 h2,
.tagline span,
.tagline-3 span,
.tagline-4 span {
  background: #fee193;
  padding: 0 10px;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.tagline p,
.tagline-3 p,
.tagline-4 p {
  color: #5f5c5d;
  margin: 10px 0 0;
}
.tagline-2 > div {
  border: 1px solid #d7d6d6;
  border-left: none;
  border-right: none;
  padding: 1px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #5f5c5d;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #5f5c5d;
  text-align: center;
}
.tagline-2 > div > div {
  background: url(/assets/img/tagline-gradient.png) 50% 0 repeat-y;
  padding: 15px 10px;
}
.tagline-2 > div q {
  display: block;
  color: #a7a7a7;
  font-size: 18px;
  padding: 0 0 15px;
}
.tagline-2 > div q span {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #5f5c5d;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #5f5c5d;
  padding: 15px 0 10px;
  display: block;
  background: url(/assets/img/tagline-quote.png) 5px 0 no-repeat;
}
.tagline-2 > div h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0 0 10px;
}
.tagline-2 > div p {
  margin: 0;
}
.tagline-3 > div {
  border-top: 7px solid #d7d6d6;
  border-bottom: 1px solid #d7d6d6;
  padding: 20px 10px;
  text-align: left;
}
.tagline-3 h2 {
  background: none;
  padding: 0;
}
.tagline-4 > div {
  border-bottom: 1px solid #ebebeb;
  background: #f3f3f3 url(/assets/img/tagline-4-shadow.png) repeat-x;
  padding: 20px 10px;
  text-align: center;
}
.tagline-4 h2 {
  background: none;
}
.about-small {
  font-size: 12px;
}
.about-small h2 {
  margin: 0;
}
.about-small p {
  margin: 7px 0 0;
}
.about-big {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.about-big h2 {
  margin: 0;
}
.about-big p {
  margin: 10px 0 0;
}
.more {
  text-align: right;
  padding: 5px 0 0;
}
.promo-description {
  background: #e1e0e0;
  padding: 10px 0;
  margin: 0 0 40px;
  color: #5f5c5d;
  font-size: 12px;
}
.promo-description h2 {
  margin: 0;
}
.promo-description p {
  margin: 7px 0 0;
}
.promo-description .button {
  margin: 12px 0 0;
}
.products-slider {
  border-top: 3px solid #95c3da;
  padding-top: 20px;
  color: #5f5c5d;
  font-size: 12px;
  overflow: hidden;
  position: relative;
}
.products-slider h2 {
  margin: 12px 0 0;
}
.products-slider p {
  margin: 7px 0 0;
}
.products-slider ul {
  width: 100000%;
  overflow: hidden;
  position: relative;
}
.products-slider li {
  padding: 0 0 10px;
  display: none;
  position: relative;
}
.products-slider img {
  width: 220px;
  height: 125px;
}
.products-slider .nav-arrows {
  padding: 0 0 10px;
  text-align: center;
  clear: both;
}
.products-slider .nav-arrows a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background: url(/assets/img/products-strip-nav.png);
  margin: 0 5px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 50 );
  /* IE6+ */

  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 50 );
  /* IE6+ */

  vertical-align: top;
}
.products-slider .nav-arrows a:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

}
.products-slider .nav-arrows .next {
  background-position: -37px 0;
}
.products-slider .nav-arrows-pages {
  clear: both;
  width: 100%;
  overflow: hidden;
}
.products-slider .nav-arrows-pages > div {
  background: #2c87b6;
  float: right;
  padding: 0 100px 0 20px;
  line-height: 38px;
  font-size: 12px;
  color: #fff;
  position: relative;
}
.products-slider .nav-arrows-pages > div .prev,
.products-slider .nav-arrows-pages > div .next {
  width: 22px;
  height: 21px;
  background: url(/assets/img/products-strip-nav.png) 0 -37px;
  position: absolute;
  top: 8px;
  right: 55px;
}
.products-slider .nav-arrows-pages > div .prev:hover,
.products-slider .nav-arrows-pages > div .next:hover {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 70 );
  /* IE6+ */

  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 70 );
  /* IE6+ */

}
.products-slider .nav-arrows-pages > div .prev.disabled,
.products-slider .nav-arrows-pages > div .next.disabled {
  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 30 );
  /* IE6+ */

  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 30 );
  /* IE6+ */

  cursor: default;
}
.products-slider .nav-arrows-pages > div .next {
  background-position: -22px -37px;
  right: 20px;
}
.products-slider .nav-arrows-pages em {
  list-style: none;
}
.products-slider .nav-scrollbar {
  height: 8px;
  position: relative;
  background: url(/assets/img/products-scroller.gif);
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.products-slider .nav-scrollbar a {
  display: block;
  position: absolute;
  width: 100%;
  height: 8px;
  background: #d7d7d7;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
}
.products-slider.style-border {
  border-top: 0;
}
.products-slider.style-border li img {
  width: 210px;
  height: 90px;
  padding: 4px;
  border: 1px solid #f1f0f0;
}
.products-slider.style-border h2 {
  font-size: 16px;
  color: #5f5c5d;
}
.products-slider.style-border a {
  text-decoration: none;
}
.products-slider.style-border a:hover {
  text-decoration: underline;
}
.products-slider.style-box li {
  padding-bottom: 15px;
  background: url(/assets/img/products-stickers-shadow.png) 0 100% no-repeat;
  margin-bottom: 5px;
}
.products-slider.style-box li .outer {
  border: 1px solid #e9e9e9;
  display: block;
  color: #5f5c5d;
  text-decoration: none;
  padding: 19px;
  font-size: 12px;
  line-height: 18px;
}
.products-slider.style-box li .outer * {
  text-decoration: none;
}
.products-slider.style-box li .outer strong {
  font-size: 18px;
  display: block;
  padding: 0 0 10px;
}
.products-slider.style-box li .outer .img {
  display: block;
  width: 100%;
  overflow: hidden;
}
.products-slider.style-box li .outer img {
  width: 180px;
  height: 80px;
  margin-top: 12px;
}
.products-slider.style-box li a.outer:hover {
  border-color: #a9a9a9;
}
.products-slider.style-box li a.outer,
.products-slider.style-box li a.outer * {
  cursor: pointer;
}
.products-slider.style-box h2 {
  margin: 0;
}
.products-slider.animation-horizontal li.clear {
  display: none !important;
}
.products-strip {
  border-top: 3px solid #95c3da;
  padding-top: 20px;
  color: #5f5c5d;
  font-size: 12px;
  overflow: hidden;
  position: relative;
}
.products-strip h2 {
  margin: 12px 0 0;
}
.products-strip p {
  margin: 7px 0 0;
}
.products-strip ul {
  width: 100000%;
  overflow: hidden;
  position: relative;
}
.products-strip li {
  padding: 0 0 10px;
  display: none;
  position: relative;
}
.products-strip img {
  width: 220px;
  height: 125px;
}
.products-strip .nav {
  padding: 0 0 10px;
  text-align: center;
  clear: both;
}
.products-strip .nav a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background: url(/assets/img/products-strip-nav.png);
  margin: 0 5px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 50 );
  /* IE6+ */

  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 50 );
  /* IE6+ */

  vertical-align: top;
}
.products-strip .nav a:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

}
.products-strip .nav .next {
  background-position: -37px 0;
}
.products-strip .nav-2 {
  clear: both;
  width: 100%;
  overflow: hidden;
}
.products-strip .nav-2 > div {
  background: #2c87b6;
  float: right;
  padding: 0 100px 0 20px;
  line-height: 38px;
  font-size: 12px;
  color: #fff;
  position: relative;
}
.products-strip .nav-2 > div .prev,
.products-strip .nav-2 > div .next {
  width: 22px;
  height: 21px;
  background: url(/assets/img/products-strip-nav.png) 0 -37px;
  position: absolute;
  top: 8px;
  right: 55px;
}
.products-strip .nav-2 > div .prev:hover,
.products-strip .nav-2 > div .next:hover {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 70 );
  /* IE6+ */

  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 70 );
  /* IE6+ */

}
.products-strip .nav-2 > div .prev.disabled,
.products-strip .nav-2 > div .next.disabled {
  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 30 );
  /* IE6+ */

  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 30 );
  /* IE6+ */

  cursor: default;
}
.products-strip .nav-2 > div .next {
  background-position: -22px -37px;
  right: 20px;
}
.products-strip .nav-2 em {
  list-style: none;
}
.products-strip .nav-3 {
  height: 8px;
  position: relative;
  background: url(/assets/img/products-scroller.gif);
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.products-strip .nav-3 a {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #d7d7d7;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
}
.products-strip.products-strip-2 {
  border-top: 0;
}
.products-strip.products-strip-2 ul {
  width: 100%;
  overflow: hidden;
}
.products-strip.products-strip-2 li {
  display: block;
  padding-bottom: 20px;
}
.products-strip.products-strip-2 li img {
  width: 210px;
  height: 90px;
  padding: 4px;
  border: 1px solid #f1f0f0;
}
.products-strip.products-strip-2 h2 {
  font-size: 16px;
  color: #5f5c5d;
}
.products-strip.products-strip-2 a {
  text-decoration: none;
}
.products-strip.products-strip-2 a:hover {
  text-decoration: underline;
}
.products-strip.products-strip-3,
.products-strip.products-strip-4 {
  border-top: 0;
}
.products-strip.products-strip-3 ul,
.products-strip.products-strip-4 ul {
  width: 100%;
  overflow: hidden;
}
.products-strip.products-strip-3 li,
.products-strip.products-strip-4 li {
  display: block;
  padding-bottom: 20px;
}
.products-strip.products-strip-3 h2,
.products-strip.products-strip-4 h2 {
  font-size: 16px;
  color: #5f5c5d;
}
.products-strip.products-strip-3 a,
.products-strip.products-strip-4 a {
  text-decoration: none;
}
.products-strip.products-strip-3 a:hover,
.products-strip.products-strip-4 a:hover {
  text-decoration: underline;
}
.products-strip.products-strip-3 .grid_12,
.products-strip.products-strip-4 .grid_12 {
  margin: 0;
  width: 720px;
}
.products-strip.products-strip-3 > .grid_4,
.products-strip.products-strip-4 > .grid_4 {
  font-size: 14px;
  color: #5f5c5d;
}
.products-strip.products-strip-3 > .grid_4 h2,
.products-strip.products-strip-4 > .grid_4 h2 {
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #5f5c5d;
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #5f5c5d;
  margin: 0;
}
.products-strip.products-strip-4 li {
  padding-left: 60px;
  width: 160px;
  font-size: 12px;
  line-height: 16px;
}
.products-strip.products-strip-4 li h2 {
  margin: 0 0 0 -60px;
  height: 18px;
}
.products-strip.products-strip-4 li img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 27px;
}
.products-strip.products-strip-4 li .more {
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .products-slider {
    padding-top: 13px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EBEAEA;
  }
  .products-slider h2 {
    color: #5F5C5D;
  }
  .products-slider img {
    width: 300px;
    height: auto;
  }
  .products-slider .nav a {
    background-image: url(/assets/img/mobile-portrait/products-strip-nav.png);
    width: 31px;
    height: 31px;
  }
  .products-slider .nav .next {
    background-position: -31px 0;
  }
  .products-slider.products-strip-4 li {
    width: auto;
  }
  .products-slider.style-box li {
    background: none;
    margin-bottom: 0;
  }
}
.products-stickers ul {
  width: 100%;
  overflow: hidden;
}
.products-stickers li {
  padding-bottom: 15px;
  background: url(/assets/img/products-stickers-shadow.png) 0 100% no-repeat;
  margin-bottom: 5px;
}
.products-stickers li a {
  border: 1px solid #e9e9e9;
  display: block;
  color: #5f5c5d;
  text-decoration: none;
  padding: 19px;
  font-size: 12px;
  line-height: 18px;
}
.products-stickers li a * {
  text-decoration: none;
}
.products-stickers li a strong {
  font-size: 18px;
  display: block;
  padding: 0 0 10px;
}
.products-stickers li a img {
  width: 180px;
  height: 80px;
}
.products-stickers li a:hover {
  border-color: #a9a9a9;
}
.products-line {
  border-top: 1px solid #d7d6d6;
  height: 30px;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.products-huge {
  font-size: 12px;
  color: #5f5c5d;
}
.products-huge h2 {
  font-size: 26px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 26px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0 10px 15px;
}
.products-huge h3 {
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.products-huge h4 {
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.products-huge p {
  margin: 7px 0 0;
}
.products-huge img {
  float: left;
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
}
@media only screen and (max-width: 480px) {
  .tagline h2,
  .tagline-3 h2,
  .tagline-4 h2,
  .tagline span,
  .tagline-3 span,
  .tagline-4 span {
    font-size: 18px;
    line-height: 28px;
  }
  .about-big {
    color: #5F5C5D;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 35px;
  }
  .about-big h2 {
    color: #5F5C5D;
  }
  .promo-description {
    padding: 14px 13px 25px;
    font-size: 10px;
    line-height: 14px;
  }
  .promo-description > div.grid_12,
  .promo-description > div.grid_4 {
    width: auto;
    float: none;
    display: block;
  }
  .promo-description > div.grid_4 {
    text-align: center;
  }
  .promo-description h2 {
    color: #333;
    font-size: 18px;
  }
  .promo-description .button {
    margin-top: 19px;
  }
  .products-huge {
    color: #5F5C5D;
    font-size: 10px;
    line-height: 16px;
  }
  .products-huge h2 {
    font-size: 22px;
    line-height: normal;
    font-weight: bold;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: #5f5c5d;
    font-size: 22px;
    line-height: normal;
    font-weight: bold;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: #5f5c5d;
    margin: 0 0 9px;
  }
  .products-huge h3 {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: #5f5c5d;
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: #5f5c5d;
  }
  .products-huge h4 {
    font-size: 16px;
    line-height: normal;
    font-weight: bold;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: #5f5c5d;
    font-size: 16px;
    line-height: normal;
    font-weight: bold;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: #5f5c5d;
  }
  .products-huge p {
    margin: 7px 0 0;
  }
  .products-huge img {
    float: left;
    border: 1px solid #ccc;
    margin: 0 10px 10px 0;
  }
  .products-huge .more {
    font-size: 12px;
  }
}
.promo-slider {
  position: relative;
}
.promo-slider ul.promo-slider-list {
  height: 358px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.promo-slider ul.promo-slider-list li {
  width: 100%;
  height: 358px;
  overflow: hidden;
  color: #fff;
}
.promo-slider ul.promo-slider-list li img {
  position: absolute;
  left: 0;
  top: 0;
}
.promo-slider ul.promo-slider-list li > div {
  position: relative;
  left: 380px;
  top: 55px;
  width: 480px;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.65);
}
.promo-slider ul.promo-slider-view li {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
.promo-slider h2 {
  font-size: 36px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
.promo-slider .nav {
  position: absolute;
  top: 310px;
  right: 10px;
  background: url(/assets/img/promo-nav.png) no-repeat;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 0 );
  /* IE6+ */

  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 0 );
  /* IE6+ */

}
.promo-slider .nav div {
  height: 27px;
  background: url(/assets/img/promo-nav.png) 100% -54px no-repeat;
  padding: 0 13px;
  overflow: hidden;
}
.promo-slider .nav div div {
  background-position: 0 -27px;
  background-repeat: repeat-x;
  padding: 7px 0 0;
}
.promo-slider .nav a {
  width: 13px;
  height: 13px;
  display: inline-block;
  background: url(/assets/img/promo-pins.png);
  vertical-align: top;
  margin-left: 5px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
}
.promo-slider .nav a:first-child {
  margin: 0;
}
.promo-slider .nav a.active {
  background-position: 0 -13px;
  cursor: default;
}
.promo-slider .shadow {
  height: 30px;
  background: url(/assets/img/promo-shadow.jpg);
}
.promo-slider .prev,
.promo-slider .next {
  width: 41px;
  height: 41px;
  background: url(/assets/img/promo-arrows.png);
  position: absolute;
  left: 15px;
  top: 160px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 0 );
  /* IE6+ */

  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 0 );
  /* IE6+ */

}
.promo-slider .next {
  left: auto;
  right: 15px;
  background-position: -41px 0;
}
.promo-slider .thumbs {
  position: absolute;
  right: 70px;
  bottom: 50px;
}
.promo-slider .thumbs li {
  display: block;
  float: left;
  overflow: hidden;
  width: 100px;
  height: 49px;
  margin: 0 0 0 20px;
  cursor: pointer;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 50 );
  /* IE6+ */

  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 50 );
  /* IE6+ */

  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition: 0.1s all ease-in-out 0s;
  -moz-transition: 0.1s all ease-in-out 0s;
  -o-transition: 0.1s all ease-in-out 0s;
  -ms-transition: 0.1s all ease-in-out 0s;
  transition: 0.1s all ease-in-out 0s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition: 0.1s all ease-in-out 0s;
  -moz-transition: 0.1s all ease-in-out 0s;
  -o-transition: 0.1s all ease-in-out 0s;
  -ms-transition: 0.1s all ease-in-out 0s;
  transition: 0.1s all ease-in-out 0s;
}
.promo-slider .thumbs li img {
  display: block;
  max-width: 200%;
  margin-left: -25%;
}
.promo-slider .thumbs li:first-child {
  margin-left: 0;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

}
.promo-slider .thumbs li:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
  /* IE6+ */

}
.promo-slider.dots .more a,
.promo-slider.dots .more a span {
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
  font-style: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  background: url(/assets/img/promo-button.png) no-repeat;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: 0s all ease-in-out 0s;
  -moz-transition: 0s all ease-in-out 0s;
  -o-transition: 0s all ease-in-out 0s;
  -ms-transition: 0s all ease-in-out 0s;
  transition: 0s all ease-in-out 0s;
}
.promo-slider.dots .more a span,
.promo-slider.dots .more a span span {
  background-position: 100% -70px;
  padding: 0 40px 0 20px;
}
.promo-slider.dots .more a span span,
.promo-slider.dots .more a span span span {
  background-position: 0 -35px;
  background-repeat: repeat-x;
  padding: 0;
}
.promo-slider.dots .more a:hover,
.promo-slider.dots .more a span:hover {
  background-position: 0 -105px;
}
.promo-slider.dots .more a:hover span,
.promo-slider.dots .more a span:hover span {
  background-position: 100% -175px;
}
.promo-slider.dots .more a:hover span span,
.promo-slider.dots .more a span:hover span span {
  background-position: 0 -140px;
}
.promo-slider.arrows ul.promo-slider-list li > div {
  margin: 0 0 0 490px;
  height: 100%;
  padding: 50px 60px;
  width: auto;
  left: auto;
  top: auto;
}
.promo-slider.arrows h2 {
  color: #00c0ff;
}
.promo-slider.arrows .more {
  text-align: left;
}
.promo-slider.arrows .more a {
  line-height: 20px;
  height: 20px;
  display: inline-block;
  padding: 0 20px 0 0;
  background: url(/assets/img/promo-more.png) 100% 50% no-repeat;
  color: #ffd800;
  text-decoration: none;
}
.promo-slider.arrows .more:hover {
  text-decoration: underline;
}
.promo-slider.arrows-outer .prev {
  left: -15px;
  z-index: 3;
}
.promo-slider.arrows-outer .next {
  right: -15px;
  z-index: 3;
}
.promo-slider.arrows-outer ul.promo-slider-list li > div {
  left: 410px;
  padding: 20px;
  width: 460px;
}
.promo-slider.arrows-outer .more {
  text-align: right;
}
.promo-slider.arrows-outer .more a {
  padding: 0 25px 0 0;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  background: url(/assets/img/promo-more-3.png) 100% 4px no-repeat;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.promo-slider.arrows-outer .more a:hover {
  text-decoration: underline;
}
.promo-slider.thumbs ul.promo-slider-list li > div {
  top: 0;
  left: 410px;
  height: 100%;
  padding: 60px 20px;
  width: 460px;
}
.promo-slider.thumbs .more {
  text-align: right;
}
.promo-slider.thumbs .more a {
  padding: 0 25px 0 0;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  background: url(/assets/img/promo-more-3.png) 100% 4px no-repeat;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.promo-slider.thumbs .more a:hover {
  text-decoration: underline;
}
.promo-right {
  background: #e9f3f8;
  font-size: 12px;
}
.promo-right > div {
  padding: 15px 20px;
}
.promo-right h2 {
  font-size: 14px;
  text-align: center;
}
.promo-right .button,
.promo-right .button span {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .promo-slider {
    /* Default dot design */
  
    /* Arrow design */
  
    /* Arrows outside design */
  
    /* Thumbnail design */
  
  }
  .promo-slider .shadow {
    height: 24px;
    background: url(/assets/img/promo-shadow-768.jpg);
  }
  .promo-slider ul.promo-slider-list li  > div {
    left: 228px;
    width: 440px;
  }
  .promo-slider.arrows ul.promo-slider-list li > div {
    margin-left: 358px;
  }
  .promo-slider.arrows-outer ul.promo-slider-list li > div {
    left: 278px;
    width: 400px;
  }
  .promo-slider.thumbs ul.promo-slider-list li > div {
    left: 278px;
    width: 460px;
  }
  .promo-slider .thumbs {
    right: 25px;
  }
  .promo-slider .thumbs li {
    margin-left: 15px;
  }
  .promo-slider .thumbs li:first-child {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .promo-slider .prev,
  .promo-slider .next {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
    /* IE6+ */
  
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity= 100 );
    /* IE6+ */
  
    background: url(/assets/img/mobile-portrait/promo-arrows.png) 0 50% no-repeat;
    top: -35px;
    height: 100%;
    left: 0;
  }
  .promo-slider .next {
    right: 0;
    left: auto;
    background-position: 100% 50%;
  }
  .promo-slider .shadow {
    display: none;
  }
  .promo-slider h2 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 4px;
  }
  .promo-slider p {
    margin: 0;
  }
  .promo-slider .link {
    display: none;
  }
  .promo-slider .more a {
    color: #fff;
    text-decoration: underline;
  }
  .promo-slider .more a:hover {
    text-decoration: none;
  }
  .promo-slider ul.promo-slider-list {
    height: auto;
  }
  .promo-slider ul.promo-slider-list li {
    height: auto;
  }
  .promo-slider ul.promo-slider-list li > div {
    background: #2C87B6;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    position: static;
    padding: 8px 23px 15px;
    margin-top: 0;
    width: auto;
    left: auto;
    top: auto;
  }
  .promo-slider ul.promo-slider-list li img {
    position: relative;
    max-width: 150%;
    margin-left: -25%;
  }
  .promo-slider.arrows-outer .next {
    right: 0;
  }
  .promo-slider.arrows-outer .prev {
    left: 0;
  }
  .promo-slider.arrows-outer ul.promo-slider-list li > div {
    width: auto;
    left: auto;
    padding: 8px 23px 15px;
  }
}
.news,
.news-item {
  font-size: 12px;
  line-height: 1.5em;
}
.news h1 {
  font-size: 18px;
  line-height: 20px;
}
.news h2,
.news-item h1 {
  color: #2C87B6;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 5px;
}
.news h2 a,
.news-item h1 a {
  text-decoration: none;
}
.news h2 a:hover,
.news-item h1 a:hover {
  text-decoration: underline;
}
.news .image {
  display: block;
  margin: 0 0 14px;
}
.news a.image {
  width: 100%;
  overflow: hidden;
}
.news h2 {
  margin: 0 0 2px;
}
.news p {
  margin: 0;
  line-height: 20px;
}
.news p.meta {
  margin: 0 0 9px;
  color: #8A8A8A;
}
.news .news-list {
  list-style: none;
}
.news .news-list .image {
  float: left;
  width: auto;
  margin: 3px 20px 10px 0;
}
.news .news-list h2 {
  font-size: 15px;
  line-height: 18px;
}
.news .news-list p.meta {
  margin-bottom: 3px;
}
.news .news-list li {
  border-top: 1px solid #E3E3E3;
  padding: 17px 0 19px;
}
.news .news-list li:first-child {
  border-top: 0;
}
.news .news-split-list {
  padding-bottom: 17px;
}
.news .news-split-list .news-list {
  border-bottom: 0;
}
.news .news-split-list .news-list .image {
  margin: 3px 10px 5px 0;
}
.news .news-split-list .news-list li {
  padding: 9px 0 7px;
}
.news .news-split-list .news-list li:first-child {
  padding-top: 0;
}
.news .news-split-list  + .news-list {
  border-top: 2px solid #E3E3E3;
  padding-top: 6px;
}
.page-main .news .news-split-list {
  border-top: 1px solid #E3E3E3;
  padding-top: 13px;
}
.page-main .news .news-split-list a {
  text-decoration: underline;
}
.page-main .news .news-split-list a:hover {
  text-decoration: none;
}
.page-main .news .news-split-list .news-list {
  border-bottom: 0;
}
.page-main .news .news-split-list .news-list .image {
  margin: 3px 10px 5px 0;
}
.page-main .news .news-split-list .news-list li {
  padding: 9px 0 7px;
}
.page-main .news .news-split-list .news-list li:first-child {
  padding-top: 0;
}
.news-item .back {
  font-weight: bold;
}
.news-item .back a {
  color: #83CAE0;
}
.news-item .meta {
  margin: 0 0 24px;
}
.page-navigation {
  text-align: center;
  padding: 16px 0;
  margin: 10px 0 0;
  border-top: 1px solid #E3E3E3;
}
.page-navigation a {
  text-decoration: none;
}
.page-navigation a:hover {
  text-decoration: underline;
}
.page-navigation span.mid {
  color: #2C87B6;
}
.page-navigation a,
.page-navigation span {
  display: inline-block;
  vertical-align: top;
  width: 29px;
  height: 28px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}
.page-navigation a.current,
.page-navigation span.current {
  color: #5E5E5E;
  line-height: 26px;
  text-decoration: none;
  width: 27px;
  height: 26px;
  border: 1px solid #B6B6B6;
}
.page-navigation a.prev,
.page-navigation span.prev,
.page-navigation a.next,
.page-navigation span.next {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: none all ease-in-out 0s;
  -moz-transition: none all ease-in-out 0s;
  -o-transition: none all ease-in-out 0s;
  -ms-transition: none all ease-in-out 0s;
  transition: none all ease-in-out 0s;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transition: none all ease-in-out 0s;
  -moz-transition: none all ease-in-out 0s;
  -o-transition: none all ease-in-out 0s;
  -ms-transition: none all ease-in-out 0s;
  transition: none all ease-in-out 0s;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.page-navigation a.prev:hover,
.page-navigation span.prev:hover,
.page-navigation a.next:hover,
.page-navigation span.next:hover {
  background-position: 50% -28px;
}
.page-navigation a.prev,
.page-navigation span.prev {
  background-image: url(/assets/img/pagination-prev.gif);
}
.page-navigation a.next,
.page-navigation span.next {
  background-image: url(/assets/img/pagination-next.gif);
}
@media only screen and (max-width: 480px) {
  .page-main .news h2,
  .news h2 {
    font-size: 15px;
    line-height: 18px;
  }
  .page-main .news p.meta,
  .news p.meta {
    margin: 0 0 3px;
  }
  .page-main .news .news-list li,
  .news .news-list li {
    padding: 9px 0 7px;
  }
  .page-main .news .news-split-list,
  .news .news-split-list {
    padding-bottom: 0;
  }
  .page-main .news .news-split-list .news-list li:first-child,
  .news .news-split-list .news-list li:first-child {
    border-top: 1px solid #E3E3E3;
    padding-top: 9px;
    margin-top: 7px;
  }
  .page-main .news .news-split-list  + .news-list,
  .news .news-split-list  + .news-list {
    border-top-width: 1px;
    padding-top: 0;
  }
}
