{% extends "base/wrap.html.twig" %}

{% block content %}
	{# Main content #}
	<div class="content clearfix">

		<aside class="grid-l">
			<!--placeHolder(banner)-->
			
			<aside class="grid-inner-margin" data-column-source="content">
	
				{% block left_menu %}
					<!--placeHolder(left_menu)-->
				{% endblock %}
	
			</aside>
			
		</aside>
		<div class="grid-c">

			{% block center_menu %}
				<!--placeHolder(center_menu)-->
			{% endblock %}

		</div>
		<aside class="grid-r">

			{% block right_menu %}
				<!--placeHolder(right_menu)-->
			{% endblock %}

		</aside>

		<div class="grid-c" data-column-target="content">

			{% block text %}<!--placeHolder(center)-->{% endblock %}

		</div>

	</div>
{% endblock %}
