{% block beforeForm %}{% endblock %}

{% block form %}

	<form method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
		{{ form_rest(form) }}

		<input type="submit" />
	</form>
{% endblock %}

{% block afterForm%}{% endblock %}
