.ui-clipboard {
	color: #68605B;
	font-size: 12px;
	line-height: 15px;
	
	//Heading
	h2.title {
		color: #68605B;
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
		text-align: center;
		text-shadow: 0 1px 0 #FFFCEF;
		margin: 0 0 3px;
	}
	
	//Scrollbar color
	.su-scrollable > .su-scrollable-scrollbar {
		.su-scrollable-scrollbar-background {
			background: #F1D5AC;
		}
		.su-scrollable-draggable {
			background: #D29C6E;
		}
	}
	
	//Loading icon
	.loading > .loading-icon {
		border-right-color: #D29C6E;
		border-bottom-color: #D29C6E;
	}
	
	//Label style
	.yui3-input label {
		color: #68605B;
		font-size: 12px;
		font-weight: normal;
		line-height: 15px;
		text-shadow: none;
	}
	
	//Form
	.yui3-form-default {
		margin: 0;
		
		.yui3-input input,
		.yui3-input textarea {
			.box-shadow (0 1px 1px rgba(1, 1, 8, .6) inset, 0 1px 0 rgba(255, 255, 255, .07));
			color: #68605B;
			background: #E4D5B6;
			width: 197px;
			height: 21px;
			line-height: 20px;
		}
		
		.yui3-input {
			label {
				width: 110px;
				text-align: right;
				padding: 3px 10px 0 0;
			}
			&.yui3-input-error label {
				color: #FF3434;
			}
		}
	}
	
	//Footer
	.yui3-footer {
		border: 0;
	}
	.yui3-form .yui3-footer-content {
		padding: 0 0 29px 119px;
		border-bottom: 1px solid #CBC6B8;
	}
}
