@import "/cms/lib/supra/less/common.less";



.yui3-editor-toolbar-hidden {
	display: none;
}

.yui3-editor-toolbar-main {
	.box-shadow (0, 1px, 0, rgba(0,0,0,0.65), 0, 2px, 0, rgba(0,0,0,0.26) );
	
	background: url(/cms/lib/supra/img/toolbar/buttons-background.png) 0 0 repeat-x;
	height: 48px;
	text-align: center;
	
	position: relative;
	overflow: hidden;
	z-index: 2;
	
	.yui3-toolbar-separator {
		display: none;
	}
	
	/*
	 * ---- Main toolbar button style is simple ----
	 */
	.su-button {
		.box-shadow (none);
		
		&,
		div,
		button {
			background: none;
			padding: 0;
			vertical-align: top;
		}
		
		& {
			height: 48px;
		}
		button {
			text-align: center;
			height: 43px;
			width: 69px;
			padding-top: 5px;
		}
		p {
			color: #030110;
			font-size: 11px;
			font-weight: normal;
			line-height: 1em;
			text-shadow: 0 1px 0 rgba(118,120,142,.7);
			text-align: center;
			display: block;
			padding: 0;
		}
		.img {
			margin: 0 auto 2px;
			display: block;
			height: 25px;
			overflow: hidden;
		}
		img {
			display: block;
			margin: 0 auto;
			position: relative;
		}
	}
	
	.su-button-mouse-hover img {
		margin-top: -25px;
	}
	.su-button-mouse-down img,
	.su-button-mouse-down.su-button-down img {
		margin-top: -50px;
	}
	
	.su-button-down {
		p {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0,9,32,.4);
		}
		img {
			margin-top: -75px;
		}
	}
	
	.su-button-disabled {
		p {
			color: #2F3144;
			text-shadow: 0 1px 0 rgba(118,120,142,.52);
		}
		img {
			margin-top: -100px;
		}
	}
	
}