/*
 * Constants
 * 
 * Colors
 *   background - #fff
 *   border - #ccc
 */

.datagrid {
	display: none;
}
.yui3-datagrid .datagrid {
	display: block;
}
	.yui3-datagrid table {
		width: 100%;
		background: #fff;
	}

.yui3-datagrid.fixed {
}
.yui3-datagrid-content {
}
	.yui3-datagrid-content th {
		border-bottom: 1px solid #CCC;
		-moz-box-shadow: 0 1px 0 #DDD, 0 2px 0 #F6F6F6;
		-webkit-box-shadow: 0 1px 0 #DDD, 0 2px 0 #F6F6F6;
		box-shadow: 0 1px 0 #DDD, 0 2px 0 #F6F6F6;
		padding: 8px 10px;
		font-weight: bold;
	}
	
	.yui3-datagrid-content td {
		border-bottom: 1px solid #F5F5F5;
		padding: 8px 10px;
		cursor: pointer;
	}
	
	.yui3-datagrid-content tr:hover td {
		background: #EEE;
	}
	.yui3-datagrid-content tr:hover td:first-child {
		/*border-left: 3px solid #36c;*/
		background: #EEE;
		/*
		background: #EEE url(td-hover.gif) 0 0 repeat-y;
		*/
	}
	
	tr.yui3-datagrid-odd {
		/*background: #EDF5FF;*/
	}

.yui3-datagrid.fixed {
	position: relative;
}
.yui3-datagrid.fixed,
.yui3-datagrid.fixed .yui3-datagrid-content {
	height: 100%;
}
.yui3-datagrid.fixed .yui3-datagrid-content {
	overflow: auto;
	overflow-x: hidden;
}

.yui3-datagrid-spacer {
	background: url(../../supra/img/ajax-loader.gif) 50% 50px no-repeat;
}
