<div class="block gallery">
	{% set images = property('images') %}
	<h3>There are <strong>{{ images | length }}</strong> image(s).</h3>
	<ul>
	{% for image in images %}
		<li>{{ image.setWidth(300) | raw }}</li>
	{% endfor %}
	</ul>
</div>

{# Instructions how to render item in CMS Gallery manager edit mode #}
{% if supraPage.cmsRequest %}{% raw %}
<script type="text/supra-template" data-supra-container-selector="ul" data-supra-id="gallerymanager-item">
	<li class="one_third">
		<span class="outer">
			<span class="img">
				<img src="about:blank" alt="" />
			</span>
		</span>
	</li>
</script>
{% endraw %}{% endif %}