<div class="block form-block">
	<form class="form no-heading" method="post">
		<label for="nameInput">{{ property('nameLabel', 'inline_string') }}</label>
		<input type="text" name="name" id="nameInput" />
		
		<label for="emailInput">{{ property('emailLabel', 'inline_string') }}</label>
		<input type="text" name="email" id="emailInput" />

		<label for="emailInput">{{ property('messageLabel', 'inline_string') }}</label>
		<input type="textarea" name="message" id="messageInput" />

		<button type="submit">{{ property('buttonLabel', 'inline_string') }}</button>
	</form>
</div>