<div class="block form-block">
	<form class="form no-heading" method="post">
		<label for="nameInput">Name</label>
		<input type="text" name="name" id="nameInput" />
		
		<label for="emailInput">E-mail</label>
		<input type="text" name="email" id="emailInput" />

		<label for="emailInput">Message</label>
		<input type="textarea" name="message" id="messageInput" />

		<button type="submit">Send</button>
	</form>
</div>