{# Desktop version of menu, render as list #}
<nav class="menu block pure-xs-hidden pure-sm-hidden">
    <ul class="clearfix first-level">
    {% for link in collection({
        'name':  'linkCollection',
        'label': 'Links',
        'item': property({'name': 'link', 'type': 'link'})
    }) %}

        <li {% if supraPage.isActive(link.href) %}class="active"{% endif %}>{{ link | raw }}</li>

    {% endfor %}
    </ul>
</nav>

{# Mobile version of menu, render as dropdown #}
<nav class="menu block pure-md-hidden pure-lg-hidden pure-xl-hidden">
    <div class="select">
        <a class="select-item"><span></span></a>
    </div>
</nav>

<div class="clear"></div>
