{% set persons = collection(
    {'name': 'fooBarCollection', 'label': 'Foo Bar Collection'},
    set(
        {'name': 'fooBarSet', 'label': 'Foo Bar Set'},
        property('fullname', 'string'),
        collection('positions', property('position', 'string'))
    )
) %}


<h3>Persons</h3>
{% for person in persons %}
    <h5>{{ person.fullname }}</h5>
    {% for position in person.positions %}
        {{ position }}<br/>
    {% endfor %}
{% endfor %}