<div class="block sitemap">
	
	{% if not supraBlock.isEmpty('block_title') %}
	<h2 class="block-title"><div>
		{{ supraBlock.property('block_title') }}
	</div></h2>
	{% endif %}

	<ul>
	
	{% set level = 0 %}
	{% set prevLevel = 0 %}
	
	{% for data in map %}
	
		{% set child = data.localization %}
		{% set level = data.level %}
		
		{% if level != 1 and level > prevLevel %}
			{% set diff = level-prevLevel %}
			{% for i in 1..diff %}
				<ul>
			{% endfor %}
		{% elseif level < prevLevel %}
			{% set diff = prevLevel-level %}
			</li>
			{% for i in 1..diff %}
				</ul>
				</li>
			{% endfor %}
		{% elseif level == prevLevel %}
			</li>
		{% endif %}
	
		<li>
		
		{% if level == 1 %}
			<div>
		{% endif %}
		
		<a href="/{{ supra.locale.id }}{{ child.path }}">{{ child.title }}</a>
		
		{% if level == 1 %}
			</div>
		{% endif %}
			
		{% set prevLevel = level %}
	
	{% endfor %}
			
	{# Close unclosed lists #}
	{% if prevLevel > 1 %}
	{% for i in 2..prevLevel %}
		</li>
		</ul>
	{% endfor %}
	{% endif %}
	
	</li>
	</ul>
</div>