{% extends "inner-text.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	{# Text #}
	<div class="text">
		<h1>Vadība</h1>

		<h3>AAS „Gjensidige Baltic” padome</h3>
		<table>
			<colgroup><col width="142" /><col /></colgroup>
			<tr><td>Kim Rud Petersen	</td><td>Padomes priekšsēdētājs</td></tr>
			<tr><td>Ieva Trizna			</td><td>Padomes locekle</td></tr>
			<tr><td>Katrīne Judovica	</td><td>Padomes locekle</td></tr>
		</table>

		<h3>AAS „Gjensidige Baltic” valde</h3>
		<table>
			<colgroup><col width="142" /><col /></colgroup>
			<tr><td>Dace Brumziede 		</td><td>Valdes priekšsēdētāja</td></tr> 
			<tr><td>Aleksandrs Rjabovs 	</td><td>Valdes loceklis</td></tr>
			<tr><td>Ināra Meija 		</td><td>Valdes locekle</td></tr>
		</table>

		<h3>AAS „Gjensidige Baltic” akcionāri</h3>
		<table>
			<colgroup><col width="142" /><col /></colgroup>
			<tr><td>Akcionāri 				</td><td>Gjensidige Forsikring</td></tr>
			<tr><td>Reģistrācijas numurs 	</td><td>938741700</td></tr>
			<tr><td>Adrese 					</td><td>Drammensveien 288, 1326 Lysaker, Norvēģija</td></tr>
			<tr><td>Akciju skaits 			</td><td>225 000</td></tr>
			<tr><td>% no akciju kapitāla 	</td><td>100</td></tr>
		</table>

	</div>
{% endblock %}
