{% extends "main.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block content %}
	{# Main content #}
	<div class="content clearfix">

		<div class="grid-full">
			<img src="/assets/img/main/image-top.jpg" alt="" />
		</div>

		<div class="grid-full">

			<div class="sections clearfix">
				<div class="section-vehicle" data-column-id="section">
					<span class="deco"></span>
					<h2><a href="#">Transportlīdzekļu apdrošināšana</a></h2>
					<div class="heading">OCTA</div>
					<div class="links">
						<a href="#">Par produktu</a>
						<a href="#">Kalkulators</a>
						<a href="#">Iesniegumi</a>
					</div>
					<div class="heading">KASKO</div>
					<div class="links">
						<a href="#">Par produktu</a>
						<a href="#">Uzzini cenu</a>
						<a href="#">Noteikumi</a>
						<a href="#">Iesniegumi</a>
					</div>
					<div class="clear"><!-- --></div>
				</div>
				<div class="section-property" data-column-id="section">
					<span class="deco"></span>
					<h2><a href="#">Īpašuma apdrošināšana</a></h2>
					<div class="links">
						<a href="#">Īpašuma apdrošināšana</a>
						<a href="#">Speciālās tehnikas visu risku apdrošināšana</a>
						<a href="#">Mantas apdrošināšana</a>
						<a href="#">Būvuzņēmēja visu risku apdrošināšana</a>
						<a href="#">MAXI polise</a>
						<a href="#">Kalkulators</a>
						<a href="#">Noteikumi</a>
					</div>
				</div>
				<div class="section-health" data-column-id="section">
					<span class="deco"></span>
					<h2><a href="#">Veselības apdrošināšana</a></h2>
					<div class="links">
						<a href="#">Veselības apdrošināšana</a>
						<a href="#">Nelaimes gadījumu apdrošināšana</a>
						<a href="#">Noteikumi</a>
						<a href="#">Iesniegumi</a>
					</div>
				</div>
				<div class="section-travel" data-column-id="section">
					<span class="deco"></span>
					<h2><a href="#">Ceļojumu apdrošināšana</a></h2>
					<div class="links">
						<a href="#">Par produktu</a>
						<a href="#">Kalkulators</a>
						<a href="#">Noteikumi</a>
						<a href="#">Iesniegumi</a>
					</div>
				</div>
				<div class="section-other" data-column-id="section">
					<span class="deco"></span>
					<h2><a href="#">Citi apdrošināšanas veidi</a></h2>
					<div class="links">
						<a href="#">Kravas, jūras, dzelzceļa un aviācijas risku apdrošināšana</a>
						<a href="#">Civiltiesiskās atbildības apdrošināšana</a>
					</div>
				</div>
			</div>

		</div>

		<div class="grid-lc">

			<div class="news clearfix">
				<div class="news-1">
					<h2 class="font">Jaunumi</h2>
					<a class="font" href="#">No 2011.gada 1.janvāra Gjensidige piedāvā KASKO ar papildus pakalpojumu Autohelp24</a>
					<a class="font" href="#">AAS „Gjensidige Baltic” kompensēs Jelgavas Sporta hallei ugunsgrēkā radītos zaudējumus</a> 
					<a class="font" href="#">AAS “Gjensidige Baltic” - vērtīgākais apdrošināšanas uzņēmums Latvijā</a>
					<a class="font" href="#">KASKO atlīdzības turpmāk varēs pieteikt arī internetā</a>
				</div>
				<div class="news-2" data-column-id="news">
					<h2 class="font">Kalkulatori</h2>
					<a class="font" href="#">OCTA kalkulators</a>
					<a class="font" href="#">KASKO - uzzini cenu</a>
					<a class="font" href="#">Sērijveida dzīvokļa apdrošināšanas kalkulators</a>
					<a class="font" href="#">Ceļojumu apdrošināšanas kalkulators</a>
				</div>
				<div class="news-3" data-column-id="news">
					<h2 class="font">Noticis negadījums</h2>
					<div class="clearfix">
						<a class="font left" href="#">OCTA</a>
						<a class="font" href="#">Nelaimes gadījums</a>
						<a class="font left" href="#">KASKO</a>
						<a class="font" href="#">Ceļojums</a>
						<a class="font left" href="#">Īpašums</a>
					</div>
				</div>
			</div>

		</div>
		<aside class="grid-r">

			{% include 'samples/includes/third-menu.html.twig' %}

		</aside>

	</div>
{% endblock %}
