{% extends "inner-text.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block css %}
	<link href="/assets/css/page-news.css" rel="stylesheet" type="text/css" />
{% endblock %}
	
{% block text %}
	{# Text #}
	<div class="text news-list">
		<h1>Jaunumi</h1>

		<h2><a href="#">2011</a></h2>

		<h3><a href="#">No 2011.gada 1.janvāra Gjensidige piedāvā KASKO ar papildus pakalpojumu Autohelp24.</a> (28.12.2010)</h3>
		<p>
			Gjensidige KASKO papildus segums Autohelp24 ir diennakts auto tehniskā palīdzība uz ceļa un konsultācijas pa tālruni KASKO polises līguma darbības teritorijā, kā arī palīdzība apdrošināšanas gadījuma noformēšanai Rīgā, Rīgas rajonā un Jūrmalā. Autohelp24 ir atbalsts Jums un Jūsu auto negadījuma vietā, darot visu iespējamo, lai Jūs varētu turpināt iepriekš izvēlēto ceļu un ieplānotos darbus.
			Gadījumā, ja tomēr nevarēsiet turpināt ceļu ar savu auto, mēs būsim blakus -  Jūsu auto nogādāsim uz remontu, Jums palīdzēsim nokļūt mājās. <a href="#">Kā saņemt Autohelp24?</a> Slēdzot jaunu KASKO līgumu, papildus pakalpojumu Autohelp24 ir iespējams saņemt vieglajam pasažieru transportlīdzeklim, kam nav speciāls pielietojums (operatīvais, komercauto); ja KASKO polises darbības termiņš ir viens gads vai ilgāk; ja aprēķinātā KASKO gada prēmija ir EUR 250.00 un vairāk. 
			Vairāk par Autohelp24 variet uzzināt mūsu mājas lapas www.gjensidige.lv sadaļā <em>Apdrošināšanas noteikumi</em>, kā arī jautājot mūsu speciālistiem visā Latvijā vai zvanot darba dienās uz informatīvo tālruni: 67112222.
		</p>

		<h3><a href="#">AAS „Gjensidige Baltic” kompensēs Jelgavas Sporta hallei ugunsgrēkā radītos zaudējumus.</a> (24.12.2010)</h3>
		<h3><a href="#">AAS “Gjensidige Baltic” - vērtīgākais apdrošināšanas uzņēmums Latvijā</a> (24.12.2010)</h3>
		<h3><a href="#">KASKO atlīdzības turpmāk varēs pieteikt arī internetā.</a> (24.12.2010)</h3>
		<h3><a href="#">AAS „Gjensidige Baltic” iegādājas Nordicia apdrošināsānu. </a> (24.12.2010)</h3>

		<div class="hr"></div>

		<h2><a href="#">2010</a></h2>
		<h2><a href="#">2009</a></h2>
		<h2><a href="#">2008</a></h2>

	</div>
{% endblock %}
