{% extends "inner-text.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	{# Text #}
	<div class="text">
		<h1>Apdrošināšanas aģents darbam Preiļos</h1>

		<h3>Darba pienākumi:</h3>
		<ul>
			<li>apdrošināšanas produktu pārdošana;</li>
			<li>apdrošināšanas piedāvājumu sagatavošana un prezentēšana;</li>
			<li>klientu konsultēšana apdrošināšanas jautājumos</li>
		</ul>
		<h3>Prasības kandidātiem:</h3>
		<ul>
			<li>labas komunikācijas un pārdošanas prasmes;</li>
			<li>datorprasme (Microsoft Office programmu pakete);</li>
			<li>iepriekšēja pieredze apdrošināšanas darbā</li>
			<li>latviešu un krievu valodas zināšanas</li>
		</ul>
		<h3>Mēs piedāvājam:</h3>
		<ul>
			<li>interesantu darbu strauji augošā un prestižā uzņēmumā;</li>
			<li>iespēju pašam plānot savu darba laiku un pelnīt atbilstoši padarītajam;</li>
			<li>darbu atsaucīgā komandā</li>
		</ul>
		<h3>Kontakttālrunis: 67106440</h3>

	</div>

	<div class="form-message" method="post">

		<p><b>Paldies!</b> Jūsu pieteikums ir nosūtīts.</p>

	</div>
{% endblock %}
