{% extends "inner-text.html.twig" %}

{% use "samples/includes/includes.html.twig" %}

{% block text %}
	{# Text #}
	<div class="text">
		<h1>Apdrošināšanas aģents darbam Preiļos</h1>

		<h3>Darba pienākumi:</h3>
		<ul>
			<li>apdrošināšanas produktu pārdošana;</li>
			<li>apdrošināšanas piedāvājumu sagatavošana un prezentēšana;</li>
			<li>klientu konsultēšana apdrošināšanas jautājumos</li>
		</ul>
		<h3>Prasības kandidātiem:</h3>
		<ul>
			<li>labas komunikācijas un pārdošanas prasmes;</li>
			<li>datorprasme (Microsoft Office programmu pakete);</li>
			<li>iepriekšēja pieredze apdrošināšanas darbā</li>
			<li>latviešu un krievu valodas zināšanas</li>
		</ul>
		<h3>Mēs piedāvājam:</h3>
		<ul>
			<li>interesantu darbu strauji augošā un prestižā uzņēmumā;</li>
			<li>iespēju pašam plānot savu darba laiku un pelnīt atbilstoši padarītajam;</li>
			<li>darbu atsaucīgā komandā</li>
		</ul>
		<h3>Kontakttālrunis: 67106440</h3>

	</div>

	<form class="form" method="post">

		<div class="input-row">
			<label for="vacancy">Vakance</label>
			<select name="vacancy" id="vacancy">
				<option value="">Izvēieties vakanci</option>
				<option value="A">Apdrošināšanas aģents darbam Liepājā</option>
				<option value="B">Apdrošināšanas aģents darbam Ogrē</option>
			</select>
		</div>
		<div class="input-row">
			<label for="name">Vārds, Uzvārds</label>
			<span class="input-txt"><span><input type="text" name="name" id="name" value="" /></span></span>
		</div>
		<div class="input-row">
			<label for="phone">Tālrunis</label>
			<span class="input-txt"><span><input type="text" name="phone" id="phone" value="" /></span></span>
		</div>
		<div class="input-row">
			<label for="email">e-pasts</label>
			<span class="input-txt"><span><input type="text" name="email" id="email" value="" /></span></span>
		</div>
		<div class="input-row">
			<label for="cv">CV</label>
			<span class="input-file">
				<input type="file" name="cv" id="cv" value="" size="44" />
				<span class="input-txt"><span><input type="text" readonly="readonly" value="" tabindex="-1" /></span></span><span class="btn"><span><input type="button" value="Pievienot" tabindex="-1" /></span></span>
			</span>
		</div>
		<div class="input-row">
			<label for="text">Pieteikuma teksts</label>
			<span class="input-textarea">
				<textarea name="text" id="text"></textarea>
				<span class="c-lt"></span>
				<span class="c-rt"></span>
				<span class="c-rb"></span>
				<span class="c-lb"></span>
			</span>
		</div>

		<div class="button-row">
			<span class="btn"><span><input type="submit" value="Nosūtīt" /></span></span>
		</div>

	</form>

	<div class="text form-note">
		<p>
			Ja Jums ir pieredze apdrošināšanā, bet AAS "Gjensidige Baltic" darbu piedāvājumā neatradāt
			sev piemēroto vakanci, sūtiet motivācijas vēstuli un CV uz e-pastu:
			<a href="mailto:personnel@gjensidige.lv">personnel@gjensidige.lv</a>. Mēs izskatīsim Jūsu
			pieteikumu.
		</p>
	</div>
{% endblock %}

{% block js %}
	<script src="/assets/js/lib/jquery.file.js"></script>
{% endblock %}
