<div class="yui3-recycle sidebar">
	
	<!-- Header -->
	<h2 class="sidebar-header">Recycle bin</h2>
	
	<!-- Buttons -->
	<div class="sidebar-buttons">
		<button type="button" class="button-close"><p>Close</p></button>
	</div>
	
	<!-- Content -->
	<div class="sidebar-content has-header has-buttons scrollable">
		
		<ul class="recycle-list"></ul>
		
		<script type="text/html" id="recycleItemList">
			{% for item in items %}
			<li data-id="{{ item.id }}">
				<h3 class="{% if !item.date_diff %}hidden{% endif %}">{{ item.date_title }}</h3>
				<label>{{ item.title }}</label>
			</li>
			{% endfor %}
		</script>
		
	</div>
</div>