//Common style definitions
@import "/cms/lib/supra/less/common.less";


.cashier {
	position: absolute;
	bottom: 0;
}

/**
 * Cards
 */
.cashier .su-datagrid th,
.cashier .su-datagrid a {
	white-space: nowrap;
}
#CashierCards > .su-button {
	//Add new card button
	margin: -9px 0 0 10px;
	position: relative;
}