//Common style definitions
@import "/cms/lib/supra/less/common.less";


.cashier {
	position: absolute;
	bottom: 0;
}

/**
 * = Cards
 */
.cashier .su-datagrid th,
.cashier .su-datagrid a {
	white-space: nowrap;
}
#CashierCards > .su-button {
	//Add new card button
	margin: -9px 0 0 10px;
	position: relative;
}

.cashier .empty-message {
	.border-radius (5px);
	border: 2px dashed #4B4C5C;
	margin: 19px 0 19px 10px;
	
	div {
		.border-radius (5px);
		border: 2px dashed #2D2C38;
		position: relative;
		top: -1px;
		margin: -2px;
	}
	p {
		color: #1E1B27;
		font-size: 14px;
		font-style: italic;
		line-height: 50px;
		text-align: center;
		text-shadow: 0 1px 0 #5A566B;
	}
}

/**
 * = Clipboard
 */
.cashier .clipboard {
	background: url(../images/cashier/clipboard.png) 0 0 no-repeat;
	width: 503px;
	height: 649px;
	position: absolute;
	top: 45px;
	left: 50%;
	margin-left: -485px;
	
	.clipboard-content {
		margin: 97px 73px 0 67px;
		height: 441px;
		position: relative;
	}
	
	h2.title {
		color: #68605B;
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
		text-align: center;
		text-shadow: 0 1px 0 #FFFCEF;
		margin: 0 0 3px;
	}
}

/**
 * = Receipt view
 */
.cashier .receipt,
.cashier .payments {
	
	.loading-icon {
		border-right-color: #D29C6E;
		border-bottom-color: #D29C6E;
		display: none;
	}
	
	&.loading > div {
		display: none;
	}
	&.loading > .loading-icon {
		display: block;
	}
}

.cashier .receipt {
	padding-bottom: 25px;
	border-bottom: 1px solid #CBC6B8;
	position: relative;
	height: 350px;
	
	.thead {
		span {
			color: #ACA59A;
			font-size: 12px;
			font-weight: bold;
			line-height: 22px;
			display: block;
			padding: 0 6px 0 11px;
			
			&.align-right {
				float: right;
			}
		}
	}
	
	h3 {
		border-top: 1px solid #CBC6B8;
		padding: 22px 0 5px 11px;
		
		color: #272420;
		font-size: 16px;
		font-weight: bold;
		line-height: 18px;
	}
	
	ul {
		list-style: none;
		
		& + h3 {
			margin-top: 12px;
		}
	}
	li {
		padding: 10px 0 10px 11px;
		
		& > label {
			color: #68605B;
			font-size: 12px;
			line-height: 15px;
			
			display: block;
			float: left;
			width: 235px;
		}
		& > b {
			color: #272420;
			font-size: 20px;
			line-height: 20px;
			text-align: right;
			
			display: block;
			float: left;
			width: 73px;
			height: 20px;
		}
		& > span {
			display: block;
			float: left;
			width: 18px;
			padding: 2px 0 0 5px;
		}
	}
	
	.su-scrollable {
		height: 160px;
		
		& > .su-scrollable-scrollbar {
			.su-scrollable-scrollbar-background {
				background: #F1D5AC;
				top: 8px;
				bottom: 8px;
			}
			.su-scrollable-draggable {
				background: #D29C6E;
			}
		}
	}	
	
}

/**
 * = Period selection and results view
 */
.cashier .total {
	background: url(../images/cashier/total.png) 0 0 no-repeat;
	width: 569px;
	height: 357px;
	position: absolute;
	top: 190px;
	left: 50%;
	margin-left: -45px;
}

.cashier .total-form {
	height: 172px;
	padding: 40px 61px 0 84px;
	
	h2 {
		color: #717171;
		font-size: 20px;
		font-weight: bold;
		line-height: 20px;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
		margin: 0 0 17px;
	}
	h3 {
		color: transparent;
		font-size: 20px;
		line-height: 20px;
		
		text-indent: 100%;
		height: 23px;
		overflow: hidden;
		margin: 0 0 10px;
		
		background: url(../images/cashier/input-slider-title.png) 50% 0 no-repeat;
	}
}

.cashier .total-results {
	padding: 25px 57px 0 91px;
	
	.save,
	.pay,
	.buy {
		background: url(../images/cashier/total-results.png) 0 0 no-repeat;
		height: 72px;
		float: left;
	}
	.save,
	.pay {
		font-size: 12px;
		line-height: 14px;
		
		label {
			display: block;
			padding: 10px 0 0 20px;
			font-weight: bold;
		}
		b {
			display: block;
			padding: 6px 0 0 20px;
			white-space: nowrap;
		}
	}
	.save {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
		width: 104px;
		
		b {
			font-size: 28px;
			line-height: 28px;
		}
	}
	.pay {
		color: #272420;
		text-shadow: 0 1px 0 rgba(255, 242, 188, .71);
		width: 165px;
		background-position: -104px 0;
		
		b {
			font-size: 32px;
			line-height: 32px;
			padding-top: 1px;
		}
	}
	.buy {
		width: 152px;
		
		.su-button-buy {
			background: url(../images/cashier/total-results.png) -269px 0 no-repeat;
			width: 152px;
			height: 72px;
			
			div {
				padding: 0;
				width: 100%;
				
				button {
					width: 100%;
				}
				
				button p {
					height: 51px;
					padding: 21px 15px 0 58px;
					
					font-size: 28px;
					font-weight: bold;
				}
			}
		}
		.su-button-mouse-hover {
			background-position: -422px 0;
		}
		.su-button-mouse-down {
			background-position: -575px 0;
		}
		.su-button-disabled p {
			color: #fff;
			opacity: 0.3;
		}
	}
}

/**
 * = Payment view
 */
.cashier .payments {
	padding: 0 15px 0 12px;
	color: #68605B;
	font-size: 12px;
	line-height: 14px;
	
	.amount {
		border-bottom: 1px dashed #DDD4BF;
		padding: 18px 0 12px;
		
		label {
			float: left;
			color: #272420;
			font-size: 14px;
			font-weight: bold;
			line-height: 34px;
		}
		.align-right {
			float: right;
			display: block;
			max-width: 100px;
		}
		b {
			display: block;
			color: #008CDC;
			font-size: 26px;
			line-height: 24px;
			white-space: nowrap;
			padding: 1px 0 3px;
		}
		small {
			display: block;
			color: #010007;
			font-size: 11px;
			line-height: 11px; 
		}
	}
	
	.terms {
		padding: 11px 0 45px;
		
		.yui3-input-checkbox-standard {
			label {
				color: #68605B;
				cursor: pointer;
				font-size: 11px;
				font-weight: normal;
				line-height: 13px;
				text-shadow: none;
				padding: 0 0 0 25px;
				width: 310px;
				
				a {
					color: #68605B;
				}
			}
		}
	}
	
	.cards {
		h3 {
			color: #272420;
			font-size: 14px;
			font-weight: bold;
			line-height: 34px;
		}
		table {
			margin-bottom: 20px;
			width: 100%;
		}
		td {
			vertical-align: middle;
			padding: 18px 0 0;
			
			&.align-right {
				text-align: right;
			}
		}
	}
	
}

.cashier .logo-mastercard,
.cashier .logo-visa {
	position: absolute;
}
.cashier .logo-mastercard {
	background: url(../images/payments/logo-mastercard.png) 0 0 no-repeat;
	width: 75px;
	height: 28px;
	bottom: -1px;
	left: 119px;
}
.cashier .logo-visa {
	background: url(../images/payments/logo-visa.png) 0 0 no-repeat;
	width: 57px;
	height: 34px;
	bottom: 0px;
	left: 206px;
}

//Checkbox input
@import "../modules/checkbox/checkbox.less";

//Slider input
@import "../modules/slider/slider.less";
