* {
	padding: 0;
	margin: 0;
	border: 0;
}
a {
	color: #06c;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:link:-moz-read-write {
	color: #06c !important;
}
body {
	background: #fff;
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #333;
}

.wrapper {
	margin: 0 auto;
	width: 800px;
	padding: 0;
	overflow: hidden;
}

#header {
	border-bottom: 1px solid #ccc;
	padding: 25px 10px;
	margin: 0 0 20px;
	overflow: hidden;
}
	#header .logo {
		color: #7A4C89;
		font-size: 24px;
		line-height: 24px;
		text-decoration: none;
		display: block;
		float: left;
	}
	#header ul {
		list-style: none;
		float: right;
	}
	#header li {
		float: left;
		border-left: 1px solid #ccc;
		padding: 3px 10px;
		font-size: 14px;
	}
	#header li:first-child {
		border-left: 0;
	}

#content {
	float: left;
	width: 540px;
	padding: 0 0 10px 10px;
}
#sidebar {
	float: left;
	width: 230px;
	padding: 0 10px 0 10px;
}
#sidebar ul {
	list-style: none;
}

.text h1 {
	margin: 0 0 18px;
	font-size: 22px;
	font-weight: normal;
	line-height: 100%;
}
.text h2 {
	margin: 18px 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 100%;
}
.text h3 {
	margin: 18px 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 100%;
}
.text p {
	margin: 10px 0;
}

/* Image and Gallery */
.text img,
.text .gallery {
	float: right;
	margin: 0 0 9px 18px;
}
.text img.align-left,
.text .gallery.align-left {
	float: left;
	margin: 0 18px 9px 0;
}
.text img.align-middle,
.text .gallery.align-middle {
	float: none;
	margin: 0 18px 9px;
}

.text img.border,
.text .gallery.border {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
}

.text ul,
.text ol {
	padding-left: 20px;
	margin: 18px 0;
}

#content {
	outline: none;
}

.static {
	
}

.text p.gray-box {
	background: #f6f6f6;
	border-left: 4px solid #ccc;
	padding: 5px 10px;
}
.wrapper h1.inner-page,
.wrapper h2.inner-page,
.wrapper h3.inner-page,
.wrapper h4.inner-page,
.wrapper h5.inner-page {
	color: #7A4C89;
	text-decoration: underline;
}
.orange-text {
	color: #D6A265;
}

.green {
	color: #090;
}

/*
 * Instructions for "Style" dropdown
 * Each selector must be as separate declaration, no multiple selectors. Following format should be used
 * 		#su-style-dropdown OPTIONAL_CONTEXT_SELECTOR.CLASS_NAME[title="STYLE TITLE"]
 * 			OPTIONAL_CONTEXT_SELECTOR - optional. To allow adding CLASS_NAME class to element, HTMLEditor source node must match this selector
 * 			CLASS_NAME - css classname which will be added to element
 * 			STYLE TITLE - style title which will be visible in "Style" dropdown
 */
	/* Paragraph with gray background */
	#su-style-dropdown .text p.gray-box[title="P: Gray Block"] {}
	#su-style-dropdown .text div.gray-box[title="DIV: Gray Block"] {}
	
	/* Inner page heading */
	#su-style-dropdown .wrapper h1.inner-page[title="H1-H5: Inner Page Heading"] {}
	#su-style-dropdown .wrapper h2.inner-page[title="H1-H5: Inner Page Heading"] {}
	#su-style-dropdown .wrapper h3.inner-page[title="H1-H5: Inner Page Heading"] {}
	#su-style-dropdown .wrapper h4.inner-page[title="H1-H5: Inner Page Heading"] {}
	#su-style-dropdown .wrapper h5.inner-page[title="H1-H5: Inner Page Heading"] {}
	
	/* General style for all element and all containers */
	#su-style-dropdown .orange-text[title="All: Orange Text"] {}
	
	/* Bold text special style */
	#su-style-dropdown b.green[title="BOLD: Green Text"] {}
	
	/* Inner page heading */
	#su-style-dropdown .sample p.sample[title="P: Sample item which shouldn't match anything"] {}