/**
 * Panel
 */
.yui3-page {
	top: 67px !important;
	bottom: 20px;
	left: 20px !important;
	right: 20px;
	z-index: auto !important;
}
	.yui3-page>.yui3-panel-content {
		padding: 10px;
	}
	
/**
 * Heading
 */
h2.top-heading {
	padding: 5px 10px 10px;
	font-size: 14px;
}
	h2.top-heading span,
	h2.top-heading b,
	h2.top-heading em {
		font-weight: normal;
		font-style: normal;
		color: #333;
	}
	
	h2.top-heading span {
		color: #999;
	}
	h2.top-heading b {
		font-size: 16px;
	}