{% include "search-form.html.twig" %}

<div class="text">
	<h1>{{ supraBlock.property('resultListTitle') }}</h1>

	<p>
		{% if error %} 
			{{ supraBlock.property('errorMessage') }}
		{% else %} 
			{{ supraBlock.property('nothingFoundMessage') | raw }}
		{% endif %}
	</p>

</div>
