{% extends "root.html.twig" %}

{% block title %}
	SiteSupra &ndash; inner page
{% endblock %}

{% block content %}

	<small>Some decoration</small>
	<div style="background-color: yellow;">
		<!--placeHolder(main)-->
	</div>
{% endblock %}
