.welcome {
	top: 0 !important;
	z-index: 16;
	
	color: #fff;
	
	.welcome-mask {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.85;
		background: url(../images/welcome/background.gif) 0 0 repeat;
	}
	.welcome-content {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		margin-top: -195px; // for 390px height
		
		text-align: center;
	}
	
	h1 {
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 12px;
	}
	h2 {
		background: url(../images/welcome/line.png) 50% 100% no-repeat;
		padding-bottom: 20px;
		
		.site-title {
			color: #04A5FA;
		}
	}
	
	.steps {
		display: inline-block;
		margin: 20px 0 40px 0;
	}
	
	.su-button-mid-blue p {
		padding: 0 30px;
	}
}
