.yui3-editor-toolbar-hidden {
	display: none;
}

.yui3-editor-toolbar-main {
	background: url(/cms/supra/img/toolbar/buttons-background.png) 0 -50px repeat-x;
	height: 50px;
	text-align: center;
	
	position: relative;
	overflow: hidden;
	z-index: 1;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	box-shadow: 0 1px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

.yui3-editor-toolbar-main .yui3-toolbar-separator {
	display: none;
}

.yui3-editor-toolbar-main .yui3-button,
.yui3-editor-toolbar-main .yui3-button div,
.yui3-editor-toolbar-main .yui3-button button {
	background: none;
	padding: 0;
	vertical-align: top;
}
.yui3-editor-toolbar-main .yui3-button button {
	text-align: center;
	height: 50px;
	width: 67px;
}
.yui3-editor-toolbar-main .yui3-button p {
	color: #ccc;
	font-size: 11px;
	line-height: 1em;
	text-shadow: 0 -1px 0 rgba(0,0,0,1);
	text-align: center;
	display: block;
	
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.yui3-editor-toolbar-main .yui3-button img {
	opacity: 0.7;
	margin: 8px 0 4px;
	
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.yui3-editor-toolbar-main .yui3-button-disabled p {
	text-shadow: none;
}

.yui3-editor-toolbar-main .yui3-button:hover p,
.yui3-editor-toolbar-main .yui3-button-down p {
	color: #fff;
	-moz-transition: color 0.2s;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.yui3-editor-toolbar-main .yui3-button:hover img,
.yui3-editor-toolbar-main .yui3-button-down img {
	opacity: 1;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.yui3-editor-toolbar-main .yui3-button.yui3-button-down {
	background: url(/cms/supra/img/toolbar/buttons-background.png) 0 0 no-repeat;
}

.yui3-editor-toolbar-main .yui3-button.yui3-button-disabled p {
	color: #777;
}
.yui3-editor-toolbar-main .yui3-button.yui3-button-disabled img {
	opacity: 0.2;
}

.yui3-editor-toolbar-text {
	background: url(/cms/supra/img/toolbar/buttons-background.png) 0 -100px repeat-x;
	padding: 8px 10px 0;
	height: 42px;
	width: 800px;
	position: relative;
	margin: 0 auto;
	top: 0;
	
	-moz-transition-property: top;
	-moz-transition-duration: 1s;
	-webkit-transition-property: top;
	-webkit-transition-duration: 1s;
	transition-property: top;
	transition-duration: 1s;
	
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}
.yui3-editor-toolbar-text-hidden {
	top: -50px;
}

.yui3-editor-toolbar-text .yui3-button p {
	display: none;
}
.yui3-editor-toolbar-text .yui3-button-disabled img {
	opacity: 0.5;
}

.yui3-editor-toolbar-text .yui3-button-group,
.yui3-editor-toolbar-text select {
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

/**
 * Toolbar button animation
 */
.yui3-editor-toolbar-group {
    position: absolute;
    right: 0;
	left: 0;
    top: -50px;
    white-space: nowrap;
}
.yui3-editor-toolbar-group:first-child {
	top: 0;
}
