<!DOCTYPE html>
<html>
	<head>
		<title>log in</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function () {
				FB.init({
					appId: '{{appId}}', // App ID
					status: true, // check login status
					cookie: true, // enable cookies to allow the server to access the session
					oauth: true, // enable OAuth 2.0
					xfbml: true  // parse XFBML
				});
			};

			// Load the SDK Asynchronously
			(function (d) {
				var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
				js = d.createElement('script'); js.id = id; js.async = true;
				js.src = "//connect.facebook.net/en_US/all.js";
				d.getElementsByTagName('head')[0].appendChild(js);
			} (document));
		</script>

		<script type="text/javascript">
			var userId = '';

			$(document).ready(function () {
				$("#fb-link").click(function () {
					FB.login(function (response) {
						if (response.authResponse) {
							$.ajax({
								url: "/social/facebook",
								type: "POST",
								data: response,
								success: function (data) {
									var result = JSON.parse(data);
	
									if(result.success) {
										document.location = result.redirect_url;
									} else {
										$('#fb-result').text(result.errorMessage);
									}
								}
							});
						} else {
							$('#fb-result').text('Authentication failed');
						}
					}, {
						scope: 'manage_pages, publish_stream , offline_access, email, user_about_me'
					});
				});
			}); 
		</script>
		<a id="fb-link" href="#">Link Facebook account</a>
		<div id="fb-result"></div>
	</body>
</html>