<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Generator" content="SiteSupra" />
	<link rel="stylesheet" href="/public/sample/main.css"  type="text/css" />
</head>
<body>
	<div id="header" title="Header">
		<div class="inner">
			<!--placeHolder(header)-->
		</div>
	</div>

	<div id="content" title="Main">
		{% block content %}
			<!--placeHolder(main)-->
		{% endblock %}
	</div>

	<div id="footer" title="Footer">
		<!--placeHolder(footer)-->
	</div>
</body>
</html>
