<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Generator" content="SiteSupra" />
	{# @TODO: assetic to be used here.
		Need to deal with how to automatically obtain the URL of package.
	 #}
	<link rel="stylesheet" href="/resources/css/supra.css"  type="text/css" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body>
	<div id="header" title="Header">
		<div class="inner">
			{{ placeHolder('header') }}
		</div>
	</div>

	<div id="content" title="Main">
		{% block content %}
			{{ placeHolder('content') }}
		{% endblock %}
	</div>

	<div id="footer" title="Footer">
		{{ placeHolder('footer') }}
	</div>

	<script src="/public/sample/assets/js/lib/require-jquery.js" data-main="/public/sample/assets/js/index"></script>
</body>
</html>
