<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Generator" content="SiteSupra" />
	{# @TODO: assetic to be used here.
		Need to deal with how to automatically obtain the URL of package.
	 #}
	<link rel="stylesheet" href="/resources/css/supra.css"  type="text/css" />
</head>
<body>
	<div id="header" title="Header">
		<div class="inner">
			{{ placeHolder('header') }}
		</div>
	</div>

	<div id="content" title="Main">
		{% block content %}
			{{ placeHolder('content') }}
		{% endblock %}
	</div>

	<div id="footer" title="Footer">
		{{ placeHolder('footer') }}
	</div>
</body>
</html>
