//This file is included from customizesidebar/customizesidebar.css.less

/**
 * Fonts input
 */
.yui3-input-select-visual.yui3-input-fonts .su-button {
	.su-button-bg p {
		display: block;
		position: static;
		padding: 0 7px;
		
		font-size: 14px;
		line-height: 32px;
		text-align: left;
		text-shadow: none;
		white-space: nowrap;
	}
	
	&,
	&.su-button-mouse-hover,
	&.su-button-down {
		.su-button-bg p {
			color: #007CCB;
		}
	}
}