.banner {
	z-index: 5;
}
.banner.loading {
	background: #fff url(/cms/lib/supra/img/ajax-loader.gif) 50% 50% no-repeat;
}
.banner.loading > div {
	display: none;
}
.banner-inner {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

.banner .preview {
	text-align: center;
	padding: 30px 0;
	max-height: 200px;
	overflow: hidden;
}

.banner .preview-vertical {
	position: absolute;
	left: 30px;
	top: 0;
	bottom: 30px;
	max-width: 200px;
	max-height: 2000px;
}

/**
 * Stats
 */
.banner .stats {
	width: 290px;
	margin: 10px auto;
	padding: 15px 15px 5px;
	border-top: 1px solid #A3A4B7;
}
.banner .stats h3 {
	color: #0A0616;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(187, 188, 203, 0.6);
}
.banner .stats-field {
	padding: 10px 20px 0 0;
	display: block;
	line-height: 20px;
}
.banner .stats-field span {
	display: inline-block;
}
.banner .stats-field span.val {
	font-weight: bold;
}

/**
 * Form
 */
.banner .yui3-form {
	width: 300px;
	margin: 20px auto 0;
}
.banner form {
	margin: 0;
}

.banner .input-group {
	position: relative;
	margin: 0 -10px;
	padding: 0 10px;
	border-top: 1px solid #A3A4B7;
	
	.yui3-input {
		margin-bottom: 20px;
	}
	
	&:first-child {
		border-top: 0;
	}
}

.banner .input-group-button {
	padding: 10px 10px 20px;
	
	.su-button,
	.su-button div {
		display: block;
	}
	.su-button button {
		width: 100%;
	}
}


.banner .target .yui3-input-hidden,
.banner .schedule .yui3-input-hidden {
	display: block;
	margin: 0;
}

.banner .yui3-input-select-list .su-button p {
	min-width: 50px;
}

/**
 * Delete
 */
.banner .delete-group {
	width: 300px;
	margin: 0 auto;
	border-top: 1px solid #A3A4B7;
	padding: 10px;
}
.banner .delete-group .su-button,
.banner .delete-group .su-button div {
	display: block;
}
.banner .delete-group .su-button button {
	width: 100%;
}
