.body-login {
	background: #f0f0f0;
}

.login-form {
	width: 350px;
	overflow: hidden;
}
.login-form .footer a {
	display: inline-block;
	vertical-align: top;
	margin: 3px 0 0 20px;
	height: 25px;
	overflow: hidden;
}
