.yui3-template-list {
	list-style: none;
	padding: 5px 0 10px 5px;
	float: left;
}
.yui3-template-list li {
	padding: 5px 130px 5px 0;
	cursor: pointer;
}
.yui3-template-list div {
	width: 31px;
	height: 31px;
	border: 3px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: right;
	margin-right: -130px;
}
.yui3-template-list li:hover div {
	border-color: #e0e0e0;
}
.yui3-template-list li.selected div {
	border-color: #CDECFF;
}
.yui3-template-list img {
	display: block;
}
.yui3-template-list p {
	padding: 13px 20px 0 0;
	font-size: 12px;
}