.page-new .yui3-form-content {
	margin-top: 10px;
}
.page-new .yui3-form .yui3-input label {
	display: block;
	width: auto;
	color: #333;
	padding: 0;
}
.page-new .yui3-form .yui3-input input {
	width: 250px;
}

.page-new .template-preview {
	border: 1px solid #999;
	width: 248px;
	height: 124px;
	background: #fff;
	margin: 2px 0 15px;
	cursor: pointer;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.page-new .template-preview:hover,
.page-new .yui3-input-template-focused .template-preview {
	border-color: #36c;
}
.page-new .template-preview img {
	margin-top: 0;
}
.page-new .yui3-footer button {
	width: 240px;
}
